[2015-11-29 23:17] samphippen commented on #1335
@seuros I know it's been a little while, but is this still something you'd be interested in looking at?

[2015-11-30 00:27] JonRowe commented on #1490
Get's my vote @samphippen

[2015-11-30 16:27] weimeng commented on #1494
@oncelife just in case you are using the `database_cleaner` gem on `1.4.0`, you might want to upgrade. there's a known issue where the schema_migrations table is being cleaned as well: https://github.com/DatabaseCleaner/database_cleaner/issues/317

Just ran into this problem myself.

[2015-11-30 23:49] JonRowe commented on #1495
[code]

should work, as it compares the arguments on the queue

[2015-11-30 23:50] JonRowe commented on #1495
Scoping might be an issue tho, as my_model would have to exist first

[2015-12-01 13:37] NekoNova opened #1498 "PUT vs PATCH behaviour"
## Description ##
Let me start by providing a bit of background information. We are currently in the process of upgrading our Rails 3.2 application to 4.2. During the upgrade we ran into a problem where we have the following route originally defined:

[code]

When I run the command `rake routes`, I can clearly see the route `change_monitoring_status` being defined as a member route of the supplier

[2015-12-01 16:03] samphippen commented on #1363
I'm going to close this because we don't have a reproduction case. @panSarin If you can provide one we'll hapilly re-open and investigate.

[2015-12-01 16:03] #1363 closed

[2015-12-01 16:04] samphippen commented on #1494
I'm going to close this issue because we don't have a reproduction case. @oncelife if you can provide a reproduction case we'll happily re-open this and debug.

[2015-12-01 16:04] #1494 closed

[2015-12-01 16:08] samphippen commented on #1393
I'd like to see this work as a first class behaviour. I think we should soft depend on rails-controller-testing and provide an integration if it's present. I'm happy to work on this.

[2015-12-01 16:09] samphippen commented on #1358
This is being done in #1492

[2015-12-01 18:26] arthurnn commented on #1358
thanks @samphippen

[2015-12-01 22:42] JonRowe commented on #1358
Closing in favour of #1492, we've also been running builds since #1485

[2015-12-01 22:42] #1358 closed

[2015-12-01 22:44] JonRowe commented on #1498
@NekoNova RSpec uses Rails underlying test semantics to work this out so it's behaving as Rails would, so I suggest you're looking in the wrong place. It could be Rails itself at fault (unlikely) but I'd imagine it's more likely your app server / front end is doing something with the `PATCH` requests.

[2015-12-01 22:44] #1498 closed

[2015-12-01 22:50] JonRowe commented on #1393
I'd be ok with conditionally supporting this, and requiring `rails-controller-testing` as a soft dependency for Rails 5

[2015-12-02 10:44] NekoNova commented on #1498
we've actually dived deeper into this and came to an interesting conclusion:

When you write ControllerTests, this behaviour occurs.
However, when you write Integration tests, the behaviour is working as expected.

I will open an issue with Rails for this.

[2015-12-05 16:16] #1490 closed

[2015-12-06 18:58] samphippen commented on #1495
@sobrinho can you confirm this is still an issue after @JonRowe's answer please?

[2015-12-06 19:01] samphippen commented on #1451
@agis- can you send us a github repo with a small rails app to demonstrate this issue that we can debug against? Specifically, we'd like to see two things:

1. A commit which is just initialising an empty rails app
2. A second commit which includes all of the changes you made to demonstrate the issue.

If you could keep the example as small as possible, that will help us debug this.

[2015-12-06 19:08] samphippen commented on #1442
Reproduction case is put a file called `spec/models/widgets_spec.rb` in a rails app with a "Widget" model.

[code]

[2015-12-06 19:36] jasnow commented on #1451
@agis- Is your repo public? If so, I will be glad to help.

[2015-12-06 19:39] jasnow commented on #1451
@aegis - What version of rspec did not use with Rails 3.2?

[2015-12-06 19:45] jasnow commented on #1451
In: http://rspec.info/blog/2014/05/notable-changes-in-rspec-3, I found this:
[code]

[2015-12-06 20:18] samphippen commented on #1442
@cupakromer I have a sketch of a fix for this. I'm going to clean it up a little and PR it tomorrow.

[2015-12-07 13:24] jasnow commented on #1451
@aegis - What's your status on this issue?

[2015-12-07 14:50] sobrinho commented on #1495
It wouldn't work because the expect block does not leak the variable:

[code]

[2015-12-07 14:53] sobrinho commented on #1495
Declaring the variable before the block gets called works but it's tricky to understand.

A better way would be to have an API similar to this:

[code]

[2015-12-07 19:35] kyletolle commented on #1488
I got tripped up by this same thing. I needed to `include RSpec::Rails::Matchers` in a class where I'd moved some code, even though the controller was automatically ready to use the `have_enqueued_job` matcher. I think it'd also be nice if the module were included by default.

Thanks for the explanation! It allowed me to get on my way.

[2015-12-07 22:48] JonRowe commented on #1495
This will work:

[code]

[2015-12-07 22:49] samphippen commented on #1495
@JonRowe we need to be able to provide a better api than that IMO! That's very non-obvious.

[2015-12-07 22:52] JonRowe commented on #1495
We do, we provide `with`, but the object isn't known about at the time of the creation of expectation, an another alternative would be to refactor the service to take in its collaborators rather than relying on the return value being created. The block format for the matcher is currently required to garner detail about changes in queue size.

[2015-12-07 23:01] samphippen commented on #1495
@JonRowe so do we close this, or is there something we can do?

[2015-12-07 23:10] JonRowe commented on #1495
I'm going to say no, theres nothing we can do at this time.

[2015-12-07 23:10] #1495 closed

[2015-12-08 11:52] samphippen commented on #1451
I'm going to close this issue. @agis- if you can provide us with a reproduction case we'll happily re-open and take a look.

[2015-12-08 11:52] #1451 closed

[2015-12-10 10:06] deivid-rodriguez commented on #1471
This is a circular require warning in `capybara`. I fixed it there: https://github.com/jnicklas/capybara/pull/1622

I have no idea why the first line of the backtrace (the important one) is removed. Maybe somewhere `set_backtrace` is being called and the first line removed for some reason.

[2015-12-10 14:11] #1339 closed

[2015-12-10 16:55] samphippen opened #1504 "add a changelog entry for 1499"
Just adding this so I don't forget to do it.

[2015-12-10 21:48] #1504 closed

[2015-12-12 01:42] monfresh commented on #925
I got it to work with this helper method: https://github.com/codeforamerica/ohana-api/blob/master/spec/support/request_helpers.rb#L9-L16

and specs that look like this: https://github.com/codeforamerica/ohana-api/blob/master/spec/api/cors_spec.rb

[2015-12-12 11:04] deivid-rodriguez commented on #255
Hi! So at this point we know this is a Rails issue, but there's not any opened issue in Rails for this. Right?

[2015-12-13 12:19] samphippen commented on #1433
@cupakromer is this a dup of #1442 ?

[2015-12-13 13:44] samphippen commented on #985
hi @cybdoom none of us can really be added to a private repo for all sorts of horrifying intellectual property and warranty reasons. We need you to either provide a **new** repo with a reproduction case, or we won't be able to help.

Could you please take the following steps:

1. initialise a new repo with the correct version of rails
2. commit **just the rails new stuff**
3. do a second commit wh

[2015-12-14 16:04] #985 closed

[2015-12-14 16:06] samphippen commented on #809
@cupakromer is this still real? Can we close because stale?

[2015-12-14 23:35] JonRowe commented on #809
I vote close as stale until theres a reproduction in current rspec / rails versions.

[2015-12-14 23:35] #809 closed

[2015-12-15 13:16] samphippen commented on #1393
I've just fixed this with fc5fe38

[2015-12-15 13:16] #1393 closed

[2015-12-15 21:10] #1442 closed

[2015-12-16 15:39] Bartuz opened #1506 "Anonymous controllers don't have access to "let" variables"
I'm testing some `before_action`s on anonymous controllers
[code]

and this fails at two stages.
1. On RSpec load stage (before any specs are run)
2.  (After `SECRET_MESSAGE = secret_message` is removed from controller) While specs are running

I wonder if it's a bug or intended thing. Here are errors messages.

1. On load stage

[code]
2. On run stage:
[code]

[2015-12-16 22:18] JonRowe commented on #1506
An anonymous controller is executed in the content of a controller and not in the context of a test, so this is a side effect of how Ruby's scoping works. If you want to replicate this behaviour something like this should work:

[code]

Which I believe will work because local variables are accessible in the block when defined like that. Local variables aren't considered best practise when used wit

[2015-12-16 22:18] #1506 closed

[2015-12-18 15:29] maebeale commented on #1353
thanks, @myronmarston !

[2015-12-19 19:55] samphippen commented on #1433
This was fixed by #1501

[2015-12-19 19:55] #1433 closed

[2015-12-19 21:10] #1403 closed

[2015-12-22 20:27] dsarhadian opened #1509 "Issue with rspec:install"
Hi everyone,

I'm trying to use rspec in my new app, but when I run the rails g rspec:install command, I get the following error:

[code]

All of my gems are up to date, I'm running Rails version 4.2.5 and Ruby version 2.2.3.

Can anyone help?

[2015-12-22 20:33] jasnow commented on #1509
This is probably a spring gem issue. Try locking it down to spring '1.5.0' to see root cause.

[2015-12-22 20:36] dsarhadian commented on #1509
Hi @jasnow, I added that to my gem file, ran bundle update, and then the rspec:install command and still getting the same results.

[2015-12-22 20:37] jasnow commented on #1509
Is your repo public? If so, add URL as a comment.

[2015-12-22 22:56] dsarhadian commented on #1509
Hi @jasnow,

The repo isn't public but it is a brand new rails app. There have been no changes to any files except the Gemfile to add the rspec_rails gem.

[2015-12-23 00:03] jasnow commented on #1509
Tried to reproduce:
[code]
What did I miss?

[2015-12-23 14:02] jasnow commented on #1509
@dsarhadian - Can you fork my **myappdec22** app, reproduce the above issue, and send me a pull request so I work it. I can't reproduce it locally. Thanks.

[2015-12-23 17:47] dsarhadian commented on #1509
@jasnow - It looked like it was a spring issue... I tinkered with it a bit more and got it to work properly. Thanks for your help!

[2015-12-23 17:47] #1509 closed

[2015-12-23 17:48] jasnow commented on #1509
You are welcome.

[2015-12-28 07:15] VoTaiTri opened #1511 "pass a `let` variable like a argument to `shared_example`?"
hello, i've some problem with `shared_example`
anyone can help me? thank!
first, i've defined variable by `let` block like that :
[code]
and my `shared_examples` like :
[code]
in my test case, i call :
[code]
and when i run rspec, i get error:
`'method_missing': undefined local variable or method 'auth_false' for ...`
so, can't we pass a `let` variable like a argument to `shared_examples` like abo

[2015-12-28 08:09] myronmarston commented on #1511
You can pass a block to `it_should_behave_like` to define hooks, `let` declarations, etc for use by the shared group:

[code]

[2015-12-28 08:09] #1511 closed

[2015-12-29 02:26] VoTaiTri commented on #1511
@myronmarston. thanks you so much!

[2015-12-29 19:23] TravisTam opened #1513 "About before_update"
I am writing a spec to test controller has successfully update record. However I found there is some problem while in below coding. I am expecting nickname will not be changed while in rspec update test. It seems before_update has problem, 'nickname_was' shows the current value rather than the previous value. Is there any I am missing?

[code]

[code]

[code]

[code]

[2015-12-30 14:21] TravisTam commented on #1513
Sorry, this is my problem in controller calling update_column directly. Rspec is running currently thanks

[2015-12-30 14:21] #1513 closed

[2015-12-31 17:26] sebastiandeutsch opened #1515 "Request Specs throw a deprecation warning with Rails 5"
In my spec:

[code]

will give me the following deprecation warning:

[code]

I assume ActionDispatch::IntegrationTest should mimic the interface that is proposed by Rails 5.

My Gemfile.lock

[code]

[2015-12-31 23:47] JonRowe commented on #1515
Thanks for reporting this, we're probably sending extra params to mimic an older behaviour in Rails.

[2016-01-01 00:58] jasnow commented on #1515
Try this:
[code]

[2016-01-01 10:47] sebastiandeutsch commented on #1515
@jasnow you probably mean ```params:``` but yes it does the trick. Thanks a lot.

[2016-01-01 10:47] #1515 closed

[2016-01-01 12:25] jasnow commented on #1515
Yes, typo.

[2016-01-01 12:26] jasnow commented on #1515
Fixed

[2016-01-02 14:57] alestuber opened #1517 "Dependency problem actionpack with rails 5"
Hi,

I'm trying to update rspec 3.1 to some of the new versions (3.2, 3.3, 3.4) to get the following bug fix on 3.2:
[code]
I'm using Rails 5 beta and there lies the problem: I can't update rspec to any version newer than 3.1 because of the dependency on actionpack (which can't use the actionpack (= 5.0.0.beta1)):
[code]
That said, I can run the tests if I put RSpec.feature by hand on my tests, or

[2016-01-02 15:06] jasnow commented on #1517
Try this in your Gemfile:
[code]

[2016-01-04 22:27] a-leung opened #1519 "Passing in boolean true to model in request test"
Rails version: 4.1.10
Rspec-rails version: 3.0.2

I'm writing a request test and a model requires an attribute to be boolean `true`, not string `true`.

When passing this parameter in from a request test (`param[:attribute] = true`), the model receives: `model.attribute = "true"`. (`"true"` as string)

When passing the parameter in from a controller test (`param[:attribute] = true`), the model rec

[2016-01-04 22:35] jasnow commented on #1519
Did you try model.attribute = (1 == 1)?

[2016-01-05 00:18] rezadehganpour opened #1520 "undefined method `to' for true:TrueClass"
I am running RSpec 3.4.0
expect (true).to be_truthy is throwing an error.

[code]

[2016-01-05 00:23] myronmarston commented on #1520
The problem is the space between `expect` and the opening paren:

[code]

The ruby parser evaulates this as:

[code]

If you remove the space so that it's like this:

[code]

...then it'll work.

[2016-01-05 00:23] #1520 closed

[2016-01-05 02:50] rezadehganpour commented on #1520
Thank you

[2016-01-05 03:39] a-leung commented on #1519
the problem is not assigning `model.attribute`, but in the differences between rspec params being passed in from the controller (`params[:attribute] = true` results in: `model.attribute == true`) and the request (`params[:attribute] = true` results in `model.attribute == 'true'`).

given the same parameters, controller tests pass the boolean true to models, while request tests pass string true to

[2016-01-06 02:46] JonRowe commented on #1517
As above, you need to use the `master` version of `rspec-rails` and friends, but we're working on getting out a version that supports the beta (although this will similarly be a beta for us)

[2016-01-06 02:46] #1517 closed

[2016-01-06 04:28] #1519 closed

[2016-01-06 04:31] JonRowe commented on #1519
This is an issue in how rails tests behave, in reality params will always be strings, unless previously decoded by middleware, e.g. in the case of JSON which may be why the controller tests allow you to pass in real objects...

[2016-01-06 14:28] a-leung commented on #1519
aaah ok. thanks for the clarification.

Is there any way to get requests tests to use the same middleware as controller tests?

[2016-01-06 21:34] JonRowe commented on #1519
They already will.

[2016-01-08 22:30] fernandomm opened #1524 "Using `should` from rspec-expectations' old `:should` syntax without explicitly enabling the syntax is deprecated."
Not sure if this is a bug or just the expected behavior.

I'm getting the following deprecation warning in 3.4.0:

[code]

If i add c.syntax = :should to my spec_helper the deprecation warning isn't shown.

But if I use:

[code]

It will still show this deprecation warning although "should" syntax is explicitly enabled.

[2016-01-08 22:55] myronmarston commented on #1524
That does indeed sound like a bug.  We do however have a test for this specific case -- see the last scenario here:

https://relishapp.com/rspec/rspec-expectations/v/3-4/docs/syntax-configuration#explicitly-enable-both-syntaxes

Any chance you could put together a repo with a reproduction?

[2016-01-09 00:04] fernandomm commented on #1524
Sure, the repository is here: https://github.com/fernandomm/should-bug

The message that you will get is:

[code]

Test file: https://github.com/fernandomm/should-bug/blob/master/spec/should_bug_spec.rb

Code that explicitly enable syntax: https://github.com/fernandomm/should-bug/blob/cd407e3d04b79bbcfc7325a3d9f43f6c72e4be6a/spec/spec_helper.rb#L20

I'm also able to reproduce the bug in rspec-expe

[2016-01-10 20:45] myronmarston commented on #1524
Thanks for taking the time to put that together!

I do indeed get that message, but that's not the deprecation you originally reported:

The deprecation you originally reported is from rspec-expectations, and has to do with the rspec-expectations' monkey-patched `should` syntax.  The deprecation you are actually getting is from rspec-mocks, and has to do with rspec-mocks' monkey-patched `stub`/`sh

[2016-01-10 20:45] #1524 closed

[2016-01-12 06:18] bronson opened #1525 "View tests don't include any helpers"
With RSpec 3.4 / Rails 4.2, I needed to mock controller-defined helpers.

Now, with RSpec master / Rails 5, it appears I need to mock *all* helpers, including built-ins (model_url, etc).

Is this intentional?  #1076 makes it clear that leaving out Controller Helpers is intentional.  Not including any helpers at all, however, might a little extreme?

FWIW, here are the changes I needed to make to m

[2016-01-12 07:22] JonRowe commented on #1525
Rails 5 support is in a pre beta state, but cc @samphippen

[2016-01-12 07:32] samphippen commented on #1525
this seems like it should work... I'm gonna have to investigate.

[2016-01-12 07:33] samphippen commented on #1525
It's worth noting view tests are not really a thing anyone writes in rails without RSpec, so there's probably some fail here.

[2016-01-14 19:00] mrdougwright opened #1527 "Rails 5 compatibility?"
I've added `gem 'rspec-rails', '~> 3.4'` to a new Rails 5 app. This is the error message when running `bundle update`

[code]

[2016-01-14 22:27] #1527 closed

[2016-01-14 22:28] JonRowe commented on #1527
You need to use the `master` versions of `rspec` and `rspec-rails` for now.

[2016-01-15 17:32] ssuttner opened #1528 "ActiveJob `have_enqueued_job.with` cannot match objects"
Hey,

I'm having trouble using the `.with` method.
It works ok with simple arguments such as strings or integers, but it does not for model instances.

I debugged the code and on this line
https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/matchers/active_job.rb#L29

it checks that the serialized argument matches the argument of the job, and that second one is not serialized.
It kind

[2016-01-16 22:52] adsteel commented on #1527
For others, I had to list the gems like this to install with Rails 5:

[code]

[2016-01-17 22:33] JonRowe commented on #1528
Thats kinda expected, ActiveJob will only queue simple arguments like strings and integers, as you can see it automatically serialises the model to it's global id, if you checked for the presence of the global id in the queue it'd work fine. If you'd like to work up a PR for us automatically translating arguments into their global id I think I'd support it.

[2016-01-17 22:40] vasspilka opened #1529 "Rails 5 deprecation for use_transactional_fixtures"
Rails is deprecation use_transactional_fixtures for use_transactional_tests

`DEPRECATION WARNING: use_transactional_fixtures= is deprecated and will be removed from Rails 5.0 (use use_transactional_tests= instead)`

but using the latter causes this `undefined method 'use_transactional_tests=' for #<RSpec::Core::Configuration:0x000000018ee5d0>`

Using rspec against master branch so I have the late

[2016-01-17 22:42] vasspilka commented on #1529
Nevermind, seems `use_transactional_fixtures` does not cause a deprecation message on master branch.

[2016-01-17 22:42] #1529 closed

[2016-01-20 17:18] d3crypt3d opened #1530 "Custom Rails exceptions app is not performed in controller specs"
Hello, I'm having trouble when testing controller specs. I use a custom exceptions app:
[code]
 And everything works as expected when I use curl or browser. But when I try to test it with Rspec I observe a strange behaviour: seems my exceptions app is **omitted** by my specs at all (discovered this with debugging)! And I get 200 status intead of 404 when requesting a non-existing resource.
I have

[2016-01-21 00:35] JonRowe commented on #1530
You actually want to raise exceptions, not show them, a 200 would be the page response showing the exception and backtrace in standard Rails format (ala development mode). This is not something RSpec controls directly, you need to configure Rails to load your custom exception handling.

[2016-01-21 00:35] #1530 closed

[2016-01-21 08:18] d3crypt3d commented on #1530
But I have already done that. And as I said, everything works fine when I use curl (I start the server in test environment).

[2016-01-22 00:01] JonRowe commented on #1530
RSpec is not responsible for setting up controllers for tests, we leave that to Rails, (rspec-rails is a thin shim around Rails own test setup), maybe raise the issue there?

[2016-01-22 00:03] JonRowe commented on #1530
Although is `config.action_dispatch.show_exceptions = true` a typo? As you need this to be `false` to get exceptions actually raised... (or am I misunderstanding how the exception app works?)

[2016-01-22 10:05] d3crypt3d commented on #1530
@JonRowe said

No, it's not a typo. By default it's set to false:
[code]

@JonRowe said

If I knew what actually happens under the hood when a controller spec is invoked...
Yesterday I was experementing a lot. I discovered that controller specs **completely omit** `ActionDispatch::ShowExceptions` instance. This stuff works in pair with `ActionDispatch::ExceptionWrapper` and another app, that proce

[2016-01-22 22:47] mikegrassotti commented on #684
This seems to trip up a lot of developers. Agreed it does not make sense to call reload automagically. Seems we could save a lot of lost hours by watching for this situation and provide a warning (which can be suppressed) as is done here: https://github.com/rspec/rspec-expectations/pull/768

[2016-01-23 01:05] jessieay commented on #1387
I am seeing the same thing (`rspec spec` not running any specs in the `spec/feature` directory) and my code is open source so I thought I'd like to it here for anyone interested in seeing an example in a full Rails codebase: https://github.com/18F/dolores-landingham-bot

I will update back here if I figure out a solution / reason

[2016-01-23 01:16] jessieay commented on #1387
Update: I am trying to update my Rakefile (https://github.com/18F/dolores-landingham-bot/blob/master/Rakefile) to include a pattern for rspec

This pattern:
[code]
Runs all of the specs in the features directory.

This pattern:
[code]
Runs all of the specs in my spec directory *except* for the `features` directory (within `spec`).

This pattern:
[code]
Runs all of my model and request specs.

This

[2016-01-23 01:40] jessieay commented on #1387
Ok I was wrong.

Here is how I was testing to see if my feature specs were running or not: when I ran them in isolation, they failed because there was a helper method they were using that was not being included properly.

When I ran the whole suite, there were no failing specs, I am guessing because the helper method was being loaded for a request spec that was also being run.

I realized my error

[2016-01-23 01:49] myronmarston commented on #1387
If you run rspec with `--format doc` you'll get detailed documentation output from your specs, and you can see if the doc strings from your feature specs are included.

[2016-01-23 04:03] sheharyarn commented on #1329
I know this is deprecated, but this fixed this for me:

[code]

[2016-01-23 04:32] JonRowe commented on #1530
Rails determines what runs where, starting up a server is not the same as
initialising a controller for a test. If you write a feature spec for this
you'll probably find it behaves as you expect.

[2016-01-23 19:48] d3crypt3d commented on #1530
Yes, it does behave a different for each kind of specs. When it comes for controller specs, all actions are performed within the controller scope - seems this is the way it's designed. Nevertheless, thank you John.

[2016-01-24 20:31] JayTeeSF commented on #818
Can someone please share the piece of code (or module) that does the template lookup? I've seen this question repeatedly asked (through the years) and knowing what lookups the template, might help. (I'd appreciate it :-) )

[2016-01-25 00:12] vanboom opened #1531 "expect to change not working for has_many :through relationships"
[code]

If you add a puts statement to print the grandchildren count, then the expectation will pass properly, otherwise it fails.

thanks!

[2016-01-25 11:05] JonRowe commented on #1531
Try `change { item.grandchildren.count }.by(1)` instead of the other form, I expect this is a reference issue, I imagine that the `item.grandchildren` passed into RSpec doesn't know item has been reloaded so isn't clearing the query cache, but the full `item.grandchildren.count` in the block does know about the `item.reload` and is invalidating the cache.

[2016-01-25 21:15] todd opened #1532 "Undefined Method `cache` in Tests for Rails 4.2.5.1"
Re: https://github.com/rails/rails/issues/23244

We're running rspec-rails 3.3.3. After updating to Rails 4.2.5.1, we started seeing failures in our tests when calling our method for manually rendering 404 pages. It appears that everything works fine when running the app and accessing that code path in the browser.

Here's a full trace for the failure:
[code]

And here's the code in question:
[cod

[2016-01-25 21:20] jcoyne commented on #1532
as a workaround, I was able to do:
[code]

[2016-01-25 21:24] jaredhales commented on #1532
I just ran into the same error. Seems that in my case at least I have a `RSpec::Rails::ViewRendering::EmptyTemplatePathSetDecorator` object and it doesn't have a `@cache` variable

[2016-01-25 21:26] speedywizard commented on #1532
Got the same thing here with `RSpec::ViewRendering::EmptyTemplatePathSetDecorator`

[2016-01-25 21:38] jaredhales commented on #1532
Even if I patch it to have an `@cache`, then I get this: https://github.com/rails/rails/issues/23243

I'm not sure I know enough about what's supposed to be happening in here to fix it properly

[2016-01-25 21:45] fcheung commented on #1532
This monkey patch fixes it for me:

    RSpec::Rails::ViewRendering::EmptyTemplatePathSetDecorator.class_eval do
      alias_method :find_all_anywhere, :find_all
    end

[2016-01-25 22:16] kalleth commented on #1532
@fcheung Your monkey patch fixes it for me as well -- thanks. I was tearing my hair out for a bit there. Much appreciated.

[2016-01-25 22:42] samphippen commented on #1532
Hi There Everyone,

I haven't hand verified this, but the fix from @fcheung above seems to be working. We'll try and get the fix PR merged ASAP, and I've emailed the rest of the maintainers about cutting a patch release.

[2016-01-25 23:02] codeodor commented on #1532
Thanks for moving quickly on this. This thread has been a huge help. :+1: :heart:

[2016-01-25 23:22] pixeltrix commented on #1532
@samphippen I think the proper fix would be to implement `find_templates` rather than just alias `find_all_anywhere` to `find_all`. That way we're less likely to break you in the future.

[2016-01-25 23:30] robbkidd commented on #1532
So relieved to find others already working this problem. :revolving_hearts: Thanks, folks!

[2016-01-25 23:38] robuye commented on #1532
thank you @fcheung and everyone else, awesome job!

[2016-01-25 23:46] robbkidd commented on #1532
With @fcheung's monkey patch, the nil `@cache` error is resolved. I'm left with a few errors, along the line of:

[2016-01-26 07:35] kjohnston commented on #1532
Got bit as well.  Money patch works as an interim solution.  Thanks everyone for the quick response and discussion here.

[2016-01-26 10:05] pixeltrix commented on #1532
Just a bit of extra context - this only affects `render file: 'path/to/file` calls. To prevent directory traversal we lock down everything except `render :file` to the Rails root directory and the `:file` method takes a slightly different code path now when rendering that rspec-rails hasn't got in `EmptyTemplatePathSetDecorator`.

[2016-01-26 10:23] gingerlime commented on #1532
@pixeltrix we're seeing this with `render 'quizzes/show'` - not sure if this is a direct equivalent to `render :file => 'quizzes/show'` or not (I guess it is)

[2016-01-26 10:26] pixeltrix commented on #1532
@gingerlime can you provide some more context - I have a failing cucumber feature for `render :file => "path/to/file"` but it passes for `render "path/to/file"`.

[2016-01-26 10:29] gingerlime commented on #1532
@pixeltrix happy to provide more context, but not sure exactly what might help? I got this failure with rails 4.1.14.1 when using `render 'quizzes/show'` - with the `show` view living under `app/views/quizzes/show.html.haml`

[2016-01-26 10:30] gingerlime commented on #1532
applying [this patch](https://github.com/rspec/rspec-rails/issues/1532#issuecomment-174679485) resolved the problem for us.

[2016-01-26 10:31] gingerlime commented on #1532
you can also see a more detailed trace on rails/rails#23258 (which sent me here...)

[2016-01-26 10:32] pixeltrix commented on #1532
@gingerlime any gems that might monkey patch Action View?

[2016-01-26 10:37] Deradon commented on #1532
Same errors using `rspec-rails` w/ Rails v4.1.14.1.

[2016-01-26 10:40] gingerlime commented on #1532
[code]

[2016-01-26 11:22] samphippen commented on #1532
Hi Everyone, further to this, I'd like to make two moderation requests for this thread:

1. if @fcheung's fix does work for you, please do not post a message to that effect, we're aware it works for most people
2. if it does not work for you, please create a github repo with a small rails app, which barely deviates from `rails new` which explains the problem, and link to it from here. Please do no

[2016-01-26 11:50] gingerlime commented on #1532
apologies for pasting my entire `Gemfile`, but it was in response to [this question](https://github.com/rspec/rspec-rails/issues/1532#issuecomment-174947081) which I couldn't really answer directly. Happy to move it to a pastebin, gist or anything else. Didn't mean to spam, but I was [asked for more context](https://github.com/rspec/rspec-rails/issues/1532#issuecomment-174945480) (although the pat

[2016-01-26 11:52] samphippen commented on #1532
@gingerlime it's fine! Your context is super helpful, but I just want to make sure this thread doesn't become any more cluttered! I'm aware a lot of people super need a fix for this, and keeping this thread low-noise is going to be the best way to get that out quickly.

[2016-01-26 11:58] pixeltrix commented on #1532
@gingerlime looking at the backtrace you posted on the Rails issue you're definitely going through `render :file` at some point because it's goes through [this line][1] in the middle of it:

[code]

The backtrace also shows the top of the stack being `TrainerController#summary` - is that where the render "quizzes/show" is?

[1]: https://github.com/rails/rails/blob/v4.2.5.1/actionview/lib/action_vi

[2016-01-26 12:26] gingerlime commented on #1532
@samphippen totally understand, just wanted to make sure I fit within your guidelines, in case I did something wrong, since you mentioned pasting Gemfiles. Thanks for clarifying so I don't feel guilty ;-)

@pixeltrix that's correct. The last line in our `TrainerConrtoller#summary` action renders a template from `quizzes/show` using `render 'quizzes/show'` without using `:file =>`...

[2016-01-26 13:20] fcheung commented on #1532
https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/abstract_controller/rendering.rb#L77 suggests that render 'foo/bar' is converted to render :file =>

[2016-01-26 13:32] gingerlime commented on #1532
I thought it might be the case... but @pixeltrix [seemed to suggest](https://github.com/rspec/rspec-rails/issues/1532#issuecomment-174945480) that this only happens with `:file` and not without it though. right? that's why I jumped in to mention that this happens to us without the explicit `:file =>`.

[2016-01-26 13:44] pixeltrix commented on #1532
@fcheung @gingerlime the comment suggests that but I can't see anywhere in Action Pack that normalisation takes place - it certainly doesn't in the method below it. However the way in which it's normalised may be obfuscated since this is Rails after all :smile:

[2016-01-26 14:01] fcheung commented on #1532
Ah, the actual normalisation happens in https://github.com/rails/rails/blob/master/actionview/lib/action_view/rendering.rb#L116 and was changed from :file to :template at some point in the past, but only the comment in ActionView::Rendering was updated, not AbstractController::Rendering

[2016-01-26 16:07] samphippen commented on #1532
We have a fix for this specific issue. Going to merge it in shortly. Closing in favour of #1535 and #1536

[2016-01-26 16:07] #1532 closed

[2016-01-26 17:01] samphippen commented on #1532
I have released RSpec 3.4.1 which fixes this problem.

[2016-01-26 17:05] pixeltrix commented on #1532
@gingerlime it'd be good to know whether your `render "quizzes/show"` is fixed with RSpec 3.4.1

[2016-01-26 17:51] gingerlime commented on #1532
would be happy to test it, but I'm getting trouble upgrading to `rspec-rails` to 3.4.1. both master and `3-4-maintenance` branch give me some errors when I try to `bundle update`...

[code]

[code]

Sorry if it's just a dumb mistake, it's getting a bit late here...

[2016-01-26 17:55] gingerlime commented on #1532
sorry... it was a dumb mistake. I needed to upgrade `guard-rspec`.

I can confirm that my rspecs are passing without the monkey patch! :+1:

[2016-01-26 22:38] dougal opened #1537 "Performance Regression in 3.4.1"
While running specs on a large application I maintain, I noticed a significant slowdown in running controller specs where the action would ordinarily render a template, when using 3.4.1 as compared to 3.4.0.

I have provided an [example application which demonstrates this](https://github.com/dougal/rspec_performance_regression_demo_minimal).

### Benchmarking

The results I am seeing (using the ti

[2016-01-27 00:45] Jelkster opened #1538 "Rails 5 - undefined method `polymorphic_path' when running tests"
When running tests on a Rails 5 build, they fail as follows:

[code]

The same can also be observed on Travis:
https://travis-ci.org/Jelkster/repay_music/builds/105021996

I have all the rspec gems pointing to master.

[2016-01-27 01:11] jasnow commented on #1538
Check out this: https://github.com/rails/rails/issues/22794

[2016-01-27 01:24] JonRowe commented on #1538
As per @jasnow's feedback are you using Rails 5 beta 1 or Rails master?

[2016-01-27 01:57] Jelkster commented on #1538
beta 1.  running `rails server` actually crashes on me when i try master, so i expect to be submitting an issue related to that soon as well.

[2016-01-27 02:12] jasnow commented on #1538
Got "rails server" working, see my fork for my changes - used sqlite3 to simplify.

[2016-01-27 03:14] Jelkster commented on #1538
Thanks for taking a look @jasnow.  Regarding `rails s` when I ran it, I got the following message:
[code]
And it looks like you [commented it out](https://github.com/jasnow/repay_music/blob/666b4302acdc4e23569fae4123e9e1990f2dec3a/config.ru#L7) which would explain why it's working now.

[2016-01-27 07:44] samphippen commented on #1537
Subscribe.

[2016-01-27 11:48] mattfreer-mdsol opened #1539 "`not_to` not negating `redirect_to` and `render_template`"
Hi I have a some RSpec tests that follow the following format:

[code]
In both cases despite the subject of the test functioning as expected, the tests fail. The reason looks like it is a result of the assertions not being negated when using `not_to`.

For example when I run:
[code]
I get:
[code]

When I run :
[code]
I get:
[code]

I am running Ruby 2.1.7 with the following dependencies:

  * rail

[2016-01-27 17:05] samphippen commented on #1537
@dougal any chance you could work up a PR to fix this?

[2016-01-27 17:08] samphippen commented on #1538
@Jelkster are you using the [rails controller testing](https://github.com/rails/rails-controller-testing) gem?

If not, could you do the following:

0) start a new git repo
1) rails new an app at rails 5 and commit **just the rails new**
2) make all the changes necessary to expose the bug?
3) push the repo up to GitHub and link it here?

Having a clean repro is going to make this a lot easier to w

[2016-01-27 19:13] Jelkster commented on #1538
@samphippen so of course a newly created app passed with flying colors.  I *was* using the rails controller testing gem **however**, I did not have it pointing to master.  Once I did that, the errors went away.  YAY!!!

[2016-01-27 19:17] #1538 closed

[2016-01-27 21:07] dougal commented on #1537
After a short while with `stackprof` there didn't seem to be much extra CPU time being consumed. Something must be consuming time. IO?

#### 3.4.1

Using DTrace I was able to see that under 3.4.1, the view code was searching for templates from the disk, many times:

    $ cat dtrace-3.4.1.txt | egrep "getattrlist.*app/views/" | wc -l
         260

(The calls are for different variants of possible

[2016-01-27 21:10] samphippen commented on #1537
@pixeltrix or @sgrif can you advise here?

[2016-01-27 23:03] JonRowe commented on #1539
It's possible those matchers don't negate properly, but I'm surprised we've never received a bug report before if thats the case! In the mean time try this:

[code]

[2016-01-27 23:03] JonRowe commented on #1539
/cc @samphippen @cupakromer

[2016-01-28 04:25] sgrif commented on #1537
I'm currently out of the country, but I will be happy to take a look on Friday.

[2016-01-28 14:04] mattfreer-mdsol commented on #1539
Hi @JonRowe,

Thanks for the suggested workaround. However this also gives me unexpected results.
Having defined the negated matchers as you suggest, I still have failing tests, with similar output:

When I run:
[code]

I get:
[code]

Stacktrace:
[code]

Not sure if the following is what you would expect, but as the stacktrace shows `AliasedNegatedMatcher` determines that the `@base_matcher` (`hav

[2016-01-30 09:35] morgoth commented on #1528
@ssuttner If I understand your issue correctly, it should work. Take a look at this spec https://github.com/rspec/rspec-rails/blob/master/spec/rspec/rails/matchers/active_job_spec.rb#L192-L198
Global ID object is serialized as a job argument as well as an argument for `with` method.

[2016-01-31 00:20] JonRowe commented on #1528
Hmm, interesting

[2016-01-31 10:58] pixeltrix commented on #1537
@samphippen looks like the `ActionView::OptimizedFileSystemResolver` is about half of that:

[code]

The implementation for `ActionView::OptimizedFileSystemResolver` is simple enough to just copy over and not worry about breaking the `:nodoc:` contract. I'll continue to investigate where the other two seconds went.

[2016-01-31 11:00] samphippen commented on #1537
@pixeltrix what if you `#map!` here https://github.com/rspec/rspec-rails/commit/42b44a6a6d81e5554128ed6552825ed35faaf2cb#diff-275cf7192a569bb2bb4a7ee5419faee4R50 and use a single instance of https://github.com/rspec/rspec-rails/commit/42b44a6a6d81e5554128ed6552825ed35faaf2cb#diff-275cf7192a569bb2bb4a7ee5419faee4R51 stored in a constant, looked up each time, instead of newing one up?

[2016-01-31 11:39] pixeltrix commented on #1537
@samphippen I don't think that `ActionView::Template` instance is the same though - `template.identifier`, `template.virtual_path` and `template.formats` will be different.

[2016-01-31 11:48] pixeltrix commented on #1537
@samphippen also just checked that block of code is executed the same number of times in 3.4.0 and 3.4.1

[2016-01-31 13:27] pixeltrix commented on #1537
@samphippen it's because in 3.4.1 when we're creating the new resolvers in the view paths it's blowing away the cache, whereas it wasn't in 3.4.0 because it wrapped the existing resolvers by decorating the view paths.

I think I have a way to fix it without reaching inside the internals of `:nodoc:` classes.

[2016-02-01 00:43] sgrif commented on #1537
Just got a chance to look at this. It looks like you guys have it covered. I just wanted to mention the irony of the fact that "Optimized"FileSystemResolver is the source of the regression. Very optimized... :trollface:

Ok I'll go away now.

[2016-02-01 01:35] #1537 closed

[2016-02-01 09:54] pixeltrix commented on #1530
@d3crypt3d controller specs are essentially unit tests for controllers and as such do not exercise the full stack - the action is called directly on the instance of the controller and not through Rack. Therefore the exception middleware is never called and knows nothing about the exception. This is a common misconception - the number of times I've pointed it out on the Rails bug tracker has probab

[2016-02-01 19:06] soulcutter commented on #1531
Closing since this is expected behavior and the solution is explained above.

[2016-02-01 23:30] JonRowe commented on #1531
@soulcutter I only think that is what is going on, mind leaving this open until @vanboom has a chance to comment again?

[2016-02-01 23:31] JonRowe commented on #1530
@d3crypt3d it means when you hard deprecate them we will too

[2016-02-02 00:28] soulcutter commented on #1531
Sure, didn't mean to interfere. It just looked stale after a week

[2016-02-02 10:03] d3crypt3d commented on #1530
@pixeltrix how does Rails configure each kind of specs? I mean under the hood.

[2016-02-02 10:32] pixeltrix commented on #1530
@d3crypt3d Rails defines a number of minitest/test-unit classes - one for each type of test, e.g `ActionController::TestCase`, `ActionView::TestCase`, etc. Inside each of these classes there's a `Behavior` module that rspec-rails uses to create the various example groups, controller specs, view specs, etc. These `Behaviour` modules include a lot of other modules like `Rails.application.routes.url_

[2016-02-02 10:35] JonRowe commented on #1530
Yeah `rspec-rails` is just a thin wrapper around Rails own testing stuff

[2016-02-02 11:17] pixeltrix commented on #1525
I can't reproduce this with the latest RSpec master and Rails 5.0.0.beta2 - the url helpers are both available in the template context and the spec context. Recommend closing unless some new information comes to light.

[2016-02-02 15:03] samphippen commented on #1525
@bronson if you can give us a rails app to clone, which demonstrates the issue, we'll happily fix. In the meantime, I'm going to close.

[2016-02-02 15:03] #1525 closed

[2016-02-03 04:32] openbl commented on #1488
I just ran into this as well. It seems like either these matchers should be included by default or the docs should include the necessary set up to avoid similar confusion. Happy to help with either.

[2016-02-03 23:56] bronson commented on #1525
OK.  It's still happening in my app on beta2.  If nobody else is seeing this, it's probably something obscure with my app.

If anyone else runs into it, I'll take the time to isolate it.  Otherwise, happy to leave it closed.

[2016-02-04 14:42] Elux91 opened #1546 "rails g rspec:install doesn't work with Rails 5.0.0beta2 --api"
I created an rails api with the latest version of rails (Rails 5.0.0.beta2) and have the following rspec gems installed:
  * rspec (3.4.0)
  * rspec-core (3.4.2)
  * rspec-expectations (3.4.0)
  * rspec-mocks (3.4.1)
  * rspec-support (3.4.1)

when I try to run

    rails g rspec:install

I get the following error message:

Run `rails generate --help` for more options.

I assume it is a bug with r

[2016-02-05 12:03] samphippen commented on #1546
@Elux91 did you try off RSpec master? specifically, you'll want to have the following lines in your gemfile:

[code]

We haven't released a version of RSpec with rails 5 support yet, so until we do, you'll have to pull from git. If this works for you, let us know, if it doesn't, **very** let us know.

[2016-02-07 01:33] JonRowe commented on #1539
Ok so I've tested this myself and I can't replicate it, I've opened a PR showing negated examples working correctly (we already had specs for them) (on Rails 4.2, but the PR will test against all our supported versions of Rails) so if that passes we'll need more information to try to fix this...

[2016-02-07 10:57] JonRowe commented on #1539
The negated examples are all passing for us on Travis so there has to be something else at play here, whats generating `response` here?

[2016-02-07 21:55] adamniedzielski opened #1549 "Deprecation warning: use_transactional_fixtures= is deprecated"
I'm getting the following deprecation warning when running the tests against Rails 5.0.0.beta2:

[code]

I'm using:

[code]

and I have:

[code]

in ```spec_helper.rb```.

[2016-02-07 22:54] jasnow commented on #1549
Did you follow the deprecation warning's suggestion?

[2016-02-07 23:22] jordanyee commented on #1546
@samphippen @Elux91: FYI `rails g rspec:install` on RSpec master works fine for me!

[2016-02-07 23:23] samphippen commented on #1546
@jordanyee can you try the RSpec 3.5.0.beta1 release?

[2016-02-07 23:23] #1546 closed

[2016-02-07 23:23] JonRowe commented on #1549
Please check you are using an up to date version of master, or the recently released beta version of `rspec` and `rspec-rails`, failing that check that `::Rails::VERSION::STRING > '5'` returns true as this has already been fixed in `master` and the beta.

[2016-02-08 02:08] vanboom commented on #1531
So sorry, the issue was in my logic, not rspec.  Closing.

[2016-02-08 02:08] #1531 closed

[2016-02-08 07:21] adamniedzielski commented on #1549
That's my mistake - I didn't correctly update the dependencies. Sorry for that!

Using ```master``` and having ```config.use_transactional_fixtures = true``` triggers no deprecation.

However, when I change it to ```config.use_transactional_tests = true``` I get ```undefined method `use_transactional_tests=' for #<RSpec::Core::Configuration:0x000000033d5560> (NoMethodError)``` so it's not possible

[2016-02-08 07:21] #1549 closed

[2016-02-10 10:49] mattfreer-mdsol commented on #1539
Hi @JonRowe,

Thanks for confirming that this was not a rspec-rails issue. Your findings highlighted that this was probably a configuration issue with our app. Long story short, I discovered that the `test-unit` gem was also being included in the Gemfile, and that this was the culprit; interfering with these specific matchers when negated. Once this dependency was removed the relevant tests passed

[2016-02-10 13:10] #1539 closed

[2016-02-11 20:58] andrewhavens opened #1552 "No documentation for testing Mailers in README"
I see examples of most other common classes in the README. However, I don't see any examples for testing mailers. I happen to be trying to test a mailer, and looking for examples, but I am finding it hard to find examples of how to test html emails with RSpec. An example in the README would be helpful for others trying to do this.

[2016-02-12 06:08] JonRowe commented on #1552
Thanks for this, closing in favour of #1553, check it out if you still need some help :)

[2016-02-12 06:08] #1552 closed

[2016-02-13 14:38] samphippen commented on #817
@cupakromer is this still valid?

[2016-02-13 14:39] samphippen commented on #853
@cupakromer is this still valid? @ajh can you provide a reproduction case against RSpec rails master and a rails 4.x version?

Specifically for a repro case we'd look for

1) a rails app you generate with "rails new" and then commit
2) a second commit which adds all the things that demonstrate the bug.

[2016-02-13 14:41] samphippen commented on #872
@waiting-for-dev can you confirm this still affects you? Would you be able to provide a reproduction case of the following form:

1) rails new an app up, and commit it
2) do a second commit which contains all the stuff that causes the bug you're talking about

then push that to a repo and link it here.

[2016-02-13 14:43] samphippen commented on #1528
@ssuttner does this issue still affect you?

[2016-02-13 14:50] samphippen commented on #1471
@deivid-rodriguez we're still experiencing this. Do you know how we might fix it?

[2016-02-13 14:58] deivid-rodriguez commented on #1471
@samphippen It should disappear if you use capybara `2.6.0` or greater. But I remember something about you testing against the oldest `capybara` version you support. So not really sure...

[2016-02-13 15:00] samphippen commented on #1471
@deivid-rodriguez yeah, we're pinned at 2.2.1, so unless we can get the patch backported and released in to the 2.2.x series, there's nothing we can do here.

@yujinakayama WDYT about closing this?

[2016-02-13 15:12] deivid-rodriguez commented on #1471
@samphippen Maybe you can get that release out, asking is free :)

[2016-02-13 16:19] waiting-for-dev commented on #872
Hey, sorry, not working in that anymore. It is from more than two years ago! ;) I think if nobody has any complain we can close it...

[2016-02-13 16:20] #872 closed

[2016-02-18 04:34] mmb opened #1554 "fixture_file_upload cannot find files in request specs"
Steps to to reproduce (using rails 4.2.5.1):

[code]

Create `spec/requests/test_spec.rb` with the following contents:

[code]

[code]

[code]

[2016-02-20 04:35] emclab opened #1555 "Rspec installation error - Invalid argument @ dir_s_mkdir"
I just moved to a new laptop running on Win 10/ruby 2.2.2/Rails 4.2.0 (No problem on previous Win 8 ruby 2.0.0/Rails 4.2/rspec 3.2). Now when installing rspec, there is a strange error below:
[code]
There is /spec under Rails app root. The spec-helper file should be generated under /spec as /spec/spec-helper.rb. However the installation tried to generate spec-helper at spec/C:/Users/Jun C/AppData/

[2016-02-22 11:06] JonRowe commented on #1555
As I mentioned in my reply to your email, can you try this:

[code]

In irb/ruby? It should work without an error...

[2016-02-22 13:54] ramhoj opened #1556 "append_view_path monkey patch breaks API"
https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/view_rendering.rb#L77 is being called instead of Rails' implementation https://github.com/rails/rails/blob/7f18ea14c893cb5c9f04d4fda9661126758332b5/actionview/lib/action_view/view_paths.rb#L51

The difference is that rspec-rails' version expects a string while Rails' version also accepts an array.

Fixing this could be done with some

[2016-02-22 21:44] JonRowe commented on #1556
Yep it appears the array handling was lost in the previous fix for Rails 5 (we used `Array.wrap` previously)

[2016-02-24 10:51] pschambacher commented on #1525
FYI running into this problem as well with route/url helpers. Investigating where the problem comes from at the moment.

[2016-02-24 10:53] samphippen commented on #1525
@pschambacher if you can give us a reproduction case I'm more than happy to debug!

[2016-02-24 10:56] pschambacher commented on #1525
@samphippen I'd need some time but basically having a view test and calling `my_model_path` or `my_model_url` seems to explode. We're knee deep in the code atm so I'll either provide a fix or a repro later :smile:

[2016-02-24 12:09] pschambacher commented on #1525
@bronson are you using the rails-controller-testing gem? Removing it fixed our problem (but now we're getting errors on `assigns` and `render_template` obviously :smile: )

[2016-02-24 12:42] pschambacher commented on #1525
I think I might have a solution with [this PR](https://github.com/rspec/rspec-rails/pull/1559).

[2016-02-24 18:58] bronson commented on #1525
Yes, I am using rails-controller-testing.

Want to hear something weird?  When I updated to Rails beta 2 and Rspec 3.5.0.beta1, this problem went away.  I deleted the lines in green above, and everything still works.

@pschambacher, are you using the latest gems?

[2016-02-24 18:59] bronson commented on #1525
And rails-controller-testing 0.1.0.

[2016-02-24 19:07] pschambacher commented on #1525
Yeah I am. Using rails master actually.

[2016-02-24 19:14] bronson commented on #1525
Just tried my app on beta2, both with and without rails-controller-testing...  Everything appears to work fine, and the helpers are included again.

Kinda smells like a good ol' ActiveSupport autodependency ordering issue?  Your PR sounds plausible to me but I'm afraid I'm not seeing the issue anymore.

[2016-02-24 21:07] bronson commented on #1525
Ugh, it is indeed intermittent.  It just started happening again, no code changes.  You're right, putting `require: false` on rails-controller-testing fixes the issue (for non-controller tests).

I tried using your branch in my gemfile but I'm getting 'assigns has been extracted to a gem' errors.

     gem 'rails-controller-testing', github: 'pschambacher/rails-controller-testing', require: false

[2016-02-25 20:27] connorshea opened #1561 "before_filter/after_filter deprecation warning"
I tested to make sure this still occurs on the master branch, here are the deprecation warnings I'm seeing:

[code]

`rails 5.0.0.beta3`, `rspec-rails` & co. on their respective master branches.

`*_filter` should be replaced by `*_action`, I believe.

[2016-02-25 23:30] JonRowe commented on #1561
The line referenced is the inclusion of `ActionView::TestCase::Behaviour` so this might be a no op for us at the moment (e.g. it's coming from rails directly and we need to wait for them to fix it).

[2016-02-26 03:35] emclab commented on #1555
Hi, Here is the output of irb:

C:\D\code\rails_proj\engines\simple_orderx>irb
irb(main):001:0> require 'tempfile'
=> true
irb(main):002:0> Dir.mktmpdir { |d| puts d}
C:/Users/JUNC~1/AppData/Local/Temp/d20160225-10316-1oexvut
=> nil
irb(main):003:0>

Not sure why it points to C:/Users/JUNC~1.... The app is under c:\d\code\rails_proj\engines\simple_orderx.

[2016-02-26 08:31] pschambacher commented on #1525
@bronson there's something weird here. You should use `rails-controller-testing` v0.1.0 with `require false` (your comment says that it's using my fork) and use `rspec-rails` from my fork and branch.

[2016-02-27 10:08] tipycalFlow opened #1562 "RSpec tests fail with RecordNotFound error when querying on shard"
Hi,
I'm facing the following error (trace included) in my rspec tests that fail for records that exist on different shards:

    ActiveRecord::RecordNotFound:
           Couldn't find PushApplication with 'id'=9
    /Users/aakash/.rvm/gems/ruby-2.2.2@rails4/gems/activerecord-4.2.3/lib/active_record/core.rb:155:in 'find'
    /Users/aakash/.rvm/gems/ruby-2.2.2@rails4/gems/ar-octopus-0.8.5/lib/octopu

[2016-02-27 10:48] #1562 closed

[2016-02-27 10:52] JonRowe commented on #1562
You need to ensure your shard is setup with test data before querying it, I can't suggest anything here as you've not mentioned anything about that. FactoryGirl doesn't create anything unless you tell it to so I suggest you do that before querying it.

[2016-02-27 10:56] tipycalFlow commented on #1562
In my controller spec, I create the object instance `let!(:push_application) { create(:push_application, account: account) }` and log the object before the query. I can see that it has the id (and other attributes defined in FactoryGirl) for which no record was found, which makes it difficult to debug.

[2016-02-27 17:16] rhnorment opened #1563 "Using 'parameterize' in RSpec"
This works everywhere but when I run RSpec.  I'm not even testing against it and I get:

NoMethodError: undefined method `parameterize' for nil:NilClass
./app/models/post.rb:38:in `generate_post_url'
./spec/models/post_spec.rb:38:in `block (2 levels) in <top (required)>'
-e:1:in `<main>'

Here is the method:
[code]

Any ideas?

[2016-02-27 17:41] #1563 closed

[2016-02-27 21:03] sjreich opened #1564 "autosave/nested-attributes issue"
rails: 4.2.5.1
rspec-rails: 3.4.2

I was trying to sort out an issue in my code concerning updating one object via an associated object, and I think I discovered an rspec issue.  If this is just a newbie error, forgive me.

The problematic code:

[code]

The background setup:

[code]

If I run the problematic code in the rails console, the final output is "second2", as (I think) it ought to be.
If

[2016-02-28 00:26] JonRowe commented on #1562
I'm not sure what you're sharding here (or using to do it) but is it possible it's ending up in the wrong shard?

[2016-02-28 00:34] JonRowe commented on #1564
The "correct" output of your snippet is "first2" as that's t2's name and you never change it, I don't know why you get `'second2'` in `rails console` but you shouldn't as that name should be a completely seperate instance of `Thing2` which you never touch

[2016-02-28 00:34] #1564 closed

[2016-02-28 01:17] JonRowe commented on #1555
Thats working as expected, tmp directories are created in your system temp location

[2016-02-28 04:18] tipycalFlow commented on #1562
I wasn't doing it right. Indeed, Rspec doesn't save data to database unless told to do so, which was why the queries were failing. Instead of `let`, I'm using the standard way `Model.using(:shard_name).new` so now the actual controller and rspec are on the same page. Apologies for the trouble.

[2016-02-28 04:38] emclab commented on #1555
What caused the error in generator then?

[2016-02-28 06:35] JonRowe commented on #1562
RSpec doesn't sae data at all ;)

[2016-02-28 17:21] sjreich commented on #1564
Hm, are you sure you're fully appreciating the interaction between `has_many` and `accepts_nested_attributes_for`?  That combination should allow you to change one object through an associated object.

What I'm trying to do is only a slight variation on what's described in the [documentation for Active Record Nested Attributes](http://api.rubyonrails.org/classes/ActiveRecord/NestedAttributes/Class

[2016-02-28 17:21] sjreich commented on #1564
Thanks for your time, in any case.

[2016-02-28 21:52] JonRowe commented on #1564
Yes, however you are not specifying an id, thus it creates a new thing2. To modify an existing thing2 you must specify it's id.

[2016-02-28 22:09] JonRowe commented on #1555
Honestly I don't know at this point, it looks like it's trying to combine the tmpdir path with your project path, this could be a Rails thing, or it could be an RSpec thing, none of the core team use windows so this isn't easy for us to check.

[2016-02-28 23:50] sjreich commented on #1564
Thanks for sticking with me here - I still think there's an issue.  On further investigation, it looks like the discrepancy stems from `autosave` (which comes along with `accepts_nested_attributes_for`).

New setup:
[code]
New code for generating the discrepancy:
[code]

If you run that code in the console, the output is 'new_name'.  If you stick the exact same code in a test, the output is 'origi

[2016-02-28 23:55] JonRowe commented on #1564
In the case above, `new_name` is the expected result assuming autosave is working, this is the opposite setup to your first example. Have you checked what `t2= t1.thing2s.first; t2.name = 'new_name'; t2.save!` does?

However this cannot be an RSpec issue, we don't do anything interfering with the save process, it's all up to your tests and implementation, if you paste your test structure I might b

[2016-02-29 01:30] sjreich commented on #1564
If I stick in what you suggested, I get 'new_name' as the result either way (console of rspec).  This confirms my hunch that there's something weird about `autosave`.

But if rspec doesn't interfere with the save process at all, then... it's a mystery, and I can let it go.

The discrepancy-producing code above, wrapped in an it-block and a describe-block, is literally the extent of my tests.  As I

[2016-03-01 23:17] lesliev opened #1566 "Best rspec version for Rails 5"
Can the maintainers clarify what the recommended version of rspec for Rails 5 would be right now? It seems to be 3.5.0.beta1, but I noticed that just putting "rspec" in Gemfile will give you a much older released version which was non-specific about its actionpack requirements.

[2016-03-01 23:20] JonRowe commented on #1566
Rails 5 is only supported by `3.5.0.beta1` and above (this includes `master`)

[2016-03-01 23:20] #1566 closed

[2016-03-02 09:36] lesliev commented on #1566
Thanks!

[2016-03-02 10:58] #1555 closed

[2016-03-02 10:59] JonRowe commented on #1555
So I've looked into this, we create files based on a template, and place them into a temp directory to give to Rails. It's Rails that copies them into place in your project not us, and this error is happening when that happens, I suggest you open an issue with Rails :/

[2016-03-02 21:17] tgoff commented on #1532
FYI, this seems to not be specific to rails 4.x.  I got a similar error running rspec-rails 2.9.0 after updating rails from 3.2.22.1 to 3.2.22.2.  The monkey patch(https://github.com/rspec/rspec-rails/issues/1532#issuecomment-174679485) seems to have fixed it though.  Im guessing that even though this originally impacted only Rails 4.x, the changes to the render render :file pathway referenced in

[2016-03-02 22:53] JonRowe commented on #1532
@tgoff this fix has been released and the most recent version of RSpec works with Rails 3.2.22 so I suggest you upgrade :)

[2016-03-05 04:22] bronson commented on #1525
Ah, you're right.  Since then, I've tweaked our few controller tests to not need rails-controller-testing anymore.

[2016-03-06 21:18] connorshea commented on #1561
@JonRowe can you open an issue in Rails, or should I? I'm not entirely sure I understand where that file would be.

[2016-03-09 01:59] JonRowe commented on #1561
See if you can replicate this out side of RSpec by including that module into an empty class, if you can you can use that to demonstrate the issue to Rails

[2016-03-10 19:51] snex commented on #710
I too am seeing this issue. ActionController::TestCase does not seem to be setting the CONTENT_TYPE header to "application/json" when "format: :json" is specified, but rather it defaults to "application/x-www-form-urlencoded"

Most of the time, this will not cause any problems and the parameters will be parsed correctly. However, I only found this issue because I am trying to pass empty arrays as

[2016-03-14 12:02] gregblass opened #1574 "cookies.delete["cookie"] functionality seems to be broken with Rails 5.0.0beta3 and RSpec 3.4"
I have code that does `cookies.delete`. If I debug it in my actual controller code, they are gone (and it works in the app itself). However, in the spec, the cookies are still there. I'm pretty sure this worked before I upgraded to Rails 5 (and pointed rspec to the master branch). I've tried everything I can think of, but I'm stumped.

[2016-03-14 19:21] gregblass commented on #1561
Just confirming that I'm also seeing this. Every time I run tests I get that depreciation warning.

[2016-03-14 23:26] JonRowe commented on #1561
Can you see if you can replicate this outside of RSpec by including `ActionView::TestCase::Behaviour` into an empty class somewhere? We don't use those methods so they're coming from Rails internally somewhere.

[2016-03-15 02:52] gregblass commented on #1561
Sorry, mine was being caused by another gem. Updating to the latest version of Rails 5 beta on master showed which gem it was coming from.

[2016-03-15 21:55] jschroeder9000 opened #1576 "have_enqueued_job can't be used with data that has not yet been created"
This is somewhat a continuation of #1495.  I am using rspec-rails 3.4.2.

The crux of the issue is that data created in the `expect` block can't be used for validation in parameters to `with`.

E.g. if I have a controller like:

[code]

And I want to write a test that checks that the mailer was enqueued with the correct parameters, I might write a test like:

[code]

But that doesn't work because

[2016-03-15 22:14] JonRowe commented on #1576
We're not going to accept lambdas as arguments like that, `with {}` should work and if not someone should fix that.

[2016-03-15 22:38] RTJ opened #1577 "rails g rspec:install generate files in TEMP directory (windows)"
ruby 2.2.4p230 (2015-12-16 revision 53155) [i386-mingw32]
Rails 4.2.6
It is the latest version of rspec-rails.
[code]

[2016-03-15 22:51] JonRowe commented on #1577
Hi, generating the files in a TEMP directory is the expected behaviour, what's failing is copying them across to your folder. This was already reported as #1555 and I believe it is Rails at fault, please open an issue with them. (Something along the line of can't copy temp files across to project in generatorS).

[2016-03-15 22:51] #1577 closed

[2016-03-15 22:53] jschroeder9000 commented on #1576
Here's a sample app demonstrating it doesn't work:

https://github.com/jschroeder9000/rails-rspec-1576

See especially:

https://github.com/jschroeder9000/rails-rspec-1576/blob/master/spec/controllers/users_controller_spec.rb

Unfortunately, I'm not sure where to begin trying to fix it.

[2016-03-15 22:56] JonRowe commented on #1576
Have a look at `lib/rspec/rails/matchers/active_job.rb`, it needs to store a block passed into `with` or `initialize` and utilise in `matches?`

[2016-03-16 08:49] ojab opened #1579 "shared_examples with `js: true` are wrongfully included in `js: true` contexts"
In this test:
[code]
:shared_test examples are executed in `Test context`, although we're not including it.

[2016-03-16 08:50] ojab commented on #1579
(Reproducible in both 3.4.2 and git master)

[2016-03-16 16:28] myronmarston commented on #1579
This is working by design.  Shared group metadata was intended to be used for automatic inclusion in matching groups when the feature was first written.  It's a problematic design, though, and we plan to change it. See rspec/rspec-core#1790.

For now, you can work around it like so:

[code]

By putting the metadata on a nested group instead of the shared group itself, it avoids the auto-inclusion.

[2016-03-16 16:28] #1579 closed

[2016-03-20 15:29] sydneywu commented on #1555
Hi i am also encountering this problem. Instead of waiting for Rails team to solve this problem, can you tell us what exactly does rails g rspec:install create? Are we able to do it manually? Will need this to proceed with a tutorial i am going through

[2016-03-20 15:41] jasnow commented on #1555
[code]

[2016-03-20 16:04] alxmcr commented on #1555
Hello everyone.

Checking online, I found that the problem is that the **above-2.8.0 versions** causes problems with **Windows 7 (in my case: 32-bit)**

A possible **solution** to run the command, without problems:

**Gemfile**

[code]

But, comparing, possible **differences**, I found that there is a change with higher version **2.8**, such as **3.0**:

**.rspec** (generated: gem 'rspec-rails', *

[2016-03-21 13:18] caspian311 opened #1581 "Deprecation warning due to out dated rspec-core dependency"
When running rspec on my rails app I get a bunch of these deprecation warnings.

[DEPRECATION] `last_comment` is deprecated.  Please use `last_description` instead.

It appears that rspec-core fixed the issue in v3.4.4 but latest stable rspec-rails is pulling in an earlier version that still uses the last_comment instead of the last_description method. From the gemspec it looks like you're pulling

[2016-03-21 16:13] myronmarston commented on #1581
It depends on whether it's a pre-release or not.  For pre-releases (e.g. 3.5.0.beta1) the version must be exactly the same.  Otherwise, it just has to be at the same minor version (e.g.`3.4.x`).

So, as long as you are on rspec-rails 3.4.x, you should be able to run `bundle update rspec-core` to get rspec-core 3.4.4.  Have you tried that?

[2016-03-21 16:51] caspian311 commented on #1581
Yes. Explicitly including the newer rspec-core or doing the bundle update as you suggested so that the Gemfile.lock will contain the newer rspec-core will get rid of the deprecation warnings.

Thanks, closing...

[2016-03-21 16:51] #1581 closed

[2016-03-21 19:34] perfectritone opened #1582 "Infer custom spec types from the file location"
Custom types are already supported by RSpec, but they currently need to be defined in the metadata for each describe block. Once a type has enough examples, this can be tedious and repetitive.

It would be nice to avoid this by inferring the spec type from the file location like the standard types do.

The current setting still applies
[code]
and this change would add
[code]
as well. Now all reque

[2016-03-22 00:50] JonRowe commented on #1582
`config.infer_spec_type_from_file_location!` is for legacy spec suites from RSpec `2.x`, it is considered soft deprecated at this point and likely to be removed in RSpec 4, to achieve what you'd like to do try this:

`define_derived_metadata(:file_path => '%r{spec/api_requests}) { |metadata| metadata[:type] ||= :api_request }`

[2016-03-22 00:50] #1582 closed

[2016-03-22 03:23] luckymaniac opened #1584 "bundler: command not found: rspec"
After "bundle install" and "rails generate rspec:install", I run "bundle exec rspec", but I got
bundler: command not found: rspec
Install missing gem executables with `bundle install`

I am using rails 4.1.1
Someone please let me know what I have to do.

[2016-03-22 03:23] #1584 closed

[2016-03-22 03:26] JonRowe commented on #1584
You need to have `rspec` in your `Gemfile` for bundler to run rspec, but if your having issues with that then you need to talk to the bundler team as to why it isn't install things properly.

[2016-03-22 03:32] luckymaniac commented on #1584
# Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
gem 'rails', '4.1.1'
# Use sqlite3 as the database for Active Record
gem 'sqlite3'
# Use SCSS for stylesheets
gem 'sass-rails', '~> 4.0.3'
# Use Uglifier as compressor for JavaScript assets
gem 'uglifier', '>= 1.3.0'
# Use CoffeeScript for .js.coffee assets and views
gem 'coffee-rails', '~> 4.0.0'
# See https://github.com/sstephenson/

[2016-03-22 03:43] JonRowe commented on #1584
Not that I can see, (bar the turbolinks bit but I'm assuming thats a typo) but this isn't an RSpec issue, you should ask the Bundler team why your install can't see the executable

[2016-03-25 02:47] draveness opened #1586 "Can't find method in ApplcationHelper"
I use RSpec to test posts_controller, and call a method in ApplicationHelper

[code]

posts_controller.rb

[code]

index.json.builder

[code]

application_helper.rb

[code]

And when I run rspec

[code]

I don't why, but I define this method in ApplicationHelper, how to solve this problem.

Thx a lot.

[2016-03-27 01:55] DevotionGeo opened #1588 "Bundle: Could not find gem 'rspec-rails"
I am playing with Rails 5.0.0.beta3.
Installed rspec-rails 3.5.0.beta2 using `gem install rspec-rails --pre`
Then included `gem 'rspec-rails', '~> 3.5', '>= 3.5.0.beta2'` in my Gemfile,
when I executed `bundle install`, I got the following error
**_Could not find gem 'rspec-rails (>= 3.5.0.beta2, ~> 3.5)' in any of the gem sources listed in your Gemfile or available on this machine._**

Everything

[2016-03-28 00:32] JonRowe commented on #1588
I think this is because you've tried to specify `~> 3.5` and `>= 3.5.0.beta2` I'd try just the later.

[2016-03-28 00:32] #1588 closed

[2016-03-28 00:53] JonRowe commented on #1586
As I stated on your other issue, helper inclusion is determined by Rails, can you provide your Rails version? Also have you checked that you're not restricting the helpers included in your parent controllers?

[2016-03-28 01:44] Draveness commented on #1586
Rails version is 4.2.4

I don't know whether I restrict it or not. But I don't change the entire app hierachy. I search ApplicationHelper globally and I just get one result.

![a5d1d39f-8349-4117-967b-fd954504f024](https://cloud.githubusercontent.com/assets/6493255/14069211/8686a52a-f4c9-11e5-91b7-d2088bd09fd2.png)

I didn't mention this module in other place

[2016-03-28 12:57] chrisarcand commented on #1586
Does the app behave as you expect with that helper _outside_ of RSpec? Unless it does, I sincerely doubt this is an RSpec issue and suggest consulting the [Ruby on Rails: Talk mailing list](https://groups.google.com/forum/#!forum/rubyonrails-talk), the [Ruby on Rails StackOverflow Q&A tag](http://stackoverflow.com/questions/tagged/ruby-on-rails), or the #rubyonrails IRC channel on irc.freenode.net

[2016-03-28 13:11] Draveness commented on #1586
Yes `Api::V1::BaseController` inherit from ApplicationController. And I can use the method in ApplicationHelper directly in index.json.jbuilder

[2016-03-28 13:23] chrisarcand commented on #1586
Are you using normal Rails or `rails-api` (or `--api` in Rails 5, whichever)? Looks like autoloading helpers is a thing you'd have to enable, if so.

There are also numerous open issues having to do with jbuilder being screwy about including helpers in the correct context, your backtrace seems to indicate something similar.

[2016-03-28 13:24] Draveness commented on #1586
No..I'm not, my rails version is 4.2.4.. But that's ok.. Thx a lot

[2016-03-29 03:44] aselder opened #1590 "undefined method `+' for nil:NilClass in have_rendered"
I have the following spec:

[code]
We're in the process of upgrading from Rail 3 to Rails 4. Currently we're on Rails 4.0.13
This spec passed under Rails 3, but is failing under Rails 4 with the following error:
`undefined method '+' for nil:NilClass` at the following line: `rspec-rails-3.4.2/lib/rspec/rails/matchers/have_rendered.rb:39:in 'failure_message'`

[2016-03-29 04:01] aselder commented on #1590
With a little prying, here's the rescued exception message:
`"Expected [] to include \"/Users/aselder/Development/orders/public/404.html\"."`

[2016-03-29 06:22] rvsingh commented on #1275
Facing the same issue in features spec with Rspec and Capybara.

Tried adding the config in application.rb
`    Rails.application.default_url_options[:host] = Figaro.env.domain_name
`

Further tried overriding Capybara config

`Capybara.configure do |config|
  config.default_host = Figaro.env.domain_name
end`

But  'about_us_url' returns "http://www.example.com/about_us" instead of "http://localho

[2016-03-29 06:23] JonRowe commented on #1275
For emails you also have to configure ActionMailer::Base.default_url_options

[2016-03-29 06:28] rvsingh commented on #1275
That is configured. This issue it is not related to email. While running any spec if I debug and check what urls are generated with 'xyz_url' method, it always prepends it with with 'http:www.example.com/'.

[2016-03-29 06:33] JonRowe commented on #1275
RSpec doesn't have any value for this url, it comes from Capybara or from your config.

[2016-03-29 07:04] rvsingh commented on #1275
While debugging the spec if I check value of
`self`
it gives

And when we check value of

`self.url_options`

it gives

So as you said, I think, the value is being set by either capybara or may be Rspec. Any thoughts?

[2016-03-29 07:33] JonRowe commented on #1275
That'll be the value from the Rails helpers we mix in, you need to check
your Rails configuration.

[2016-03-29 07:54] rvsingh commented on #1275
Hey @JonRowe

I checked and found that issue is exactly where @beydogan is suggesting in the first comment.
In the line 19 of [feature_example_group.rb](https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/example/feature_example_group.rb#L19)

 `default_url_options[:host]`

is always nil, no matter where I set the default_url_options.
And thus in the same line default host is set to

[2016-03-31 21:38] tomprats opened #1594 "Adding things to request.env for a request spec"
It seems pretty simple to add headers along with a request

    get "/some/path", {}, { simple: "This is a header" }

Which is then accessible in the controller with `request.headers[:magic]`. My problem comes when my controller expects certain information to be in `request.env`. I am not quite even sure how something gets there in the first place, but in working with Shibboleth, that's how certai

[2016-03-31 22:37] JonRowe commented on #1594
Have you tried manipulating `request` from your spec directly? This functionality is provided by the Rails helpers so I'm not entirely sure what'd happen.

[2016-04-01 20:30] tomprats commented on #1594
`request` is nil before the request and then after is too late. Is there another way to do that, or do I have to do something special to have `request` exist first?

[2016-04-01 23:17] JonRowe commented on #1594
Is this a request / feature spec or a controller spec? Headers and params should be the only outside things that can effect `request.env`, I'm assuming your Shibboleth implementation is injecting things into `request.env` via middleware, controller specs don't always have middleware attached to them.

[2016-04-02 12:36] samphippen commented on #1347
Closing because of #1402

[2016-04-02 12:36] #1347 closed

[2016-04-02 12:38] samphippen commented on #1574
@gregblass for issues like this, it's easiest if we have a small minimal rails app we can clone to debug against. Could you do the following:

1) initialise a new rails app with the 5.0.0.beta3 version of rails and commit
2) make as few changes required to show the incorrect behaviour and commit
3) leave a comment in your spec explaining what the behaviour was on rails 4.2 and what you expect it t

[2016-04-02 12:39] #1556 closed

[2016-04-02 12:49] #853 closed

[2016-04-02 15:35] samphippen commented on #1561
@gregblass we can close this right?

[2016-04-02 21:13] gregblass commented on #1561
For my case it was definitely not coming from rspec-rails. Not sure if this was the same case for the person that opened this. I'd bet it was.

[2016-04-02 21:45] connorshea commented on #1561
I vote to close, as I would assume based on @gregblass's comments it's not an Rspec issue.

[2016-04-02 22:18] #1561 closed

[2016-04-03 14:20] sivagollapalli commented on #1554
@mmb As per rails documentation  http://api.rubyonrails.org/classes/ActionDispatch/TestProcess.html#method-i-fixture_file_upload I think you have to use `fixture_file_upload('files/test.jpg', 'image/jpg')`. If still didn't work then it could be an issue. Could you please check?

[2016-04-03 18:34] mmb commented on #1554
When I add the extra 'image/jpg' argument to the reproduction steps above I get the same result.

[2016-04-04 16:06] tomprats commented on #1594
That makes a lot of sense. I'll look into injecting values in a middleware I attach to my related tests. Thanks for your help!

[2016-04-04 16:06] #1594 closed

[2016-04-04 16:31] ngottlieb commented on #1554
:+1: I'm also seeing this issue on Rails 3.2.13, rspec 2.14.8, rspec-rails 2.14.2

[2016-04-04 17:42] tomprats commented on #1594
Just a helpful hint to anyone who runs into this. I ended up adding the following middleware

    class RequestMiddleware
      def initialize(app)
        @app = app
      end

      def call(env)
        env.merge!(env["HTTP_ENV"] || {})
        @app.call(env)
      end
    end

So that I could add things to `request.env` like so

    get "/some/path", {}, { env { simple: "Woo!" }}

And then in

[2016-04-04 22:54] JonRowe commented on #1554
Can you tell me what your `RSpec.configuration.fixture_path` is?

[2016-04-05 03:12] ngottlieb commented on #1554
@JonRowe we're actually upgrading this week, coincidentally. I was just trying to give another datapoint as it seems this problem may have been around for a long time. My fixture path is `spec/fixtures` and the method works in controller specs but fails in request specs.

[2016-04-05 03:15] mmb commented on #1554
When I run the example above in a fresh rails app in /private/tmp, `RSpec.configuration.fixture_path` is set to `/private/tmp/fixture_file_upload/spec/fixtures`.

[2016-04-05 03:20] JonRowe commented on #1594
You shouldn't need to do that, you should just attach your shibboleth middleware, or stub the request value yourself.

[2016-04-05 03:20] JonRowe commented on #1554
whats the `fixture_path` value within the spec? (`it { puts fixture_path }`) as that's what needs to be picked up by Rails here

[2016-04-05 03:51] mmb commented on #1554
The fixture path within the spec is `/private/tmp/fixture_file_upload/spec/fixtures`. I re-ran it inside a docker container to make sure no configuration was influencing it and got the same result:

[code]

[code]

[2016-04-05 15:11] samphippen commented on #1590
@aselder  thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then, provide us with a description of how to clone your applica

[2016-04-06 22:02] igorkasyanchuk commented on #255
[code]

This code helped me .... just create spec/support/fix_locales.rb

[2016-04-07 11:24] #1576 closed

[2016-04-11 18:35] brentdodell opened #1595 "Issue in 3.4 with passing a PathSet to prepend_view_path"
In our multi-tenant app, we create an `ActionView::PathSet` for once for each tenant's view path, then pass the current tenant's `PathSet` to `prepend_view_path` in the `application_controller` for each request.

I believe that passing an `ActionView::PathSet` into `prepend_view_path` should be allowed according to [this](http://api.rubyonrails.org/classes/ActionView/ViewPaths/ClassMethods.html#me

[2016-04-11 22:53] #1595 closed

[2016-04-11 22:54] JonRowe commented on #1595
This has already been fixed as part of #1580

[2016-04-12 02:32] brentdodell commented on #1595
Thank you. I had not seen that PR.

[2016-04-12 09:29] muichkine opened #1596 "anonymous controllers in integration specs"
Hello,

I need to use anonymous controllers in a `:request` spec to test different API auth methods. As of `rspec-rails 3.4.2`, `:request` specs do not have access to the `controller`method as controller specs do. I think it makes sense to allow anonymouse controller in integration tests by default, even more considering that Rails 5 is [leaning towards integrations tests vs controller tests](http

[2016-04-13 23:08] samphippen commented on #1590
@aselder I'm going to close this. If you can hand us a reproduction case, we can certainly take a look at it, and re-open.

[2016-04-13 23:08] #1590 closed

[2016-04-13 23:09] samphippen commented on #1596
@muichkine were you previously (in the 3.0 series) able to use anonymous controllers in request specs? If so this is a regression. Otherwise we'll consider it as a feature request.

[2016-04-13 23:14] JonRowe commented on #1596
I don't think anonymous controllers were ever supposed to work in feature specs, and given that Rails is pushing towards no controller tests I don't think it makes sense to add anonymous controllers elsewhere, integration tests aren't supposed to be decoupled from implementation.

[2016-04-13 23:20] samphippen commented on #1596
@JonRowe we're not talking about `:feature` type specs here, we're talking about `:request` type specs (which rails calls integration tests). I'm sort of inclined to agree that given that `:request` specs don't know which controller they're talking to, we shouldn't add the ability to call `controller` in request specs.

[2016-04-13 23:22] samphippen commented on #1574
@gregblass I'm going to close this. If you can create a clean reproduction case following the steps listed above, we can re-open and debug.

[2016-04-13 23:48] JonRowe commented on #1596
My bad I meant `feature` and/or `request` specs.

[2016-04-13 23:49] samphippen commented on #1596
@muichkine can you expand on your use case?

[2016-04-14 07:55] mfazekas opened #1597 "support setup/teardown with blocks"
In many places rails call setup/teardown with blocks and not symbols.
https://github.com/rails/rails/blob/master/activesupport/lib/active_support/testing/setup_and_teardown.rb#L29

One example is recent fix for not rolling back transactions on tests:
https://github.com/rails/rails/pull/24500/files#diff-18d566ee525de376b1a3741881545631R172

This fix doesn't works with rspec rails as we're ignoring

[2016-04-14 11:31] muichkine commented on #1596
I agree with the raised points.

It makes full sense that `requests`are not bound to any controller and so anonymous controller makes no sense. It makes sense though to override several controllers though (for one reason or another).

`controller` specs on the other hand definitely need anonymous controllers just as one can dub/double any rails model for testing.

I think we all agree that this is

[2016-04-14 13:10] samphippen commented on #1596
@muichkine the case that you've outlined (bypassing actual code, but testing authentication code) can be achieved with other RSpec tools. I can't think of a good reason for why you'd need an anonymous controller in a request spec.

[2016-04-14 13:56] #1597 closed

[2016-04-14 14:02] muichkine commented on #1596
@samphippen sorry then I don't know how to bypass actual code without using anonymous controllers or adding code to my app (not in the test code). Any link?

[2016-04-14 16:45] samphippen commented on #1596
@muichkine you'll want to start with https://www.relishapp.com/rspec/rspec-mocks/docs. If you're still not sure what to do, I'd suggest asking in our IRC channel or mailing list, but I don't think the solution to your problem is to add anonymous controllers to request specs.

[2016-04-14 16:45] #1596 closed

[2016-04-15 06:58] muichkine commented on #1596
Thank you @samphippen for the link. I've already hundreds of tests using rspec-mocks (it rocks :)) but I still fail to see how this would help me test requests on controllers only existing in test environment.

More explicitly:

[code]
How to generate a controller in test against which I can test my 3 auth methods with a request since these methods interact with lower level methods.

I'll think ab

[2016-04-15 07:00] bsodmike opened #1600 "rails-5-stable has rspec-expectations (= 3.2.0.pre) as a dependency, and this version does not exist!"
Hi all,

Noting the [above entry in the gemspec](https://github.com/rspec/rspec-rails/blob/rails-5-support/rspec-rails.gemspec#L33..L39) I took a look at rspec-expectations both @ rubygems.org and the repo on github, but the tagged release of `3.2.0.pre` does not exist anymore.  The error I'm getting is,

[code]

Looking at attempting to patch this.

[2016-04-15 07:18] bsodmike commented on #1600
This issue is also affected by `rspec-support` as a pre-release version has not been tagged/released.

[code]

[2016-04-17 10:34] #1600 closed

[2016-04-17 10:36] JonRowe commented on #1600
When you're using a pre-release version of rspec we expect you to load all of the rspec gems together from github, this sort of thing is a side effect of that

[2016-04-17 10:44] bsodmike commented on #1600
@JonRowe agreed, but I am unable to get this working from github's master branch and even tried the `rails-5-support` branch.  Due to the `.pre` tag on the version, the way the gemspec has been setup is that it ends up being unable to resolve dependencies.

Please see my PR #1601, which for the time being has resolved this for me - I'm currently doing this in a latest Rails 5 build.

[code]

[2016-04-17 10:56] bsodmike commented on #1600
@JonRowe just to be sure, I've tried your suggestion,

[code]

STDOUT:

[code]

[2016-04-17 12:24] JonRowe commented on #1600
I the issue here is:

[code]

I'm not sure how `beta` compares to `pre` but try removing this and then trying again

[2016-04-17 12:57] bsodmike commented on #1600
Still get stuck on this though,

[code]

[2016-04-17 15:38] samphippen commented on #1219
@codebeige @yevhene is there any reason why you can'd `render ... :locals => some_hash` as per the docs: https://relishapp.com/rspec/rspec-rails/docs/view-specs/view-spec#passing-spec-with-rendering-of-locals-in-a-partial ?

[2016-04-17 15:53] codebeige commented on #1219
It is all just about clarity and convenience. In order to pass in the `:locals` option we would have to explicitly pass the partial in every `render` call as well.

[Look at this gist](https://gist.github.com/codebeige/86905eb7dd7cef33230223ae456fe2f0.js) for a basic implementation of my proposal that can easily be included in your project.

[2016-04-17 15:56] samphippen commented on #1219
@codebeige Can you explain to me why you prefer having `add_local` or whatever, and an implicit render call, instead of `render :view_name, :locals => some_hash`, it feels like the explicit call makes it more obvious what's going on.

That gist link doesn't look quite right (it's some html and JS), can you give us an updated one?

[2016-04-17 16:02] codebeige commented on #1219
Fixed the link to the gist.

It is a matter of taste, I guess. I like to set the general prerequisites like the subject and mandatory `assigns` inside a `before` block for the context and then only override what is different for a specific example.

[2016-04-17 16:10] samphippen commented on #1219
@JonRowe I'd like your opinion here. So I'm not sure we should support this, given that `:locals` is a thing, and it's easy for users to put their own in. I'm not convinced this is a "core" RSpec thing, but I could be convinced. Do you have thoughts?

[2016-04-18 07:07] JonRowe commented on #1596
@muichkine there is no replacement for controller tests that does what you want, I suggest you keep using controller tests, thats why the gem exists after all

[2016-04-18 07:54] JonRowe commented on #1219
@samphippen could we implement this with `:locals`? We're kind of about making these things easier but to be honest I'm not strongly committed to this, I don't think view specs are worth it anyway.

[2016-04-18 07:54] JonRowe commented on #1600
Just remove guard altogether temporarily?

[2016-04-18 08:28] bsodmike commented on #1600
Guard's needed for our current work flow, to ensure specs are run [along side with livereload](https://github.com/guard/guard-livereload).  As guard is unrelated to RSpec itself, I'll continue managing the corrections myself; chances are it'll resolve itself once v3.5.0 is released.  Thanks for the assistance @JonRowe.

[2016-04-18 18:29] sk187 opened #1602 "Rspec:Install Not Working"
rails g rspec:install
Running via Spring preloader in process 28195
Could not find generator 'rspec:install'. Maybe you meant 'assets', 'scss:assets' or 'js:assets'

But when you stop spring and then run rails g rspec:install it works.

[2016-04-18 23:46] #1602 closed

[2016-04-18 23:47] JonRowe commented on #1602
This is an issue with spring/rails.

[2016-04-21 05:58] slava-nikulin opened #1604 "undefined method `>' for nil:NilClass"
Can you help me to solve this issue?
[code]

[2016-04-21 05:59] #1604 closed

[2016-04-21 06:00] JonRowe commented on #1604
You have an extension called `rspec-gc-control` that's raise an error, I suggest you contact the authors of that library.

[2016-04-21 06:06] slava-nikulin commented on #1604
Oh, thx!

[2016-04-24 12:24] jbhatab commented on #1561
My code keeps yelling at me that it's this line,

[code]

![screen shot 2016-04-24 at 7 24 14 am](https://cloud.githubusercontent.com/assets/2458718/14767538/97beda40-09ed-11e6-953a-feec995497eb.png)

Just normal beta stuff, but thought I'd post this up.

[2016-04-24 12:45] samphippen commented on #1561
I just grepped. As far as I can tell RSpec rails does not use before_filter or after_filter anywhere:

[code]

[2016-04-24 18:58] samphippen opened #1605 "Controller specs which are generated by scaffolds do not pass under vanilla Rails 5"
This is because they use assigns, and by default the `rails-controller-testing` gem doesn't exist.

[2016-04-24 18:59] penelopezone opened #1606 "Work out testing story for ActionCable"
We currently don't have one, so we should definitely work out what the story is.

[2016-04-24 23:25] JonRowe commented on #1561
We don't, this is most likely a 3rd party gem as above...

[2016-04-25 01:46] jbhatab commented on #1561
So weird. I wonder why it's saying the require 'rspec/rails' line is the problem line?

[2016-04-25 02:31] JonRowe commented on #1561
Backtrace filtering

[2016-04-25 03:52] jbhatab commented on #1561
@JonRowe which gem is this?

[2016-04-25 04:43] JonRowe commented on #1561
*shrug* I'd check any which integrate with rails, grep through your gem folder for `before_filter` or `after_filter`

[2016-04-25 15:50] sshaw commented on #1321
Having this problem with 3.3.2. The scary `before` hook fix does not work.

[2016-04-28 03:55] flyingboy007 opened #1607 "preventing rspec from showing backtrace"
Rspec is showing backtrace even after adding exclusions patterns. Here is the code

**spec_helper.rb**

    RSpec.configure do |config|

      config.backtrace_exclusion_patterns = [
          /\/lib\d*\/ruby\//,
          /org\/jruby\//,
          /bin\//,
          /lib\/rspec\/(core|expectations|matchers|mocks)/
      ]

      config.expect_with :rspec do |expectations|
        # This option wi

[2016-04-28 04:02] JonRowe commented on #1607
This `bundle exec rspec --backtrace` doesn't skip any backtraces, in fact it opts into showing more of the backtrace so whats happening here is that you've filtered so much backtrace theres no lines reaining, but when those filters are disabled by the `--backtrace` you get a reasonable stack, I suggest you make your filter less specific, by default we don't show our internal backtrace.

[2016-04-28 04:02] #1607 closed

[2016-04-28 04:37] flyingboy007 commented on #1607
Thank you for the response. Yes i think so..as regardless of what backtrace filter I used I get below result when running `bundle exec rspec`

Failures:
[code]

Here is my rails_helper.rb

[code]

[2016-04-28 06:42] JonRowe commented on #1607
NoMethodError:
       undefined method `request=' for #<ConversationsController:0x00563c138f38d8>
     # /home/ubuntu/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/actionpack-4.2.5/lib/action_controller/test_case.rb:680:in `setup_controller_request_and_response'
[code]

[2016-04-28 06:47] flyingboy007 commented on #1607
exactly mate....Cant believe I made that mistake and was suspecting all other reasons..Thanks a lot for the help.. :+1:

[2016-04-28 06:52] myronmarston commented on #1607
@JonRowe do you think we should provide a friendly error when a user tries to spec a class that does not confirm to the expected interface?

[2016-04-28 06:55] JonRowe commented on #1607
@myronmarston That's a rabbit's warren I really don't want to open... Note how this came from rails own test helpers, not even us

[2016-04-28 07:27] myronmarston commented on #1607
Fair enough.

[2016-05-01 03:44] thomasbiddle opened #1609 "Useless warning"
[code]

This is happening for every file in that folder. It warns that something is defined twice, the new definition being.. in the exact same place.

I'm on `3.4.2`

[2016-05-01 08:51] timdiggins opened #1610 "assert_select in request specs needs document_root_element"
when using rails' assert_select (defined in https://github.com/rails/rails-dom-testing) we have to configure a document_root_element - this seems to happen automatically in controller tests when `render_views(true)` but doesn't happen in request specs

A fix is to add a support file to spec/support like (adapted from http://stackoverflow.com/questions/36214550/rspec-integration-testing-testing-how

[2016-05-01 22:49] JonRowe commented on #1610
Request specs aren't intended to be used for introspecting views, please use controller specs with render views turned on or feature specs.

[2016-05-01 22:49] #1610 closed

[2016-05-01 22:52] JonRowe commented on #1609
Is it possible you're requiring the file twice? Ruby usually protects against this but can be tricked (for example if you don't use the full filepath).

A quick check would be to put a `puts 'foobar'` in that file and see if it printed twice when running your specs...

[2016-05-03 05:28] pacoguzman opened #1611 "Uninitialized constant ActiveRecord::Base"
On a rails 4.2.6 app that doesn't require 'active_record/railtie' the block `RSpec::Mocks.configuration.when_declaring_verifying_double` defined from the `rspec/rails/active_record.rb` file raises and `Unitialized constant ActiveRecord::Base`

I would like to collaborate on solving this problem but I'm not sure what is the proper solution:

[code]

And a suggestion in how this can be tested if a t

[2016-05-03 13:44] simonknoll opened #1612 "No route matches for inherited (create) action"
Hi,
I have 2 versions of my API(1&2) the controller of api version 2 inherits from the controller of api version 1. The problem is, specs for version 1 are running fine, but when i run specs in version 2, it tells me

[code]

[2016-05-04 03:41] thomasbiddle commented on #1609
@JonRowe - Hm, not that I can see! I removed every redundant 'require rails_helper' in my files in-case it was somehow requiring something twice. Testing a `puts 'foobar'` only returns once.

My files are required in my `spec_helper.rb` via `Dir[File.dirname(__FILE__) + "/support/**/*.rb"].each {|f| require f }`

[2016-05-04 03:48] JonRowe commented on #1609
Ah, actually I know what's happening, you are requiring them twice, but don't realise it. You are requiring them manually and then we are loading them, please rename them to not have `_spec` at the end.

[2016-05-04 03:48] #1609 closed

[2016-05-04 03:50] JonRowe commented on #1612
Have you defined a route for V2?

[2016-05-04 03:52] myronmarston commented on #1609
FWIW, a simple way to see how a file is being loaded is to add this to the top of it:

[code]

That'll show you how it is being loaded multiple times.

[2016-05-04 07:58] thomasbiddle commented on #1609
@JonRowe  - Success! Interesting, if I remove the manual load - it doesn't get required; however by renaming to not have `_spec` everything works but the warning is removed. Thanks!

@myronmarston Great to know for future reference, much appreciated!

[2016-05-04 08:01] JonRowe commented on #1609
It probably does, but probably not before it's used...

[2016-05-06 11:13] tom-lord commented on #1353
@myronmarston -- your suggestion above was a life-saver, thank you!

[2016-05-10 14:50] NullVoxPopuli commented on #1606
I made this ruby client for action cable: https://github.com/NullVoxPopuli/action_cable_client
could it help with testing action cable?

[2016-05-12 07:25] simonknoll commented on #1612
yes, I am using this already in my production app and clients can successfully connect to my api v2 route

[2016-05-12 23:28] mbmasuda opened #1618 "expect(response).to redirect_to(document_path(assigns(:document))) fails with missing [:id]"
Hi,

I have a couple of similar controller tests.  One is passing and the other is not, and I can't figure out what the difference is or where I've gone wrong.  I am using RSpec-Rails 3.4 and Rails 4.2.6.

The passing test:

[code]

The passing test controller:

[code]

The failing test:

[code]

The failing test controller:

[code]

The error:

[code]

My routes:

[code]

According to https://www

[2016-05-12 23:44] JonRowe commented on #1618
`assigns(:document)` returns `@document` from the controller but your using `@doc` so `@document` is nil and has no id, so no route can match it.

[2016-05-12 23:44] #1618 closed

[2016-05-14 14:45] samphippen commented on #1606
Hi @NullVoxPopuli, thanks for the suggestion, but we're going to take RSpec in a slightly different direction to test with ActionCable 😄

[2016-05-15 06:57] cicio commented on #1353
I have one hanging test. Using the recommendation from @myronmarston I got following output:

Received USR1 signal; printing all 1 thread backtraces.

Main thread backtrace:
/home/mwcruz/cicio-hangmangame/spec/spec_helper.rb:56:in `backtrace'
/home/mwcruz/cicio-hangmangame/spec/spec_helper.rb:56:in `block (2 levels) in <top (required)>'
/home/mwcruz/cicio-hangmangame/spec/spec_helper.rb:52:in `eac

[2016-05-15 12:34] lichtamberg commented on #1410
Sorry to post here, but I have the same problem now, @odedniv did you find a solution for this?

[2016-05-15 12:51] odedniv commented on #1410
Sorry @lichtamberg I don't even remember why this issue bothered me :x

[2016-05-15 15:16] myronmarston commented on #1353
@cicio look at the backtrace.  The first 4 lines are from `spec_helper.rb` and are probably from the `trap` block you pasted into your `spec_helper.rb`.

After that comes `lib/hangperson_game.rb:37` which is probably the source of your problem.  You can also try sending the signal, waiting a bit (30 seconds or so), sending the signal again, etc.  By sending it multiple times like this you can see

[2016-05-15 17:43] cicio commented on #1353
Thanks @myronmarston for the help: I got alternating results by sending consecutive signals (kill -USR1 <pid>: Based on your recommended troubleshooting steps I was able to identified the line of code that caused it. The problem was a condition written with the operator ? : , instead of if else. It is solved. Once the error was removed all test resumed and passed. Thank you

[2016-05-16 11:12] JonRowe commented on #1612
Your extracted snippets work for me on Rails 4.2, (once I corrected a typo), can you provide more information? This is typically handled by Rails anyhow, so you could try to see if you can make this work in minitest...

[2016-05-16 11:23] JonRowe commented on #1606
Whats the official Rails line on this @samphippen ?

[2016-05-16 11:24] samphippen commented on #1606
Waiting for https://github.com/rails/rails/pull/23211 to be merged before I start investigating.

[2016-05-16 18:36] jennytech opened #1620 "To continue using it, add 'gem 'rails-controller-testing'' to your Gemfile"
Failure/Error: expect(response).to render_template("index")
NoMethodErroe:
 assert_template has been extracted to a gem. To continue using it,
    add 'gem 'rails-controller-testing'' to your Gemfile
after I add gem and bunble install,It still shows same error.
![1](https://cloud.githubusercontent.com/assets/16144214/15299701/671d9da8-1b5a-11e6-8c84-2112a534588b.png)
![56](https://cloud.githubuser

[2016-05-16 19:58] mrageh commented on #1620
@jennytech checkout https://github.com/rails/rails-controller-testing#rspec

[2016-05-16 23:03] #1620 closed

[2016-05-16 23:06] JonRowe commented on #1620
This is due to the deprecation of those methods by the rails team, if you use the `rails-controller-testing` gem with RSpec 3.5.0 betas (or master) these methods will work again.

[2016-05-17 16:11] jennytech opened #1622 "Expected response to be a <3XX: redirect>, but was a <200: OK>"
[code]
![c](https://cloud.githubusercontent.com/assets/16144214/15329900/5292c402-1c0f-11e6-8fe2-58b0eb5558a8.png)
`

[2016-05-17 23:49] #1622 closed

[2016-05-17 23:58] JonRowe commented on #1622
Hi without knowing your controller implementation we can't help you with whats wrong with your code, but given your spec it's extremely unlikely this is an RSpec bug.

For future reference you need to use triple backticks ```` ``` ```` to wrap multiple line blocks in github markdown (or ident every line by 4 spaces), e.g.

[code]

[2016-05-18 05:11] jufemaiz commented on #1275
Any further comments?

[2016-05-20 17:53] AntonyBaasan opened #1624 "How to solve "`last_comment` is deprecated" for Rails 5?"
I understand that older version of rspec gives this error.
[DEPRECATION] `last_comment` is deprecated.  Please use `last_description` instead.

I have rspec-code v3.3.0 and rspec-rails 3.1.0
![screenshot 2016-05-20 11 39 32](https://cloud.githubusercontent.com/assets/4986601/15436698/83959ed0-1e80-11e6-97d9-fa3d8f94b0b8.png)

My Rails is v5.0.0.rc1
![screenshot 2016-05-20 11 40 08](https://cloud.g

[2016-05-20 18:01] myronmarston commented on #1624
The deprecation warning comes from a recently released version of Rake, and we fixed rspec-core to not use the deprecated API in rspec-core 3.4.4.  You can upgrade to that version.

BTW, if you are using rails 5, you'll need to use rspec 3.5:

http://rspec.info/blog/2016/02/rspec-3-5-0-beta1-has-been-released/

[2016-05-20 18:01] #1624 closed

[2016-05-20 18:01] AntonyBaasan commented on #1624
Sorry, just used v3.5.0.beta3. Works OK.

[2016-05-20 18:04] AntonyBaasan commented on #1624
Thank you, Myron. The link is helpful.

[2016-05-20 23:34] hmistry opened #1625 "DELETE Request spec wants number as first argument instead of url?"
Hi,

I'm performing the following API request spec test:
`delete "/api/notifications/unsubscribe", params: { device_token: device.device_token }, headers: headers(token: token)`

and I get the following error:
`*** "Delete" argument ""/api/notifications/unsubscribe"," needs to be a number`

I've checked the params/headers are correct, route does exist, and verified the route working using `curl`.

[2016-05-21 11:03] JonRowe commented on #1625
This method is implemented by Rails, have you checked their documentation?

[2016-05-21 17:02] hmistry commented on #1625
Thanks. I've looked at the docs and it says `delete(path, *args)`. I'll follow this up with the Rails team.

[2016-05-23 14:53] gajewsky opened #1626 "Rspec not including helpers after update"
Hey, I updated rspec from 3.1.0 to 3.4.0 in my project and after that, I dont have access to helpers methods in views rspecs. Is it possible to include all helpers for all rspec test?

[2016-05-23 19:15] hmistry commented on #1625
@JonRowe Is there any other configuration I need for Rspec to work correctly with this Rails template - https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_master.rb?

Here is what I have but it's not working with Rspec. I'm thinking its probably a missing configuration thing because similar tests worked with Minitest and I'm just replacing Minitest in the abov

[2016-05-23 22:33] JonRowe commented on #1626
Can you provide more detail? We haven't changed anything specifically related to this.

[2016-05-24 08:20] gajewsky commented on #1626
While running spec I am getting sth like this:
```ActionView::Template::Error:undefined method `search_fields_for' for #<#<Class:0x0000000b6725e0>:0x00000007e44e48>```

When I will back to version ```3.1.0``` everyhing works.

maybe my gemfile is the cause.
[code]

Thank you for interest!

[2016-05-24 08:31] gajewsky commented on #1626
also when I add
 ``` include CheckoutHelper```
tests are working. But I cant include each helper manually. Is is possible to include them all?

[2016-05-24 09:14] JonRowe commented on #1626
/cc @samphippen

[2016-05-24 09:15] JonRowe commented on #1625
Can you do `method(:delete).source_location` within your spec for me?

[2016-05-24 09:33] samphippen commented on #1626
@gajewsky

Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then, provide us with a description of how to clone your applic

[2016-05-24 09:38] vikashvikram commented on #1329
I was also facing the same issue and `rake db:test:prepare` fixed it for me

[2016-05-24 15:00] hmistry commented on #1625
In the isolated test scrip above, both `post` and `delete` fail.

Source location is:
`.rvm/gems/ruby-2.3.0@global/gems/actionpack-5.0.0.rc1/lib/action_dispatch/testing/integration.rb", 490`

The failure is:
[code]

[2016-05-24 15:37] niklas commented on #1626
Hey,

I'm a collegue of @gajewsky and have created a sample app where the application helpers are (sometimes) not available in view specs.

https://github.com/niklas/rspec-rails-3.4-helpers-notfound-views-example

The culprit seems to be the `ammeter` gem. It seems that the `require 'rspec/rails` in its `init.rb` causes that behaviour - some way.

[2016-05-25 06:55] JonRowe commented on #1625
If you run your specs with `--backtrace` does it highlight where in rails it's going wrong?

[2016-05-25 07:09] hmistry commented on #1625
how would i run specs with backtrace when its embedded in the rails bug report template file?

[2016-05-25 07:10] JonRowe commented on #1625
No your specs

[2016-05-25 07:19] hmistry commented on #1625
I ran the `backtrace` on the original project. It fails in Rspec-expectations:

[code]

[2016-05-25 07:20] JonRowe commented on #1625
Thats not the same error you opened with and in fact is not an error but simply a failing test...

[2016-05-25 07:35] hmistry commented on #1625
Yes its failing the test but when pause on the test, and probe why the request is failing, its because its looking for a number in the `delete` method arguments instead of a `url`. That does not coincide with `delete` api.

Now I posted this on Rails and they requested me to create a test sample of my setup to debug this. When I did that, it's working using minitest, but not when I use rspec. It's

[2016-05-25 07:47] JonRowe commented on #1625
This is not an error:
[code]
so it's useless to paste it, I was asking you to paste the backtrace of the delete error, which is provided by rails as your method source location shows, this is potentially a bug in our Rails 5 integration (you need to be using rspec-rails 3.5.0.beta3 for that by the way) or in your application source code.

Your snippet fails as expected for me on the latest beta.

[2016-05-25 07:52] JonRowe commented on #1625
You also need to encode your json before sending it.

[2016-05-25 08:10] hmistry commented on #1625
I can't paste the backtrace for the `delete` error because that's done in `byebug`. But I did paste the backtrace as a result of that test failing.

Encode json before sending - I've never needed to do that in all my other `get`, `post`, `patch`, `delete` calls in tests which work fine, so I don't think that's the issue.

Lastly, I'm stuck in updating Rspec. It's one of the first things I tried af

[2016-05-25 08:16] JonRowe commented on #1625
You need `3.5.0.beta3` for Rails 5, which you'll have to specify directly, `~> 3.5.0.beta3` and then `bundle update guard-rspec rspec rspec-rails`

[2016-05-25 22:35] radar opened #1627 "Mailer spec describes "InvitationMailerMailer" class"
**Steps to reproduce**

1. Add rspec-rails `~> 3.5.0.beta3`  to a Rails application.
2. Run `rails g mailer invitation`
3. See that `spec/mailers/invitation_mailer_spec.rb` describes "InvitationMailerMailer" class.

[2016-05-25 22:37] radar commented on #1627
My bad, I had actually run `rails g mailer invitation_mailer`.

[2016-05-25 22:37] #1627 closed

[2016-05-25 23:06] JonRowe commented on #1627
^_^

[2016-05-26 13:18] lucasgomide opened #1628 "have_enqueued_jobs only supports block expectations"
Hi, I'm using the version rspec-rails 3.4.0 and rails 4.2.5.

I'm trying test two class, one model another service. Test enqueue job on service work. But test on model not working.

**Model**

[code]

I got this error.

[code]

Look up for mine jobs
[code]

**Service**

[2016-05-26 13:19] #1628 closed

[2016-05-26 13:25] lucasgomide opened #1629 "have_enqueued_jobs only supports block expectations"
Hi, I'm using the version rspec-rails 3.4.0 and rails 4.2.5.

I'm trying test two class, one model another service. Test enqueue job on service work. But test on model not working.

**Model**

[code]

I got this error.

[code]

[code]

**Service**
[code]

[code]

[2016-05-26 23:15] #1629 closed

[2016-05-26 23:34] JonRowe commented on #1629
That's not how the expectation works in that version, you need to use the block form as the error suggests: e.g.
[code]

See https://relishapp.com/rspec/rspec-rails/v/3-4/docs/matchers/have-enqueued-job-matcher

[2016-05-26 23:35] JonRowe commented on #1629
The next version of rspec-rails will support `expect(FooWorker).to have_been_enqueued` but that's not yet released.

[2016-05-26 23:40] lucasgomide commented on #1629
Yep, nice.. i'll try it !

But does not make sense not working on Model class and work on Service class..

[2016-05-26 23:50] JonRowe commented on #1629
Code was psuedo code, the important bit is that the job is enqueued inside the block.

[2016-05-27 08:44] simonknoll commented on #1612
@JonRowe  thanks for your efforts, could the problem be, that I am using Rails 4.0.12 and Ruby 2.1.2
I've attached my Gemfile.lock
[Gemfile.lock](https://github.com/rspec/rspec-rails/files/286095/Gemfile.lock.txt)

[2016-05-27 21:24] hmistry commented on #1625
Somehow the upgrade worked this time... yay! Rspec is now 3.5.0.beta3, but still same thing, `delete` request fails, while `post` & `get` requests are working.

[2016-05-27 23:02] JonRowe commented on #1612
Just double checking, but in your real app:

`class Api::Mobile::V2::SamplesController < Api::Mobile::V1::SampleController` thats `Api::Mobile::V1::SamplesController` and not `Api::Mobile::V1::SampleController` right?

[2016-05-28 19:40] daya commented on #1561
lucky me

[code]
shows
[code]
and removing turbolinks gem removes the deprecation warnings

[2016-05-28 20:19] spickermann commented on #1561
@daya : [turbolinks `5.0.0.beta`](https://rubygems.org/gems/turbolinks) is already available. You might want to test your app against the version with:

    gem 'turbolinks', '~> 5.x'

[2016-05-30 11:33] lucasgomide commented on #1629
tks @JonRowe

[2016-05-30 13:04] allcentury opened #1630 "Routing Resources Custom Matcher"
Testing resources in rails via routing specs in RSpec can be verbose.

For an entire resource, that means tests for all 7 actions:

[code]

I have a few custom matchers to help with this, currently the DSL is:

[code]

or

[code]

Would the RSpec team be interested in those matchers or is the use case here too specific?

[2016-05-31 00:07] JonRowe commented on #1630
You could implement and share these as a gem if you found others were interested, however it's not something we'd bring into `rspec-rails`. `rspec-rails` is a pretty thin wrapper around the test helpers rails provides, if they were to bring this into their helpers (probably as `assert_resourceful_routes`) we'd similarly then expose it.

As an aside however this isn't particularly useful testing, y

[2016-05-31 00:07] #1630 closed

[2016-06-01 19:25] mrageh commented on #1626
@niklas since the problem is `ammeter` gem, can this issue be closed now?

[2016-06-02 12:51] samphippen commented on #1626
@JonRowe I feel like we can close this because the cause is `ammeter`. Do you agree?

[2016-06-02 22:50] JonRowe commented on #1626
I think the cause is rails code loading, the trigger is just ammeter...

[2016-06-03 16:47] urkle commented on #1298
A report should be made against guard-rspec to depend on rspec-core instead of rspec that would prevent this issue from occurring..

[2016-06-03 21:09] Senjai commented on #1488
Bump. Running into this as well.

[2016-06-04 06:02] hmistry commented on #1625
@JonRowe I revisited this today and you were right, the hash needed to be encoded into JSON when calling the request. I don't know what to say except I know I tried it along with many other things including trying to identify why `get` and `post` worked but `delete` didn't. I appreciate all your help and I'm sorry for troubling you with this.

[2016-06-04 06:02] #1625 closed

[2016-06-07 23:23] jblac commented on #1554
I'm actually having this exact error right now;  my rails_helper.rb has in it:

`config.fixture_path = "#{::Rails.root}/spec/fixtures"`

however, within the request spec:
[code]

nothing is output for the fixture path, just the errors for the contexts within the spec.

running:
ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin15]
Rails 5.0.0.rc1
and latest since I'm using rails 5, i'm using

[2016-06-08 11:29] bibisreebi opened #1633 "undefined method `get' for #<RSpec::ExampleGroups::"
While testing my  controllers I came across this issue. I am using rspec-rails-3.4.2, rails-4.2.0 and mongodb. Here is my rails_helper.rb
[code]

[2016-06-08 11:57] JonRowe commented on #1633
Please just require rspec-rails as `require 'rspec/rails'` it's likely thats the cause of your issues

[2016-06-09 06:01] bibisreebi commented on #1633
@JonRowe  Thanks for the immediate reply. I tried that too. when I require respec-rails it causes another error

Failure/Error: raise ConnectionNotEstablished, "No connection pool for #{klass}" unless pool

[2016-06-09 06:06] #1633 closed

[2016-06-09 06:06] JonRowe commented on #1633
Yep, this is a misconfiguration issue on your end, you need to ensure mongoid is loaded before rspec-rails so it doesn't try to use ActiveRecord.

[2016-06-09 06:07] JonRowe commented on #1633
Make sure you can do `RAILS_ENV=test rails console` without error before trying RSpec.

[2016-06-09 06:08] JonRowe commented on #1633
For us to help any further you'll have to provide backtraces (via `https://gist.github.com`)

[2016-06-10 02:37] VoTaiTri opened #1634 "write rspec for rake task"
i have `crawler.rake` like that:
[code]
`available_infos` here is array set of `Enumerator`
with this source code, i'll stop if i get exception and `raise` error
in rspec, i only need pass input is  status of action (my app raise error or no) and check result of these case - change of database here
[code]
i'll run method `update_no_available_for_not_updated_by_grounds_and_time` to updata database

[2016-06-10 06:00] soulcutter commented on #1488
[Myron said](https://github.com/rspec/rspec-rails/issues/1488#issuecomment-156173155):

I think it should be automatically included in all example groups. Jobs can come out of anywhere, and any `:type => ` . It's confusing right now.

[2016-06-10 07:49] #1634 closed

[2016-06-10 07:50] JonRowe commented on #1634
Extract this code into a normal module or class, and test it normally. Then call that code from your rake task.

[2016-06-10 07:54] JonRowe commented on #1634
e.g:
[code]

[2016-06-10 08:06] VoTaiTri commented on #1634
@JonRowe  thanks you so much

[2016-06-10 11:30] JonRowe commented on #1488
@soulcutter It is automatically included, just only in Rails example groups, so lib code etc won't trigger it, PR incoming to fix this though

[2016-06-10 20:20] jonstacks commented on #1611
+1 I have run into the same problem in my Rails app that does not require the 'active_record/railtie'.

[2016-06-11 11:33] JonRowe commented on #1611
Something is erroneously defining `ActiveRecord` in these instances, you should find out what is defining it and prevent it from happen as this is not the only thing that will break in these scenarios. I will expand the check however.

[2016-06-11 22:35] jonstacks commented on #1611
@JonRowe,

I was able to track down what was defining it after your helpful suggestion. Thank you!

[2016-06-12 16:30] JesusEduardo2028 commented on #1515
im getting the same deprecation message after trying to set the headers in the method

[code]
also
[code]
give me this error

`syntax error, unexpected '\n', expecting => (SyntaxError)
`

[2016-06-13 00:20] JonRowe commented on #1515
Try:

[code]

As your second snippet is invalid Ruby.

[2016-06-13 03:03] JesusEduardo2028 commented on #1515
thanks

this works for me
[code]

and for both header and params
[code]

[2016-06-14 11:14] #1488 closed

[2016-06-14 11:59] #1611 closed

[2016-06-16 09:32] noniq commented on #1554
Same problem here. I found out the following while poking around:

 * `#fixture_file_upload` uses `fixture_path` only if `self.class.respond_to?(:fixture_path)` returns true (see https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/action_dispatch/testing/test_process.rb#L38)
 * If I add `p self.class, self.class.respond_to?(:fixture_path)` to my example it prints `RSpec::ExampleGroups::F

[2016-06-17 11:03] nastia-shaternik opened #1641 "NoMethodError Exception: undefined method `array?' for #<Array:0x0000000c2ada58>"
Hi there!

I suppose `be_array` matcher behaves itself weirdly:

[code]

Is that legal? :smile:

Thank you in advance for your response.

(RSpec v.3.5.0.pre, Rails v5.1)

[2016-06-17 11:22] #1641 closed

[2016-06-17 11:22] JonRowe commented on #1641
There is no `be_array` matcher, you mean `be an_instance_of(Array)`

[2016-06-17 21:05] bigtunacan opened #1642 "The recognized options did not match after Rails 4 upgrade?"
I have an existing spec that passed on Rails 3 that looks something like this.

    expect(:post => '/controller/action?parm=foo').to route_to(:controller => 'controller', :action => 'action')

This passed with Rails 3.  Now that I've upgrade to Rails 4 it fails with an error message

[2016-06-17 21:39] mrageh commented on #1642
I think the problem is that you need to add the key value pair `param => foo`

[code]

[2016-06-17 23:29] bigtunacan commented on #1642
@mrageh, yep; this was the issue.  Thanks.

[2016-06-17 23:29] #1642 closed

[2016-06-23 07:56] beydogan opened #1644 "Route helpers are not defined in helper and view specs"
I've just upgraded my Rails version from **4.2.6** to **5.0.0.rc1** and using RSpec version **3.5.0.beta4**(was 3.3.3).

Problem is; I have a method which calls `root_path` in my helper and paths are not defined in helper specs. Issue started after version upgrade.

I'm getting the following error when I run my helper spec;

[code]

I've tried to add following line to my helper;

[code]

But now e

[2016-06-28 13:07] marcusg opened #1645 "irb: warn: can't alias context from irb_context. (3.5.0.beta4 and 3.5.0 final)"
Hey,

After upgrading from ```3.5.0.beta3``` to ```3.5.0.beta4``` I receive a warning when using the ```rails console``` command like:

[code]

Version beta3 works well, the warning is only visible in beta4.

[2016-06-28 13:23] jasnow commented on #1645
Got this in your Gemfile?
[code]

[2016-06-28 13:26] marcusg commented on #1645
@jasnow nope.

[2016-06-28 13:29] jasnow commented on #1645
That did not help - i know

[2016-06-28 16:58] myronmarston commented on #1645
That warning is coming from IRB here:

https://github.com/ruby/ruby/blob/32674b167bddc0d737c38f84722986b0f228b44b/lib/irb/extend-command.rb#L188

It's apparently happening because rspec-core, when loaded, defines `context` on the top level unless you disable monkey patching.

Can you provide a repo that repros this?  I tried reproing it in isolation and have failed so far.

[2016-06-28 17:08] sidonath opened #1646 "Raise exceptions for requests returning non-successful status codes"
I got burned today and lost a lot of time by my own mistake and a request spec that didn't guide me in the right direction.

I had a request spec that was doing two requests: the first one was a "set up" request and the other one was a request whose response I was actually testing.

I didn't do any assertions after the first request as its status was not of concern and because the logic it was doi

[2016-06-28 17:10] marcusg commented on #1645
@myronmarston ah thanks, I'll try to create a repro the next days. Do you mean this line ```config.disable_monkey_patching!``` in ```spec_helper.rb```? It seems monkeypatching is disabled in both of my scenarios, but only with rspec-rails-3.5.0.beta4 the warning gets printed.

[2016-06-28 17:33] myronmarston commented on #1645
Correct, that's what I meant, but I just realized why that doesn't solve the problem here: because you have to opt-in to disabling monkey patching (instead of opting in to monkey patching), the monkey patches, including `context` being defined on `main` still happen up-front, and then the config option disables them.  So it still triggers the IRB warning.

[2016-06-28 23:58] JonRowe commented on #1646
Thanks for the suggestion but `rspec-rails` is a thin wrapper around Rails own test helpers, this functionality is mirrored between the two and I don't think theres sufficient value in this to warrant diverging and adding our own methods or behaviour on top here.

Remember you can always implement this your self as a helper module, and you could even extract it into a gem to share with others if y

[2016-06-28 23:58] #1646 closed

[2016-06-29 00:00] JonRowe commented on #1646
Alternatively you could set an expectation after any call you expect to succeed as a a safety...

[2016-06-29 04:58] h8rry commented on #545
Any updates to this?

[2016-06-29 10:44] sidonath commented on #1646
@JonRowe thanks for the feedback! I guess I can do this in the app and see how it works for us and if it makes sense to get this into Rails itself

[2016-07-01 16:18] devonestes opened #1649 "Depracation warning for `config.raise_in_transactional_fixtures` in Rails 5"
I just upgraded to Rails 5 and Rspec 3.5 this morning, and I'm trying to clear out depreciation notices. I got the following one when running my tests:

[code]

I removed `Rspec.configure { |config| config.raise_in_transactional_callbacks = true }` from my `spec_helper.rb` file, but I'm still seeing the deprecation warning. I'm assuming that there is a basic config in `rspec-rails` that sets that

[2016-07-02 00:01] JonRowe commented on #1649
As far as I know that isn't an RSpec config option, and we don't call it anywhere (you can grep our code to see this) you might want to grep your codebase or gems to find the source of this.

[2016-07-02 01:59] devonestes commented on #1649
Yeah, I checked our codebase and came up empty, but in all honestly I just _assumed_ it was Rspec since that's where we were using that config before. Looks like it's not, though, so I'll check elsewhere!

[2016-07-02 01:59] #1649 closed

[2016-07-02 06:40] JonRowe commented on #1649
Try doing `puts config.method(:raise_in_transactional_callbacks=).source_location` to see where it's coming from?

[2016-07-02 10:44] tirdadc opened #1650 "Upgrading to Rails 5: posting raw JSON and new params format"
I updated my controller specs to use the new syntax with `params` and I am using the `rails-controller-testing` gem too, but I'm not sure what key or format I'm supposed to use to get this raw JSON post to no longer throw a deprecation notice while still posting it as raw JSON:

[code]

[code]

My controller is expecting raw JSON to be parsed like this:

[code]

Keep in mind that I cannot alter th

[2016-07-02 11:45] JonRowe commented on #1650
Try: `post :callback, body: { id: 777 }.to_json, format: :json` you basically can't pass in a string etc anymore as far as I know

[2016-07-02 15:07] tirdadc commented on #1650
That did it, thanks!

[2016-07-02 15:07] #1650 closed

[2016-07-03 03:28] devonestes commented on #1649
Thanks for the tip! Found the issue - of course it was in an internal gem that someone else maintained...

[2016-07-03 14:49] tirdadc commented on #1644
Same issue with Rails 5.0.0 and Rspec 3.5.0.

[2016-07-03 16:59] samphippen commented on #1644
Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then, provide us with a description of how to clone your application and r

[2016-07-04 10:42] samphippen opened #1652 "Invoking `with_routing` does not work with the `get :index` style of invoking controller actions in controller specs"
Original context: https://github.com/rspec/rspec-rails/issues/817

App that demonstrates issue: https://github.com/samphippen/test_issue_817

In order for this issue to be fixed, all specs in the app linked above should pass.

[2016-07-04 10:43] samphippen commented on #817
Closing in favour of #1652

[2016-07-04 10:43] #817 closed

[2016-07-04 14:03] juno commented on #1644
Same here.
My problem has solved by removing `rails-controller-testing` gem from `Gemfile`.

[2016-07-04 18:34] tirdadc commented on #1644
The issue has been mentioned there https://github.com/rails/rails-controller-testing/issues/24

[2016-07-05 01:49] mrageh commented on #1644
@samphippen I've created a new rails app with an initial commit without `rails-controller-testing` gem and the url helpers work fine in both view/helper specs.

After adding the `rails-controller-testing` the url helpers still work on both view/helper specs.

I can push a repo up and maybe someone else can try to reproduce the issue?

Version info Rails 5.0.0, Rspec 3.5.0 and gem rails-controller-

[2016-07-05 09:14] samphippen commented on #1644
@mrageh thanks for giving it a go. We test against a new vanilla rails app as part of RSpec Rails's test suite. If we can get a clean reproduction case, then I'll gladly take a look at the issue. For the moment we've not seen a rails app that can produce this issue, so we can't debug. I'm happy to take a look at this as soon as there's a reproduction case. I suspect we'll upstream this to rails al

[2016-07-05 11:27] juno commented on #1644
@mrageh

I created vanilla rails 5.0 app and investigated root cause by adding each gem from my Rails app's `Gemfile`.
At this time I suspect that there is something conflict between `rails-controller-testing` and [twitter/secureheaders](https://github.com/twitter/secureheaders).

## How to reproduce

Create vanilla Rails 5.0 app:

[code]

Add `rspec-rails` and `rails-controller-testing` to `Gemfi

[2016-07-05 11:40] samphippen commented on #1644
I've pushed a demo app which reproduces this here: https://github.com/samphippen/demo_app_for_rspec_1644

[2016-07-05 11:45] samphippen commented on #1626
Closing as duplicate of #1644

[2016-07-05 11:45] #1626 closed

[2016-07-05 11:47] samphippen commented on #1076
@JonRowe I saw you locked this thread. Do you think we can close this issue? If not, can you provide a summary of the work that was agreed to be done?

[2016-07-05 11:55] samphippen commented on #1108
App that reproduces this: https://github.com/samphippen/demo_app_for_rspec_1108

[2016-07-05 12:06] samphippen commented on #1076
Closing as dup of #1076. @JonRowe if you do have comments can you leave them there?

[2016-07-05 12:07] samphippen commented on #1219
Labelling this ticket as ready to go. Look at this gist for a starter implementation strategy: https://gist.github.com/codebeige/86905eb7dd7cef33230223ae456fe2f0

[2016-07-05 12:08] JonRowe commented on #1076
@samphippen this is #1076 ;) it was only locked due to me too comments at a guess, (I don't remember)

[2016-07-05 12:09] samphippen commented on #1076
Sorry I meant: #1219 for the dup

[2016-07-05 12:10] JonRowe commented on #1076
It's not a duplicate

[2016-07-05 12:12] samphippen commented on #1076
I thought so too at first, but the ask is basically the same. That is, people used to be stubbing locals/helper methods, and now they're not able to. They're both stubbing on views unless I'm mistaken?

[2016-07-05 12:12] JonRowe commented on #1076
#1219 is similar but not identical, as this refers to broken controller stubs due to controller methods not being present in views, where as #1219 refers to new functionality for inject locals into views.

[2016-07-05 12:13] JonRowe commented on #1076
The difference being that this is "broken" due to verifying partial doubles, methods which exist on controllers should be stub-able with partial verification turned on, where as #1219 is creating stubs for things that don't exist.

[2016-07-05 12:15] samphippen commented on #1076
This issue starts with asking to stub a method which did not exist, which is the same thing right?

[2016-07-05 12:16] JonRowe commented on #1076
No, because the method only doesn't exist here due to our isolation of views from controllers

[2016-07-05 12:18] samphippen commented on #1076
Ah OK. That makes sense, but was hard to parse out here.

However, I'm inclined to close both issues and open something on mocks which makes it easier to disable verify partial doubles, which sort of cleanly provides a path for both use cases.

Thoughts @JonRowe ?

[2016-07-05 12:22] JonRowe commented on #1076
That's a neater workaround, but it doesn't "fix" the issue, I'm not all that invested in view specs so this workaround is acceptable to me, after the mocks implementation is done we should automatically do this for all view specs

[2016-07-05 12:24] samphippen commented on #1076
While it doesn't "fix" the issue, it does mean users can trivially opt in to a work-around, which I feel is probably good enough. Thoughts?

[2016-07-05 12:25] samphippen commented on #1076
As you mentioned, view specs are an edge case, so I feel like a generic but not totally complete fix is useful is my reasoning.

[2016-07-05 12:26] JonRowe commented on #1076
👍 I'm ok with probably good enough.

[2016-07-05 12:26] samphippen commented on #1076
cool.

[2016-07-05 12:30] samphippen commented on #1219
Closing in favour of https://github.com/rspec/rspec-mocks/issues/1102

[2016-07-05 12:30] #1219 closed

[2016-07-05 12:30] samphippen commented on #1076
Closing in favour of https://github.com/rspec/rspec-rails/issues/1076#issuecomment-230463271

[2016-07-05 12:30] #1076 closed

[2016-07-05 13:36] samphippen commented on #1275
Sample app here: https://github.com/samphippen/demo_app_for_1275.git

Worth noting: this explicitly is not supposed to work in controller specs according to someone from rails core.

So request specs work, and feature specs don't work here.

[2016-07-05 14:20] ledbettj opened #1655 "Rails 5 / Rspec 3.5.0 -- setting request headers?"
Hi,

I had a spec working under Rails 4 / Rspec 3.4.4 that looked like this:

[code]

After upgrading, it looks like `request.referrer` is not stubbed correctly and `request.referrer` in the controller returns `nil`.

I tried rewriting like so:

[code]

But I wasn't able to get that header, or actually any header passed through to the controller.

Any suggestions?

[2016-07-05 14:38] ledbettj commented on #1655
Setting the header in `request.env` works -- is that the recommended way to accomplish this?

[2016-07-05 23:12] JonRowe commented on #1655
Try: `get :endpoint, params:  {}, headers: { 'HTTP_REFERER' => 'aol.com' }`
`

[2016-07-06 13:29] bolshakov commented on #1528
This problem happens when you use rspec-rails with ActiveJob version less then 4.2.1.

The problem described here: https://github.com/gocardless/rspec-activejob

[2016-07-06 20:44] jasonsof opened #1658 "Signed cookies not available in controller specs - rspec-rails 3.5.0, rails 5.0"
I am unable to test the presence of a signed cookie in a controller.  I would expect the test case below to pass and it was passing before I upgraded rails and rspec-rails gems.  Is this an issue with rspec-rails or a mistake on my side?

[code]

[2016-07-06 21:27] jmmastey opened #1659 "Possible `redirect_back` support in Rails 5?"
Hey all,

I'm game to submit a PR if anyone has a workable approach, but so far I'm stumped here. This question has reference: http://stackoverflow.com/questions/38162970/testing-redirect-back-in-rails-5.

Basically, I'm interested in testing for the usage of the new `redirect_back` API in Rails, but under the hood it just calls vanilla `redirect_to`, which makes it a little tough. Meanwhile, I st

[2016-07-06 22:40] JonRowe commented on #1658
This functionality is all Rails as far as I'm aware, have you added the `rails-controller-test

[2016-07-06 22:46] JonRowe commented on #1659
`expect(response).to redirect_to('path/to/previous/location')`?

[2016-07-06 22:46] JonRowe commented on #1659
Or set a specific referrer header and assert on that?

[2016-07-06 23:14] jmmastey commented on #1659
Oh agreed, those do work, but they seem far less literate than the previous
ability to just check that we redirected to "back".

If it's not enough difference for anyone else I can just use those methods,
but I'll feel like I've lost communicativeness in my tests.
On Jul 6, 2016 5:46 PM, "Jon Rowe" <notifications@github.com> wrote:

[2016-07-06 23:16] JonRowe commented on #1659
Unless theres a new rails equivalent theres not much to do about that.

[2016-07-06 23:19] dsandstrom commented on #1658
I have a similar problem, I can't set a `cookies.encrypted` key like I could in Rails 4.2/RSpec 3.4.  I was looking at [the docs](https://www.relishapp.com/rspec/rspec-rails/v/3-5/docs/controller-specs/cookies) for help, but they seem a little outdated.

[2016-07-07 00:10] dsandstrom commented on #1658
Sample app: https://github.com/dsandstrom/rspec_cookies_5

[2016-07-07 17:18] jasonsof commented on #1658
Looks like we have the same issue @dsandstrom.  I'm also using `rails-controller-test` gem.

Signed cookies work fine in the Rails application itself, just not when they are set in the controller spec for a test

[2016-07-07 21:02] samphippen commented on #1659
We provide compatability with supported Rails APIs for the versions of Rails we support. That is, if an API is gone in the version of rails you're using, it is not RSpec's responsibility to provide that API instead. Given that Rails is getting rid of the `redirect(:back)`. I don't think this is a feature we should special case.

[2016-07-07 21:04] samphippen commented on #1645
hey @marcusg could you provide us with a reproduction case for this issue? Just a repository we can clone that demonstrates the problem. With that we can debug :)

[2016-07-07 21:04] samphippen commented on #1612
@simonknoll  Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then, provide us with a description of how to clone your appl

[2016-07-07 21:06] samphippen commented on #1471
This is one to fix in 4.0 by bumping our minimum version of capybara right now IMO.

[2016-07-07 23:24] JonRowe commented on #1659
@jmmastey do you know if Rails is going to provider a `assert_redirect_back` or the like? I'm guessing this might be a no given there switch away from controller tests...

[2016-07-08 03:22] jmmastey commented on #1659
Thanks for the feedback both of you. Totally agreed / understood that we'd need an API to hook. There's no `assert_redirect_back` yet, and I don't see any discussion on it. I'm going to close this for now. If I open that conversation and they _do_ provide that assertion, I'll reopen and reapproach the conversation.

Thanks all.

[2016-07-08 03:22] #1659 closed

[2016-07-08 05:46] marcusg commented on #1645
@samphippen yes, of course. I'll add repro steps as soon as possible.

[2016-07-08 11:54] ethicalhack3r commented on #1525
Adding ```require: false``` to ```rails-controller-testing``` fixed the issue for me too. Thanks!

```gem 'rails-controller-testing', require: false```

[2016-07-08 14:23] samphippen commented on #1528
This works for me with a simple activerecord base object. @ssuttner
Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then,

[2016-07-08 17:13] marcusg commented on #1645
I've created a repro app https://github.com/marcusg/rspec-rails-issue-1645
- a fresh rails 5.0.0 app
- only rspec-rails added
- using rspec-rails-3.5.0.beta3 works fine
- using rspec-rails-3.5.0 produces warning when running "bundle exec rails c"

[2016-07-09 11:13] samphippen commented on #1645
Repro confirmed.

[2016-07-09 12:01] samphippen commented on #1302
@jcoyne is this still an issue for you? If so, could you send us a full rails app we can clone with some instructions on how to reproduce the issue. I appreciate you providing a spec, but it references a couple of top level constants that aren't clear to me how to set up, and a full app would clear that up. Thanks 👍

[2016-07-09 12:45] wassimk opened #1662 "Can no longer set host! in before block for request specs"
I just upgraded to Rails 5 and Rspec 3.5 All my tests are passing except request specs. My request specs are testing API interactions. The API is scoped to the subdomain `api`. I have a before block that sets the `host!`. I see the block is executing and host is setting but when the actual test is executing the host change reverts to `www.example.com` and I get a routing error.

Within this block

[2016-07-09 13:20] jcoyne commented on #1302
This was so long ago... we must have figured out some way that we worked around it. Thanks.

[2016-07-09 13:20] #1302 closed

[2016-07-10 09:41] JonRowe commented on #1662
Whats defining `host!` and how is it persisting it across examples? I'm wondering if we've inadvertently changed something that was relying on.

[2016-07-10 14:55] amingilani opened #1663 "rspec:generate won't work with faker"
Can't install rspec with faker:
[code]

System Info
----------------

[code]

Here's the gemfile:

[code]

Running OSX with zsh, and rvm

[2016-07-10 14:56] amingilani commented on #1663
Upon commenting out `faker`

[code]

[2016-07-10 15:03] amingilani commented on #1663
This is insane:
[code]

[2016-07-10 15:05] samphippen commented on #1663
Hi @amingilani

Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then, provide us with a description of how to clone your a

[2016-07-10 15:16] amingilani commented on #1663
I'm sorry, this wasn't an rspec issue, it was a `spring` issue. Following this [post](https://jasonplayne.com/web-dev/rails-generate-could-not-find-in-any-of-the-sources) fixed it when i killed it.

[2016-07-10 15:16] #1663 closed

[2016-07-10 15:17] mrageh commented on #1662
@JonRowe `host!` is defined in `ActionDispatch::Integration::RequestHelpers::Session` in Rails  https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/testing/integration.rb#L287.

[2016-07-11 05:35] JonRowe commented on #1662
Are you resetting the session anywhere? We did ship a load ordering change in 3.5 that shouldn't have been breaking but might be in your scenario, as if the session is reset between your hook and your spec it would exhibit this behaviour...

[2016-07-12 12:43] samphippen commented on #1662
I have a feeling that I know what this is, some of the ways we interface with ActionDispatch::TestRequest were changed in 3.4 -> 3.5 to support rails 5. @mrageh is it easy for you to give us a sample rails app which shows the issue? Here are the usual steps I ask people to follow:

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be grea

[2016-07-12 15:45] wassimk commented on #1662
Hi @samphippen , I have a repo at https://github.com/wassimk/rspec-rails-1665-issue and I made a short screencast walking through what I'm experiencing at http://www.screencast.com/t/nyZ2jKQi

Thanks for your help!

[2016-07-13 11:31] ahmadhasankhan opened #1665 "Stuck when running "rails generate rspec:install" with rails-5"
Nothing happening while running rspec:install command, I am using Ruby-2.2.3 and Rails-5.

[code]

[2016-07-13 11:51] #1665 closed

[2016-07-13 11:53] JonRowe commented on #1665
Not sure if we changed anything with generators, but you need `gem 'rspec-rails', '~> 3.5'` minimum for Rails 5 support, try upgrading?

[2016-07-13 12:18] ahmadhasankhan commented on #1665
Working now Thanks  👍

[2016-07-13 17:01] samphippen commented on #1658
Thanks for the issue. Your reproduction spec above is useful, but it'd be great if we had a repository we could clone to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then, provide us w

[2016-07-13 17:11] samphippen commented on #1612
Hi @simonknoll I'm going to go ahead and close this. If you're able to provide a repo we can clone given the steps above to demonstrate this issue, we can totally re-open. Thanks so much once again ^_^

[2016-07-13 17:11] #1612 closed

[2016-07-13 17:19] dsandstrom commented on #1658
@salimane https://github.com/dsandstrom/rspec_cookies_5

[2016-07-13 17:25] samphippen commented on #1658
Confirmed.

[2016-07-13 17:35] dsandstrom commented on #1658
I spent some time trying to figure out where the bug is, but was not successful.  I also tried to reproduce with minitest, but couldn't figure out how to set an encrypted cookie.  I don't have a lot of experience with the built in test framework.

[2016-07-15 12:42] kamal-github opened #1667 "instance_eval or class_eval does get executed while testing using rspec"
I have Active Record Model `Plan` has a snippet -
with possible names as `yearly`, `monthly` etc. so ideally it creates a two method on the go, running while i am running rails app, but not while testing with rspec and throwing exception `NoMethodError for class<some hex>`.

[code]

[2016-07-15 12:48] JonRowe commented on #1667
Hi, we're going to need some more detail for this, but I'll hazard a guess of the bat, if your snippet is defined in the class, then it will run in development mode as you have data in the database to iterate over, but it won't work in test mode because your database is likely empty, so the block never runs.

[2016-07-15 12:57] kamal-github commented on #1667
@JonRowe in `before` block I am running `Plan.create: 'monthly'`, so test db has at least one record, so ideally it should create one method.

[2016-07-15 12:59] JonRowe commented on #1667
@kamal-github where is your snippet defined? If it's at the class level my guess still stands, as the class is loaded before any specs are executed.

[2016-07-15 13:02] kamal-github commented on #1667
Yes, It is defined at class level, and thanks for this knowledge. Any suggestion for testing this?

[2016-07-16 09:17] JonRowe commented on #1667
You could delay loading of your class until after the test (although Rails would make that hard) or not wipe the database.

It would probably be better to refactor this implementation, it may look like it works ok in development but in production you would likely be limited to the plans loaded at first boot (due to Rails class caching), which would be interesting... Use of instance_eval / class_ev

[2016-07-16 09:17] #1667 closed

[2016-07-18 10:52] kamal-github commented on #1667
@JonRowe Thanks!

[2016-07-19 13:31] pawandubey opened #1668 "Can't set the Content-Type in specs"
I had previously had this in my controller specs:

[code]

But that fails to send the content as `JSON` anymore and I attributed that to the changed behaviour in rails for keyword arguments. So I changed that to this:

[code]

But when I inspect for headers, I still get this:

[code]

Is this an issue with rspec?

[2016-07-19 16:34] thomasbiddle commented on #1561
Upgrading turbolinks was the answer for me as well.

[2016-07-19 23:38] JonRowe commented on #1668
This is a thin wrapper over the Rails helpers, what happens if you leave the `params : { .. }` but return to `format: :json`, the big change in Rails 5 was the need to pass `params` as a `hash`.

Where are you inspecting `headers`?

[2016-07-20 06:52] pawandubey commented on #1668
I am inspecting headers in the `byebug` console. The problem is that Rails is now stringifying all my params (even non-string types) and setting `format: :json` or the `Content-Type` explicitly doesn't handle this. I have multiple specs failing because of this even though the main app works fine.

[2016-07-20 06:55] JonRowe commented on #1668
Sorry, by inspecting headers, I meant where in your request cycle, e.g. where you are triggering `byebug` from.

All params are strings from a request perspective, are you attempting to test Rails 5 here? Is this an old controller spec? Have you installed `rails-controller-testing`?

Need more information to help :)

[2016-07-20 07:19] pawandubey commented on #1668
I triggered `byebug` from within the controller action I was testing(`operations`).
`rails-controller-testing` is indeed included in the `:test` group.

This is an old controller spec in the sense that we tested stuff on 4.2 with it. I am in the process of migrating to Rails 5 and the app runs fine but the tests fail. I have followed the multiple guides scattered around ( from Michael Scheenman an

[2016-07-20 08:22] JonRowe commented on #1668
This might be an issue to raise with the controller testing gem, I know theres been some load order issues though, did you try the `require: false` trick mentioned elsewhere?

[2016-07-20 08:35] samphippen commented on #1668
This *might* be us, we did change some of our interaction with the test request generation in 3.5.0

[2016-07-20 08:40] pawandubey commented on #1668
Considering it is an issue with you `rspec-rails`, is there a short term fix I can apply now or should I wait for the next release?

[2016-07-20 08:48] JonRowe commented on #1668
@pawandubey we don't know if this is an issue with rspec-rails yet

[2016-07-20 13:20] yujinakayama opened #1669 "Scaffold generator generates invalid controller specs on versions prior to Rails 5"
In #1603, we made scaffold generator to generate controller specs with HTTP request method (`#get`, `#post`, etc.) with keyword arguments:

[code]

... regardless of the current project's Rails version.

However the keyword arguments are actually supported only on Rails 5 (https://github.com/rails/rails/pull/18323). The CI in #1603 was passing because [they were skipped](https://github.com/rspec/r

[2016-07-20 18:19] delner opened #1670 "Anonymous controller cannot define a custom route for custom controller"
**TL;DR** Renaming the controller under test from `ApplicationController` to `CustomController` breaks the example.

Given a fresh Rails 4.2.6 application, [the anonymous controller code sample provided by Relish for RSpec 3.5](https://www.relishapp.com/rspec/rspec-rails/docs/controller-specs/anonymous-controller):

[code]

...this passes. However, if you do the same example, but from a controller

[2016-07-20 20:44] audy opened #1672 "skip generating specs for new/edit routes/controllers/views for API only app"
RSpec currently generates specs for new and edit routes, controllers and views for a new Rails (5.0.0) app generated with `--api`, when running `rails g scaffold ...`. These tests fail and are unnecessary.

Can these be skipped? If not, would this be a useful feature to add to RSpec (automatically detecting an API-only app and not generating the unnecessary specs)?

## unnecessary specs

- [ ] vie

[2016-07-20 23:04] JonRowe commented on #1669
This should work on some older Rails @yujinakayama, as the support for hash style params has been aroun a while, which version are we seeing issues with?

[2016-07-20 23:06] JonRowe commented on #1672
It would certainly make sense for the generator to be aware of `--api` and produce different specs accordingly, if you'd like to tackle that feel free!

[2016-07-20 23:52] radar commented on #1644
Thanks for that app @samphippen. I tried reproducing it in my own app with just rspec-rails, and it _worked_. The difference between my app and yours was the addition of the `rails-controller-testing` gem:

[code]

If I comment these lines out in your app's `Gemfile`, then the issue goes away. I'll continue to investigate this and try to get to the bottom of what `rails-controller-testing` is doin

[2016-07-21 00:06] MihaiDinculescu opened #1673 "Expect doesn't wait for visit to complete"
Using Rspec 4.5.1 and capybara 2.7.1

    1.1) Failure/Error:
          expect {
            visit api_admin_users_index_path
          }.to raise_error

          expected Exception but nothing was raised
        # ./spec/features/admin_users_spec.rb:26:in `block (3 levels) in <top (required)>'

    1.2) Failure/Error: raise ActionController::RoutingError, "No route matches [#{env['REQUEST_METHOD

[2016-07-21 00:12] JonRowe commented on #1673
Hi,  is this error being raised in your controller? RSpec can't rescue exceptions from inside your Rails stack when it's being run in a server / client style, only when it's directly invoking code itself (like any normal Ruby app).

[2016-07-21 00:31] MihaiDinculescu commented on #1673
What you are saying makes sense but I don't think it's true. The error seems to be bubbling up to rspec correctly.

The following code passes the test.

        expect {
            visit api_admin_users_index_path
            expect(page).to have_text 'test'
        }.to raise_error(ActionController::RoutingError)

[2016-07-21 00:34] JonRowe commented on #1673
Are you using rack-test?

[2016-07-21 00:36] MihaiDinculescu commented on #1673
I'm force to use it apparently.

        actionpack (5.0.0)
          actionview (= 5.0.0)
          activesupport (= 5.0.0)
          rack (~> 2.0)
          rack-test (~> 0.6.3)
          rails-dom-testing (~> 2.0)
          rails-html-sanitizer (~> 1.0, >= 1.0.2)

[2016-07-21 00:37] JonRowe commented on #1673
[code]

Tells me that capybara is not waiting long enough

[2016-07-21 00:42] JonRowe commented on #1670
Sorry it's not clear from the docs, but you need to draw your route using your custom name:

[code]

[2016-07-21 00:43] MihaiDinculescu commented on #1673
I'm haven't modified the default wait time and I have also tested with 2.6.2 and 2.5.

[2016-07-21 00:48] JonRowe commented on #1673
As far as I know `visit` doesn't wait for the page to finish, as it's the matchers that are expected to block for the wait time until content is loaded.

Long and the short of it, it's not the intended usage to expect errors to bubble up from feature specs like this, can you refactor this to use get or find another way to perform the assertion?

[2016-07-21 00:54] MihaiDinculescu commented on #1673
Yeah, I'm reaching the same conclusion.

Unfortunately it looks like I'm forced into using feature specs for testing routes that are using Devise's `autheticate!`.

I guess I'm stuck with using a dummy expect.

[2016-07-21 00:55] JonRowe commented on #1673
You shouldn't need to use feature specs for that, whats broken with request specs?

[2016-07-21 00:56] #1673 closed

[2016-07-21 00:56] JonRowe commented on #1673
(closing because this isn't an RSpec Rails issue, I'm happy to keep helping however)

[2016-07-21 00:58] MihaiDinculescu commented on #1673
I haven't tried request specs. It sounds like a great idea, I'll try it tomorrow. Thanks for all the help.

[2016-07-21 01:05] MihaiDinculescu commented on #1673
It worked flawlessly, thank you very much!

[2016-07-21 01:11] tjgrathwell commented on #1644
Interestingly, you can work around the problem by moving the gem's `require` to initialization time:

in Gemfile:
[code]

in `config/initializers/rails_controller_testing.rb`(or whereever)
[code]

I don't know the exact mechanism why, but it works on my app (views in test can see helpers, rails-controller-testing features still work).

I would've thought you could achieve the same effect by puttin

[2016-07-21 14:46] delner commented on #1670
Thanks Jon. Making that adjustment makes the test pass. For the documentation, it might be helpful if there was another example on Relish that included this case with `routes.draw { get "custom" => "custom#custom" }`.

[2016-07-21 15:05] delner commented on #1670
It appears someone pointed this issue out previously in #866

[2016-07-22 00:43] RyanKim01 opened #1674 "How to successfully log in in request specs?"
I'm writing request specs to test certain API calls. I found out that Capybara's way of logging in only works in feature spec since Capybara 2.0. So I cannot use it anymore.

Unfortunately, all of my API calls would not work without logging in and I cannot find a correct of logging in using Devise. In request spec files, how can I successfully log in to successfully run test on API calls?

[2016-07-22 01:22] JonRowe commented on #1674
Programatically login as you would when hitting your app normally, then hit your api?

[2016-07-22 03:21] RyanKim01 commented on #1674
Can you show an example to successfully log in in request spec?
I was calling a below method and it is not working.

[2016-07-22 03:23] JonRowe commented on #1674
Request specs are designed to emulate a full stack request, thus you have to login as you would in a browser. e.g if you sending a header, send a header, if you're appending a token, append a token in the params, if you're going to /login, filling in username password, do that.

[2016-07-22 05:43] jsnick opened #1675 "Bug passing nested params included specific key name "content" while testing controller"
- Rails 5.0.0
- Ruby 2.2.5

I found a bug while testing my rails application.

See a reproduction script below.
( https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_master.rb )

[code]

this yields
[code]

Content params in params[:arr][1] is missed !

But works good if key name is not "content"

[code]

yields when with params above

[code]

For reference, Te

[2016-07-22 06:31] JonRowe commented on #1675
These aren't quite equivalent, what happens when you change the type of the spec to `request`?

[2016-07-22 07:12] jsnick commented on #1675
@JonRowe
Oh.. I see.
It works good if type is `:request` not `:controller`..

[code]

yields

[code]

Um.. then this bug happens when type is `:controller`.

[2016-07-22 07:17] JonRowe commented on #1675
Yes, and it might still be at the Rails level, but I'm not sure how to write a mini test controller test

[2016-07-22 07:17] JonRowe commented on #1675
There's a difference in param handling you see

[2016-07-22 10:43] samphippen commented on #1675
I believe this bug is valid.

[2016-07-22 10:44] samphippen commented on #1674
@RyanKim01 the rspec-rails issue tracker is more for bugs/features than it is for help requests. Would you mind emailing your question to our mailing list rspec@googlegroups.com, where the wider community can help you answer it there.

[2016-07-22 10:44] #1674 closed

[2016-07-22 10:46] samphippen commented on #1670
@delner thanks for opening the issue. Can you turn your sample code pasted above into a repository we can clone? That makes it much easier for us to debug. Typically, I ask people to follow these steps:

Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be g

[2016-07-22 10:47] samphippen commented on #1655
@ledbettj
Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then, provide us with a description of how to clone your applica

[2016-07-22 10:48] JonRowe commented on #1670
@samphippen as above, I've already found that this is by design within the anonymous controller definition, the appropriate action here is to update the documentation for this caveat, no reproduction needed @delner

[2016-07-22 10:49] samphippen commented on #1670
Ah OK! My bad.

[2016-07-22 12:52] samphippen commented on #1528
@ssuttner I'm going to close this because I struggled to reproduce. If you can provide us with a reproduction case, I'm happy to re-open and take a look.

[2016-07-22 12:52] #1528 closed

[2016-07-22 13:58] rckv commented on #1645
I've got the same warning after upgrading `rspec-rails` to 3.5.1

[2016-07-22 17:16] swhiteley91 opened #1677 "rspec-rails 3.5.1 + rails 5, running whole spec suite results in (seemingly) random LoadErrors"
`$ ruby -v`
`ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]`
`$ rails -v`
`Rails 5.0.0`
`$ rspec -v`
`3.5.1`

We're migrating from Rails 4 to Rails 5 and we're having a problem when running the whole spec suite.
When I run rspec using the `rspec` (without arguments) command I randomly get
`LoadError:
         Unable to autoload constant Importer::Transformer, expected [rails_dir]/lib

[2016-07-22 23:21] #1670 closed

[2016-07-22 23:37] JonRowe commented on #1677
Honestly I'm not sure theres much we can do to help with this, the Rails autoloader is notorious for producing odd issues like this, but I can suggest a few things that might work as a work around:

- try eager loading in the test environment (e.g. like production) so it loads things earlier on (or hopefully at least consistently?)
- explicitly requiring files in your specs

[2016-07-22 23:54] myronmarston commented on #1645
There's an attempted fix in #1678 -- can one of you who has ran into this issue give that a try?

[2016-07-23 02:01] #1645 closed

[2016-07-23 02:09] myronmarston commented on #1645
Can you merge this into the 3-5 branch as well?

Sent from my iPhone

[2016-07-23 02:20] JonRowe commented on #1645
Done.

[2016-07-23 09:57] marcusg commented on #1645
Works for me with ```3-5-maintenance``` branch, thank you guys!

[2016-07-23 13:29] jsnick commented on #1675
I have opened issue about this in [rails#25920](https://github.com/rails/rails/issues/25920).

[2016-07-23 13:32] #1675 closed

[2016-07-25 03:12] lessan commented on #925
Just a quick note that in Rails 5, the `process` method requires named parameters after the method and url. So for example:
[code]
https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/testing/integration.rb#L328

[2016-07-25 10:06] milchschaum commented on #1658
I have the same problem. With Rails 4.2.1 all Rspec tests regarding signed cookies passed. However, since I have upgraded to Rails 5.0.0 the value returned for all signed cookies keys is nil.

[2016-07-25 13:59] ledbettj commented on #1655
I've pushed a basic example [here](https://github.com/ledbettj/rspec-repro).

`ApplicationController#index` simply renders the HTTP referrer as JSON.  The specs for this action try to set the referrer in several ways; only the last -- setting `request.env` -- works.

[code]

Output:

[code]

Let me know if anything else would help.

[2016-07-25 22:03] qx opened #1679 "Scaffold generator generates gets error on rails4."
[code]

[code]

[source ](https://github.com/qx/testrspec.git)

[2016-07-25 23:13] qx commented on #1679
**"params:"** should REMOVE

[2016-07-26 00:30] qx commented on #1679
@JonRowe Closed for what?

[2016-07-26 00:33] JonRowe commented on #1679
Hi @qx, the `rspec-rails` github issues isn't a place to ask for help, so we tend to close such issues.

It looks like your not generating your route properly, can you paste a snippet of your spec and not just the error? Are you using Rails 5 and thus are you using the rails-controller-testing gem?

[2016-07-26 00:36] qx commented on #1669
@JonRowe rails 4.2.x get this error
and 5.0.0 get below error
[code]
All not work
And why you close my issue without any comments?

[2016-07-26 00:38] JonRowe commented on #1679
Restored comment from @qx on an unrelated issue:

and 5.0.0 get below error

  1) RobotsController PUT #update with invalid params re-renders the 'edit' template
     Failure/Error: expect(response).to render_template("edit")
       expecting <"edit"> but was a redirect to <http://test.host/robots/1>
     # ./spec/controllers/robots_controller_spec.rb:141:in `block (4 levels) in <top (required)>'

[2016-07-26 00:38] JonRowe commented on #1679
@qx please limit your comments to this thread

[2016-07-26 00:41] JonRowe commented on #1679
In order for us to help you we need the following:

* Your Rails version
* Confirm you are using `rails-controller-testing` if you are using Rails 5
* A snippet showing your spec

or if you think is is a bug and you're not asking for help, can you please explain better what the problem is, it's not clear from what you've posted so far what problem you are having. A minimal reproduction case (no ot

[2016-07-26 00:43] qx commented on #1679
@JonRowe I think it's not help, it's problem of scaffold generates, the source is just helloworld for test this suit, for Giving you the most detail about this problem, not for help!

Rails about 4.2x 5.0x all not work.

[2016-07-26 00:48] JonRowe commented on #1679
Can you please create a new repo, run `rails new` and then run the scaffold command you are having trouble with, and explain the problem with it, otherwise I will close this as a duplicate of #1669

[2016-07-26 01:05] qx commented on #1679
![2016-07-26 9 01 09](https://cloud.githubusercontent.com/assets/648406/17122620/9f49daf6-530f-11e6-93ad-892a763223ee.png)
![2016-07-26 9 01 47](https://cloud.githubusercontent.com/assets/648406/17122621/9f616180-530f-11e6-9ad9-a8100cdd30d1.png)
![2016-07-26 9 02 42](https://cloud.githubusercontent.com/assets/648406/17122647/d704bf42-530f-11e6-93af-33f7786adf4d.png)

[2016-07-26 01:14] JonRowe commented on #1679
Hi @qx please use code snippets rather than screenshots, and please paste **the contents of your spec file**.

[2016-07-26 01:15] qx commented on #1679
[code]

[2016-07-26 01:18] qx commented on #1679
And I have pasted Rails 5.0 test case on [github](git@github.com:qx/testRspeIn50.git), If you like to check.

[2016-07-26 08:39] swhiteley91 commented on #1677
Thanks for the suggestions, I'll give them a try! 👍

[2016-07-26 08:39] #1677 closed

[2016-07-27 11:02] adrianmann opened #1681 "be_succes(not be_success) passes in my tests."
I noticed in one of my tests that I had a typo for the response check, `expect(response).to be_succes` instead of `expect(response).to be_success`. The test passed. I have tested this in other test files for `to` and `not_to` and I still get a pass. Why did the test still pass?

[2016-07-27 12:01] JonRowe commented on #1681
`be_success` leverages the fact that `response` exposes a `success?` method, if `be_succes` also works then it's likely that `response` responds to `succes?` as well, although I can't find a citation for that at the moment.

Closing because unless I'm mistaken this is just a query and not a bug report :)

[2016-07-27 12:28] adrianmann commented on #1681
`response.succes?` returns:

[code]

It was kind of a "is this a bug" query :). I couldn't find an documentation either.

[2016-07-27 14:54] samphippen commented on #1681
`succes` should probably be `success` right?

[2016-07-27 14:56] adrianmann commented on #1681
Hi @samphippen, it should have been but I made a typo on my code. When I ran the tests, they still passed with the typo. Any instances that you see in this thread of `succes` were intentional.

[2016-07-27 23:05] JonRowe commented on #1681
Can you copy and paste you exact spec? If response doesn't respond to `succes?` then `be_succes` should raise an error about response not responding to that method name.

[2016-07-28 00:21] cathawk opened #1682 "Question about fixtures"
Hi there,

I have a question regarding fixtures. We are currently using RSpec to run a suite of acceptance tests. There is a lot of duplicated setup/teardown associated with these tests. We are using fixtures, opening browsers for corresponding fixture users, logging them in, and redirecting to the application. We would like to be able to organize the set of tests in such a way that we can minimiz

[2016-07-28 00:28] JonRowe commented on #1682
As far as I know we don't stop you calling fixtures in context hooks, Rails is largely in control of this, so I might be wrong, but you'd need to remove any database wiping you have at the end of each example, and turn off transactional fixtures. You'd also need to make sure you remove the fixtures at the appropriate point manually. You'd also need to use `order: :defined` within those example gro

[2016-07-28 00:28] #1682 closed

[2016-07-28 02:14] richddr commented on #1655
request.env did not work for me. Any update on this?

[2016-07-28 09:51] adrianmann commented on #1681
I can't post the exact code, here is a sample:

[code]

Again, `expect(response).to be_succes` does not cause an error. If I try something like `expect(response).to be_succ` or `expect(response).to be_successssss` then I do get an error such as:
[code]

and:

[code]

Again `response.success?` is fine but `response.succes?` returns:
[code]

[2016-07-28 11:09] JonRowe commented on #1681
What does `response.respond_to? :succes?` return? Or for that matter `response.methods.grep /succes/` (sorry to be a pain but I don't have a working rspec-rails project at the moment, all mine use plain RSpec)

[2016-07-28 11:14] samphippen commented on #1655
@richddr looks like nobody from the RSpec core team has had a chance to look at this yet. If you really need a fix to this, you're more than welcome to use the reproduction case above as a starting point for debugging and see if you can fix the problem :)

[2016-07-28 11:18] samphippen commented on #1681
the problem here is that we also allow present tense predicates e.g. `be_friends?` for a method called `friend?`

https://github.com/rspec/rspec-expectations/blob/master/lib/rspec/matchers/built_in/be.rb#L248

this is an intentional behaviour of RSpec and not a bug.

[2016-07-28 11:18] #1681 closed

[2016-07-28 11:21] JonRowe commented on #1681
I'm actually surprised by that.

[2016-07-28 11:22] samphippen commented on #1681
It's a behaviour that I've often noted isn't to my personal preference, but it is intentional.

[2016-07-28 11:25] JonRowe commented on #1681
Yeah I guess I've never needed: `be_friend` for `friends?` many other grammatial things but never that.

[2016-07-28 11:34] adrianmann commented on #1681
:thumbsup: Thanks guys.

[2016-07-28 14:37] myronmarston commented on #1681
Nor mine.  I don't think I've ever seen it used and I never really understood why we support that.  I think we should remove support in RSpec 4.  See rspec/rspec-expectations#935.

[2016-07-28 17:52] richddr commented on #1655
Update: For my API only app I managed to get around it using by `controller.request.headers` instead of `request.env`

[code]

[2016-07-29 15:29] AustinMCrane commented on #1672
if there is anyway i could help with this let me know, this is an inconvenience and would be helpful by default when generating an api only app.

[2016-07-30 13:01] mrageh commented on #1672
I'd like to go ahead and tackle this issue @JonRowe for api only apps are we not supposed to generate view specs?

[2016-07-30 17:29] audy commented on #1672
@mrageh I started making a list of unnecessary specs in the original issue body.

[2016-07-30 18:08] AustinMCrane commented on #1672
Some generated specs could be more helpful for testing against JSON responses or status codes as well, for instance you can replace the redirect checks with http status code checks and JSON formats

[2016-07-31 08:28] ihinojal commented on #255
For me @igorkasyanchuk solution works the best. Don't forget to require `spec/**/*_spec.rb` as by default the line `Dir[Rails.root.join('spec/support/**/*.rb')].each { |f| require f }` in `spec/rails_helper.rb` is commented.

[2016-08-01 17:33] roberts1000 opened #1683 "Hash returned instead of HashWithIndifferentAccess in a Request Spec"
I have the following request spec example:

[code]

My application creates a `user_info` helper method which is available on controllers and views.  When `controller.user_info` is called before the `get root_path` line, I get an instance of `HashWithIndifferentAccess` back (which is what I'm expecting).  When I call `controller.user_info` after 'get root_path`, I get a regular `Hash` instance back

[2016-08-04 04:00] JonRowe commented on #1683
Hmm, without knowing how your code is creating the hash it's difficult to see why this would change, I think this is something provided by Rails rather than us also, could you try rewriting this spec into mini test (use the [rails bug report template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_gem.rb) to make it easier) and see if the same behaviour is

[2016-08-05 01:14] roberts1000 commented on #1683
Sure thing.  I'm not really a mini test guy so it'll take a little time to come up to speed, but I'll see what I can figure out.  Thanks for the feedback.

[2016-08-06 10:58] pmontrasio commented on #1126
I'm getting this with rspec-rails 3.5.1 and Rails 5.0.0

I do have rspec-rails installed

[code]

and

[code]

I generated ```spec/spec_helper.rb``` with ```rails generate rspec:install``` after the ```bundle install```, then I added

[code]

And now

[code]

[2016-08-06 11:04] JonRowe commented on #1126
@pmontrasio put it in your `rails_helper` instead

[2016-08-06 12:14] pmontrasio commented on #1126
@JonRowe thanks, you pointed me to my mistake.

Actually that line was already in ```rails_helper``` (courtesy of ```rails generate rspec:install``` I guess) but I didn't notice it. I added that line to ```spec_helper``` and it doesn't work there because it's missing ```require 'rspec/rails'```.

[2016-08-08 01:29] trejkaz commented on #1554
I get exactly the same symptoms with MiniTest. Are we 100% sure this is just an rspec-rails thing?

[2016-08-08 10:13] k3rni opened #1686 "Unused methods in ScaffoldGenerator"
Discovered while fixing Rubocop complaints in #1685. Relevant sourcefile: [lib/generators/rspec/scaffold/scaffold_generator.rb](https://github.com/rspec/rspec-rails/blob/a0d98aa87e334e4ee37260b28fd2213926aec21e/lib/generators/rspec/scaffold/scaffold_generator.rb).

It seems that `mock_file_name`, `should_receive`, `stub`, `stub_or_should_chain` aren't used anymore, neither in code nor templates. R

[2016-08-08 10:28] k3rni commented on #1686
Update: same for `formatted_hash`.

[2016-08-08 11:46] k3rni commented on #1686
Removed in https://github.com/rspec/rspec-rails/pull/1685/commits/56b347ed06699bd219d1c5aca1bd9b93ed4c7014, to be closed with the linked PR.

[2016-08-08 16:23] CodingItWrong commented on #1605
I'd like to give fixing this one a shot! I'm investigating now.

[2016-08-08 20:22] reconstructions opened #1687 ""rails generate rspec:install" not found using rspec 3.5.2"
I am trying to run 'rspec:install' on a brand new rails app with ruby 2.3.1 and 'rails', '~> 5.0.0'.  With rspec-core 3.5.2 it fails with the following error:
[code]
I have the following in my Gemfile.lock:

[code]

Let me know if there is anything else I can provide to help troubleshoot this...

[2016-08-08 21:28] kieraneglin opened #1688 "Request spec environment is 'test' when run alone, but 'production' when run as a suite"
**Versions**
OS: OSX 10.11.1
Ruby: 2.3
Rails: 5.0
Rspec, rspec-core, and rspec-rails: 3.5.0

**Steps to reproduce**
1. Create new Rails 5 project
2. Create basic home controller and routes
3. Create feature spec with the contents `puts Rails.env`
4a. Run the spec using `rspec <path to request spec>`
4b. Run as a suite using `rspec spec`

**Expected behavior**
Step 4 should return `test` in both ci

[2016-08-09 00:29] JonRowe commented on #1687
Restarting spring usually fixes issues like this, it doesn't like new gems.

[2016-08-09 00:30] JonRowe commented on #1688
I believe you have something setting the production environment via the environment variables RACK_ENV or RAILS_ENV when running the entire suite, try grepping your codebase.

[2016-08-09 04:09] reconstructions commented on #1687
Sorry, thanks, beginners mistake, haven't had Spring in my stack until now...

[2016-08-09 04:09] #1687 closed

[2016-08-09 08:52] pmontrasio opened #1690 "Rails 5: uninitialized constant ActionView::Template::Handlers::ERB::ENCODING_FLAG"
I have the `rails_helper.rb` and the `spec_helper.rb` generated by the scaffolder. I have an empty controller test

[code]

When I run either `bundle exec rails spec` or `bundle exec rspec spec/controllers/home_controller_spec.rb` I get

[code]

The workaround is to add `require "rails/all"` at the beginning of `rails_helper.rb` or of `spec_helper.rb` but that wasn't needed for Rails 4 and rspec-r

[2016-08-09 09:19] JonRowe commented on #1687
All sorted then?

[2016-08-09 09:23] JonRowe commented on #1690
Are you using Rails api?

[2016-08-09 15:30] pmontrasio commented on #1690
No, it's normal Rails and ERB is loaded: the views work.

[2016-08-09 15:35] pmontrasio commented on #1690
I've been googling and experimenting. I can workaround the problem by adding either of these two lines to ```spec_helper.rb```

[code]

One of them is enough, it doesn't matter which one.
I found a reference to them at http://stackoverflow.com/questions/32916766/why-is-require-rails-all-not-installed-required-in-my-config-application-rb

[2016-08-09 15:42] pmontrasio commented on #1690
I created the application with ```rails new my_app ---skip-bundle -skip-test```, added rspec-rails 3.5 to the Gemfile and run ```bundle install``` plus ```rails generate rspec:install```. Did ```--skip-test``` omitted some initialization file that rspec relies on?

[2016-08-09 17:46] kieraneglin commented on #1688
@JonRowe, there are no hits for `RACK_ENV`, and `RAILS_ENV` never gets set to production

[2016-08-10 03:29] JonRowe commented on #1690
Whats in your `config/environment.rb` we load that to load rails so if you're missing pieces in there...

[2016-08-10 03:30] JonRowe commented on #1688
@kieraneglin we never modify those values ourself except to test so it must be coming from somewhere, are you using a .env file or other environment variable setting method? Whats the value for those two in `env` (a command line command).

[2016-08-10 08:03] pmontrasio commented on #1690
It's the one generated by Rails.

[code]

The line ```#require "rails/test_unit/railtie"``` is commented, probably because of the ```--skip-test```.
I uncommented it but I still get the error.

It's strange that I have to re-require that ```active_record/railtie``` or ```action_controller/railtie``` again in the spec helpers. I'll find out what happened the next time I'll create a new application

[2016-08-10 18:15] samphippen commented on #1690
Hi @pmontrasio

Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then, provide us with a description of how to clone your a

[2016-08-10 18:16] samphippen commented on #1688
Hi @kieraneglin

Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then, provide us with a description of how to clone your

[2016-08-10 18:18] #1605 closed

[2016-08-11 13:01] myprojectnewbie commented on #1546
thank is working

[2016-08-11 13:02] myprojectnewbie commented on #1546
thank is working

[2016-08-11 13:14] jcoyne commented on #1321
In rspec rails 3.5.1 I'm able to work around the problem by doing:
[code]

[2016-08-11 18:44] sgrif commented on #1644
This should be fixed upstream.

[2016-08-11 19:10] samphippen commented on #1644
👍

[2016-08-11 19:10] #1644 closed

[2016-08-13 12:54] yujinakayama commented on #1669
[code]

Here's a repro project:

* https://github.com/yujinakayama/rspec-rails-1669
* https://travis-ci.org/yujinakayama/rspec-rails-1669/builds/152039866

[code]

[2016-08-14 23:55] samphippen commented on #1662
fa63448420d3385dbd043aca22dba973b45b8bb2 is the commit a git bisect points to in rails.

[2016-08-16 15:47] Xosmond opened #1691 "Running Rspec on Rake task"
Is there any way to run all my tests on a rake task?

[code]

Thanks.

[2016-08-16 16:27] samphippen commented on #1691
Hi @Xosmond, we prefer that the RSpec issue tracker is only used for bugs and features. Would you mind re-asking your question over on our mailing list: https://groups.google.com/forum/#!forum/rspec.

[2016-08-16 16:27] #1691 closed

[2016-08-17 07:14] benoittgt commented on #1335
Is it still needed? I would like to give a try.

[2016-08-19 04:28] anggainlippox opened #1692 "user model gone / not recognizing"
hi all I've test all model and it works great except the user model, when I go to
xxxx/coverage/index.html the user model not there. how can I solve this?

Thanks before :)

[2016-08-20 13:17] samphippen commented on #1692
hi @anggainlippox, this most likely isn't an issue with RSpec. I'd suggest filing this with whatever coverage gem you're using, as most likely it's an issue with that gem.

[2016-08-20 13:17] #1692 closed

[2016-08-20 13:47] samphippen commented on #1662
@wassimk

I have opened a pull request on rails to fix this, see https://github.com/rails/rails/pull/26235.

In the mean time, setting `host!` in a `before(:each)` block should fix the problem for you. I'll close this when rails merges it since we have a work around.

[2016-08-22 01:17] roberts1000 commented on #1683
I was able to reproduce this with a very simple Rails app using minitest.  I'll follow up with Rails.

[2016-08-22 01:17] #1683 closed

[2016-08-22 04:16] anggainlippox commented on #1692
thank for fast respond @samphippen :+1:

[2016-08-22 22:25] k3rni commented on #1686
Merged in e985c13c, closing.

[2016-08-22 22:25] #1686 closed

[2016-08-23 18:29] nbogis commented on #1555
The problem with your solution @alxmcr is that everything is generated fine except  rails_helper.rb. I did what you suggested but the rails helper file is not part of the installation files. I assume we need this file to run the tests. Did they introduce this file on versions > 3.0?

[2016-08-24 18:35] alexsanford commented on #1668
I can confirm this issue, and it looks like a problem with RSpec and the way Rails changed controller tests.

Here's my controller action:

[code]

This TestUnit test passes:

[code]

This RSpec spec fails:

[code]

(I'm on rails 5.0.0.1, rspec-rails 3.5.1, and rails-controller-testing 1.0.1)

### Here is the problem:

Rails controller specs now inherit from `ActionDispatch::IntegrationTest` inste

[2016-08-24 22:53] joelmichael opened #1693 "irb: warn: can't alias context from irb_context."
I get this whenever I load a console with rspec 3.5.0 for some reason. Not sure if there is some configuration change possible, but it doesn't happen in 3.4.0, so we rolled back.

[code]

[2016-08-25 12:52] mrnugget commented on #1693
See this issue: https://github.com/rspec/rspec-rails/issues/1645 -- Seems to be fixed in the `3-5-maintenance` branch and the fix has not been released yet. See commits here: https://github.com/rspec/rspec-rails/commits/3-5-maintenance

[2016-08-25 12:57] #1693 closed

[2016-08-25 12:58] samphippen commented on #1693
@joelmichael as pointed out by @mrnugget a fix for this is merged, but has not yet been released.

[2016-08-25 13:22] myronmarston commented on #1693
@samphippen -- thoughts on cutting an rspec-rails 3.5.2 release in the next week?

[2016-08-25 13:25] samphippen commented on #1693
@myronmarston I can probably commit to doing it over the coming weekend. If you or @JonRowe can do it sooner that'd be shiny.

[2016-08-25 22:58] JonRowe commented on #1693
I've just released 3.5.2

[2016-08-25 23:32] mrageh commented on #1662
@samphippen since you've fixed the underlying problem causing this issue in Rails, do you think we should close this issue?

[2016-08-26 05:23] inv-joseph opened #1694 "Everything in the config is loaded twice when testing using rspec"
**Gemlist** for my project is

[code]

**Spec_helper.rb** has following data

[code]

**group_spec** content is

[code]

When I execute command 'bundle exec rspec spec/models/group_spec.rb'. It produces the following error

[code]

airbrake file is loaded twice. When I remove all data in errbit.rb then showing error that routes are repeatedly loading. Please help to solve this issue

[2016-08-26 12:30] samphippen commented on #1662
Yeah. This can be closed now.

[2016-08-26 12:30] #1662 closed

[2016-08-27 20:25] midu commented on #1554
For what it's worth, in case this is blocking people, passing an absolute path does work:

[code]

Seems like action_dispatch doesn't have access to `fixture_path` so it won't be able to prepend it to the passed file path.

Also, it's probably obvious to everybody else, but you have to explicitly put it under the `params` key, you can't path it through the path (duh):

[code]

[2016-08-28 01:31] JonRowe commented on #1694
This line:

`require File.expand_path("../../../config/environment", __FILE__)`

is probably causing this behaviour, if Rails is also loaded elsewhere it'll cause this behaviour, requires are only idempotent if the file path is the same.

[2016-08-28 11:33] myronmarston commented on #1694
@JonRowe's probably right...but in general if you want to see what's causing files to get loaded, just put this at the top of the file:

[code]

That'll print out the backtrace of the code that led to the file being loaded, and you can see where the sources of multiple requires are.

[2016-08-28 22:51] akbarnia71 commented on #1546
@samphippen works like a charm ;)

[2016-08-29 03:31] inv-joseph commented on #1694
@JonRowe I have replaced all require File.expand_path with require_relative, but still have the same issue. All files in initializers and routes.rb file is loading twice. When I comment routes.rb then can execute
**bundle exec rspec**   command and test models. As there is no conflict between two routes(When the routes.rb is executed twice there is no routes to raise conflict) .

It is loaded twic

[2016-08-29 04:01] myronmarston commented on #1694
In any file in which you want to understand the backtrack at the point it gets loaded.

Sent from my iPhone

[2016-08-29 04:26] inv-joseph commented on #1694
@myronmarston ,  I have added the above given code in config/initializers/assets.rb, which produces same backtrace for both time and the resulted backtrace is

Loading /home/akhil/test-prjct/test/project/config/initializers/assets.rb. Backtrace:
/usr/local/rvm/gems/ruby-2.3.1/gems/activesupport-4.2.1/lib/active_support/dependencies.rb:268:in `load'
/usr/local/rvm/gems/ruby-2.3.1/gems/activesupport

[2016-08-29 08:10] JonRowe commented on #1694
Per your backtrace, your loading Rails in your `rails_helper.rb` and your group spec:

[code]

[2016-08-29 09:20] inv-joseph commented on #1694
@JonRowe ,I don't understand what you actually meant. As you said I have changed require File.expand_path() to require_absolute. I found that in environment.rb when Rails.application.initialize! is executed all the initializing files are executed twice while running rspec. But when we run the project it is executed only once. So no issue there

[2016-08-29 09:21] JonRowe commented on #1694
From your initial post:

[code]

Remove the require, as `rails_helper.rb` already contains one.

[2016-08-29 09:31] inv-joseph commented on #1694
yes. I remove require File.expand_path("../../../config/environment", __FILE__) from every *_spec files. But issue is still there the same issue

[2016-08-29 09:34] JonRowe commented on #1694
Did you try not replacing it with the require_relative? It's recommended to just use `require 'rails_helper'` when you need Rails.

[2016-08-29 10:10] inv-joseph commented on #1694
files under config contain require_relative. In *_spec files there is only require 'rails_helper'

[2016-08-30 05:28] p29892p opened #1695 "Test controller actions that require pundit authorize"
Hi there,

I tried so many things and end up incompletely. I want to write some specs for my rails app controller that require pundit authorization. I searched for solutions in google and also posted a question in rspec google group, but nothing found. Please some one help me how can i write tests for controller action that require pundit authorization. Here i added my controller action and specs

[2016-08-30 12:24] JonRowe commented on #1695
Closing as this is not a bug / feature request.

[2016-08-30 12:24] #1695 closed

[2016-08-30 12:24] JonRowe commented on #1695
What exactly isn't working?

[2016-08-30 15:05] p29892p commented on #1695
Hi JonRowe.
i'm unable to handle **authorize @post** statement in my controller action. When i removed or commented that statement in my controller action test cases are passing. Can you please figure out what went wrong and how can i resolve this?

[2016-08-30 23:46] JonRowe commented on #1695
You need to add an authorization step into your test then, I'm not familiar with pundit but I'll guess it's session based so you need to do a login step first, then follow up with your post calls.

[2016-08-31 00:41] surbey opened #1696 "String over 255 characters"
I am able to save more than 255 characters to a string field.

[2016-08-31 00:46] JonRowe commented on #1696
Great, not sure what this has to do with RSpec however.

[2016-08-31 00:56] #1696 closed

[2016-08-31 06:15] p29892p commented on #1695
Thank you JonRowe. I'm very beginner with Rspec. I got stuck with authorization step and if you got any solution please post it here. Then i'll be know how to do that and that really helps me.

[2016-08-31 10:25] AJFaraday commented on #932
I've just experienced this issue on a Rails 3.2 repo, and found another possible cause.

The issue was that the controller specs had been placed in `spec/controller`, they were not recognised as controller specs.

I fixed it by renaming the folder `spec/controllers`.

------------------

Found with these Rspec and related gem versions:

[code]

[2016-08-31 10:26] samphippen commented on #932
hi @AJFaraday, your cause is unrelated to the root of this issue. honestly I'm pretty sure this is solved

[2016-08-31 10:27] samphippen commented on #932
I'm locking the conversation thread here, if anyone encounters something related, please open a new issue so that we can attempt to reproduce there.

[2016-09-02 09:23] inv-joseph commented on #1694
@JonRowe, @myronmarston  : I have found that the issue is when rspec execute lib/mailboxer/engine.rb. When I delete that file the issue is solved .The content of this file is exactly the same as https://github.com/mailboxer/mailboxer/blob/master/lib/mailboxer/engine.rb. What may be the issue. Please give your conclusions

[2016-09-08 19:16] eproulx-petalmd commented on #1554
In my case,

When running a spec, fixtures_file_upload `self.class` is `ActionDispatch::Integration::Session`. which `respond_to?(:fixture_path)` is `false` But, if you include `ActionDispatch::TestProcess` in your spec, the same `self.class` is a `RSpec::ExampleGroups` which `respond_to?(:fixture_path)` is `true`.

In that case, this code should work:

[code]

[2016-09-09 14:44] samphippen commented on #1658
[ae29142142324545a328948e059e8b8118fd7a33](https://github.com/rails/rails/commit/ae29142142324545a328948e059e8b8118fd7a33) is the commit in rails which introduces this

[2016-09-09 15:00] samphippen commented on #1658
the cause is that "subject.cookies" (i.e. the `cookies` on the controller) returns a different cookiejar object to the cookies in the spec because of this line: https://github.com/rails/rails/commit/ae29142142324545a328948e059e8b8118fd7a33#diff-873380f872919a451b4e8ce9dcbd57f7R22

[2016-09-12 16:17] smkarber opened #1698 "ar"

[2016-09-12 16:17] #1698 closed

[2016-09-16 19:12] JonasPreisler commented on #1546
How do I use this RSpec master?

I have this issue:
`Jonass-MBP:sample_app Money$ rails g rspec:install
Running via Spring preloader in process 48656
Could not find generator 'rspec:install'. Maybe you meant 'assets', 'channel' or 'scaffold'
Run `rails generate --help` for more options.`

Even after I insert the following in the Gem file, the above error persist:
`
gem "rspec-core", :github => "rs

[2016-09-16 22:29] JonRowe commented on #1546
You need to restart spring every time you do a bundle install.

[2016-09-17 08:12] JonasPreisler commented on #1546
I ring
`spring stop`
and then again
`rails generate rspec:install`

But the same error.
`Running via Spring preloader in process 1194
Could not find generator 'rspec:install'. Maybe you meant 'assets', 'channel' or 'scaffold'
`

What to do?

Thank you!

[2016-09-17 08:36] JonasPreisler commented on #1546
Problem solved.
1.
`gem install sqlite3`
2
`gem list sqlite3`
3.
Change sqlite3 version number in Gemfile.
4.
`bundle install`
5.
`rails generate rspec:install`

[2016-09-20 20:48] marcinpopielarz opened #1699 "expect ... route_to spec is failing to recognize route constraints"
### Steps to reproduce

routes.rb

[code]

routing/users_controller_spec.rb

[code]

*\* ERROR **
`
The recognized options <{"controller"=>"users", "action"=>"show", "location_code"=>"users", "id"=>"1"}> did not match <{"id"=>"1", "controller"=>"users", "action"=>"show"}>, difference:.
       --- expected
       +++ actual
       @@ -1 +1 @@
       -{"id"=>"1", "controller"=>"users", "action"=>"sh

[2016-09-20 20:50] samphippen commented on #1699
Hi @marcinpopielarz, thanks for providing steps to reproduce. Would you mind following the guide below to turn it in to a repository we can clone?

Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and co

[2016-09-20 21:29] marcinpopielarz commented on #1699
**To Reproduce**

0. install ruby 2.3.1
1. `git clone https://github.com/marcinpopielarz/rspec_issue`
2. bundle install
3. bundle exec rspec

**You should see**
[code]

**Notes**
- try running `rails s` and accessing  http://localhost:3000/users/1 - it works
- try running `rails s` and accessing  http://localhost:3000/only_single_valid_code/1 - it works
- same test was working with Rails 4.2.4. I

[2016-09-20 23:19] JonRowe commented on #1699
`expect(get: "/user/1").to route_to("users#show", id: '1', location_code: 'users')` should pass, the constraint is checked first and only when it fails does it fallback to users.

[2016-09-22 17:50] cvoege opened #1700 "Nested parameters in controller tests do not parse correctly"
So I have a method that takes some nested JSON data as parameters. If I pass this JSON data into my controller as the body of an AJAX request from my application, it parses just fine and I can use the parameters as normal. However, if I use this exact same data as the params: {} of an rspec field, they don't parse right, some data from the third element of the array gets moved into the second elem

[2016-09-22 22:21] killerham opened #1701 "OS X Sierra sqlite seg fault"
I get the following error when running ```bundle exec guard``` after updating to os x sierra:

Notes:
Using Ruby 2.3.0, also tried 2.2.4 with same result. Running rspec on its own works fine.

[code]

Here is the stack trace from spring:

[code]

[2016-09-22 22:23] myronmarston commented on #1701
Sqlite is not maintained by the RSpec maintainers, so we cannot help troubleshooting segfaults in it.  Please report this to the Sqlite maintainers instead.

[2016-09-22 22:23] #1701 closed

[2016-09-22 22:24] killerham commented on #1701
Whoops I put this in the wrong tab! Sorry about that.

[2016-09-24 10:15] samphippen commented on #1700
@cvoege is this a new bug since Rails 5 or has this always been the case for you?

[2016-09-26 15:44] kurko commented on #1275
For future reference: I tried all sorts of variations (e.g `config.action_mailer.default_url_options = { host: 'www.example.com' }`, Capybara's host etc), nothing worked. I then added `Rails.application.routes.default_url_options[:host] = 'www.example.com'` after the `end` (end of file, outside the config block) in `config/environments/tests.rb` and it worked.

[2016-09-28 13:40] cvoege commented on #1700
@samphippen Hard to tell, since I didn't write this test til I switched to rails 5.

[2016-09-28 13:57] samphippen commented on #1700
@cvoege could you follow our instructions for building an app which cleanly demonstrates the issue you're having please:

Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the chang

[2016-09-28 14:11] dsounded commented on #575
Have it been fixed somehow ?

[2016-09-28 15:36] cvoege commented on #1700
@samphippen Here you go: https://github.com/cvoege/rspec-params-issue

:)

[2016-09-28 23:32] JonRowe commented on #575
@dsounded this is a very old issue and the issue was in Rails and not RSpec.

[2016-09-29 09:38] sebastian-julius commented on #1655
I worked around this like so. Maybe it helps you, too. Not the prettiest solution but effective.

[code]

[2016-09-29 18:58] tosch commented on #1700
@cvoege Can you try using `as: :json` instead of `format: json`? This should ensure the params get encoded as JSON. See http://api.rubyonrails.org/classes/ActionDispatch/IntegrationTest.html

[2016-09-30 06:13] contrepoint commented on #1335
am working on the readme for this. then I'll get to rdoc.

Googling brings up `Cucumber` as a first result but I'd like to clarify what `cuke` refers to - could someone help, please? Thank you.

[2016-09-30 07:49] tosch commented on #1700
@cvoege Sorry, that won't work. The IntegrationTest is used for request specs. With `type: :request` and `post '/questions', as: :json` I can get your specs running (but please note that the `post` does not return the response in that case, request specs are different from raw controller specs.

The issue is, in my opinion, not within rspec-rails, but `ActionController::TestCase::Behavior`, which

[2016-09-30 08:34] samphippen commented on #1335
Hi Friends. We use https://relishapp.com/rspec/rspec-rails/docs for our documentation. These are autogenerated from cucumber features ([example](https://github.com/rspec/rspec-rails/blob/master/features/controller_specs/anonymous_controller.feature)). This task is to create some .feature files for job specs.

[2016-09-30 17:40] eliotsykes commented on #661
(Apologies for resurrecting an old thread, hoping this will save fellow devs hours of head scratching).

For devs running into the same issue as @firedev and @yggie, where the emails you find in `ActionMailer::Base.deliveries` are the same email duplicated or there is only one email when there should be multiple emails.

I ran into this too and believe its to do with ActionMailer's internal state.

[2016-10-01 23:51] cvoege commented on #1700
@tosch Thank you for your input. I'll try that out. If I were to report the ActionController::TestCase bug, would that be in the rails repo itself?

[2016-10-02 17:41] b-lambert commented on #1160
Looks like @glittershark gave up on this? I'd be happy to take it on!