[2018-04-16 22:22] JasperWoo opened #1987 "undefined method `expectation_fulfilled?' for nil:NilClass"
Basically I am trying to mock `object` here:

    if (object.present? && object.deleted_at.nil?)

When I tried the canonical way:

    object = Object.new
    object....assign necessary fields
    object.deleted_at = nil
    object = double

Rspec throws:

    Failure/Error: method_name.to_s if ExpectationChain === chains.last unless
    chains.last.expectation_fulfilled?

    NoMethodError:
    u

[2018-04-17 06:05] JonRowe commented on #1987
To test this just changed the deleted_at attribute on your real object.

[code]

[2018-04-17 06:05] #1987 closed

[2018-04-17 14:34] JasperWoo commented on #1987
What you said is exactly what I did first (see post). And so it's still giving the same error. Would you mind first explaining what the error means before closing the issue?

[2018-04-17 14:43] JonRowe commented on #1987
Closed because there is nothing here related to `rspec-rails` here, its a request for help, please use the mailing list or stackoverflow, also note what I did is not the same, you overrode the object with a double (with `object = double` which is obviously causing trouble in something else in your code downstream)

[2018-04-18 21:32] fercreek commented on #1554
I did the same than @ericproulx  and works!

[2018-04-19 08:00] jonekdahl commented on #1857
Is this fixed by #1951?

[2018-04-19 08:22] adnan358 opened #1988 "Exited with code 1"
Hi everyone!
We use to CI, when ı run then ı take **Exited with code 1**
But when ı run on localhost then I dont take error code

[2018-04-19 08:41] #1988 closed

[2018-04-19 08:42] JonRowe commented on #1988
Hi @adnan358 our issues aren't the place to ask questions, we have a mailing list for that or stack overflow etc. However in a normal configuration rspec will exit with status 1 when your tests fail.

[2018-04-19 08:43] JonRowe commented on #1857
Closed by #1951

[2018-04-19 08:43] #1857 closed

[2018-04-19 12:11] jasnow commented on #1984
@JonRowe - Is there anything else you need from me regarding this issue?

[2018-04-19 12:24] JonRowe commented on #1984
Try out #1989 and see if that fixes it for you, really someone should tell the Rails team about this too as the intent is to deprecate the class not break it.

[2018-04-19 12:33] jasnow commented on #1984
I did the following:
 1. Changed Gemfile to use
[code]
 2. Ran "bundle update" and got lots of dependency errors.

[2018-04-19 13:04] jasnow commented on #1984
@JonRowe - Added a comment to Gitter. Can't cut/paste into Google Group and did not yet want to delete rails/rails issue template.

[2018-04-19 13:40] #1554 closed

[2018-04-20 15:09] abevoelker commented on #1930
It would be nice if the original error message was re-raised. The error in my case that was swallowed is:

[code]

Rspec's suggestion to install capybara is misleading because I do have

[code]

in my Gemfile, it's just that the recent release of version 3.0 conflicts with Rails's runtime requirement of ~> 2.13.

It looks like [Rails has since loosened the requirement](https://github.com/rails/rai

[2018-04-20 23:10] ngoral commented on #636
I got a problem with this too: usage of `routes.draw` in `before` block (not in `it`) causes all following tests to fail with `No route matches ...`.
Am I missing something?

[2018-04-21 05:25] coorasse commented on #1930
@JonRowe my suggestion on how to improve the message is to also print the original exception.
I wrote that in the first comment; if you think that could be useful I'll open a PR.
Due to the amount of messages in this thread seems like something that could save some pain/time to people.

[2018-04-22 17:44] kroteDev commented on #1546
I had the same problem. I was using `gem rspec` instead of `gem 'rspec-rails', '~> 3.7'`.

[2018-04-22 23:25] wintersolutions commented on #1985
A new release with this and https://github.com/rspec/rspec-rails/issues/1857 would be great too!

[2018-04-23 09:26] JonRowe commented on #1930
The original error is printed now via #1959

[2018-04-23 09:51] JonRowe commented on #1985
See #1990

[2018-04-23 09:51] #1985 closed

[2018-04-25 01:41] durhamka commented on #1690
@samphippen Old issue, but I have a student that is running into this issue. Tried all of the suggestions above. She is on the latest version of RSpec and Rails 5.1.6. Were you ever able to figure out the issue or resolve? Thank you for all the work you do on this gem and don't want to add more work to your plate :) lol

[2018-04-26 14:14] ignisf commented on #1887
I experienced this issue with thin. Here's the PR I opened with the Capybara team: https://github.com/teamcapybara/capybara/pull/2022

[2018-04-27 08:32] #1984 closed

[2018-04-27 08:47] #1944 closed

[2018-04-27 15:34] ianaverno opened #1991 "NoMethodError: undefined method `receive'"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.2.8
Rails version: 4.2.7
Rspec version: 3.5.4

## Observed behaviour

running
`expect(PinMailer).to receive(:pin_approval).with(instance_of(CommunityPost), community_owner.user.email)`

results in
[code]

## Expected behaviour

Should check that the method is run with the provided parameters

[2018-04-27 16:44] JonRowe commented on #1991
Have you got the expect syntax turned on?

[2018-04-30 16:55] mikeycgto commented on #1921
Is this still an issue? I see to be experiencing this problem in a Rails 5.0 application with rspec-rails 3.7.2. I'm able to work around it with the following monkey patch:

[code]

Without this patch, I get the following error:

[code]

When doing:

[code]

Seems like `fixture_file_upload` fails to find a `fixture_path` class method. Any advice?

[2018-04-30 18:33] bmulholland commented on #1921
@mikeycgto looks like it's fixed on master but not yet released: https://github.com/rspec/rspec-rails/blob/master/Changelog.md "Use relative path for resolving fixtures when fixture_path is not set. (Laurent Cobos, #1943)"

[2018-05-08 14:56] raldred opened #1993 "Unable to set cookies to be passed in request specs"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.5.0
Rails version: 5.2.0
Rspec version: 3.7

## Observed behaviour

Cookies are not available in the controller

## Expected behaviour

Cookies should be available in the controller

spec
[code]

controller
[code]

Works fine in controller specs

[2018-05-08 21:02] jujulisan opened #1994 "Method destroy don't run"
I upgraded my application for Rails 5.1.6, ruby 2.5.1 and rspec 3.7.2.
This application has a test it verify if the callback was called. When I debbug de test and run manually the line with destroy, the test pass. But if I run the test normally, the test fail.

Ruby version:2.5.1
Rails version:5.1.6
Rspec version:3.7.2

Code

[code]

Failure/Error: expect(Module::Class).to have_received(:method).a

[2018-05-09 12:27] JonRowe commented on #1994
We don't do anything special with callbacks, are you upgrading Rails or RSpec? If you're upgrading both try just upgrading RSpec first, and if the test still fails then there might be an issue with our integration with system specs, which changed how Rails handles transactions, otherwise it's an issue with Rails.

[2018-05-09 12:36] jujulisan commented on #1994
Yes, I upgrade both, I'll upgrade rspec first.

[2018-05-09 12:55] jujulisan commented on #1994
Sorry about that, this really is an issue with Rails. I'll this issue.

[2018-05-09 12:56] #1994 closed

[2018-05-11 13:53] mdkalish opened #1995 "`expect` works differently in rails 5.0.0.1 and 5.1.6"
While this is not a huge problem, I'm curious if this difference is purposeful and where does it actually come from – the only difference between the below branches is version of rails (and some other minor irrelevant gems). Both branches use `ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-darwin17]`.

Here's the spec:

[code]

Here's what's being compared on the branches (the outputs are identi

[2018-05-11 14:11] #1995 closed

[2018-05-11 14:13] mdkalish commented on #1995
Sorry for the hassle, I found the reason already. If someone is curious:

In ActiveSupport 5.0.0.1:
[code]

And in ActiveSupport 5.1.6:
[code]

[2018-05-18 15:56] nbulaj commented on #1984
I'm using master branch of Rspec with Rails master and still see this error:

https://travis-ci.org/doorkeeper-gem/doorkeeper/jobs/380759360

[2018-05-18 20:38] JonRowe commented on #1897
@rsl if you can't upgrade `rspec-rails` nothing will work

[2018-05-18 21:37] rsl commented on #1897
@JonRowe dang, well thanks for the answer

[2018-05-22 17:37] att14 commented on #1420
I guess this ticket is specifically about the development environment, but we had a problem with this in the test environment. We use [collectiveidea/interactor](https://github.com/collectiveidea/interactor) pretty extensively, which has a `context` instance method. A pattern some of the teams use is to define a `delegate` at the top of an `Interactor` to show what are valid values that can be pas

[2018-05-22 19:55] JonRowe commented on #1420
@att14 it's the same issue, you need to control the load order of RSpec to prevent it, hopefully when RSpec 4 is released the issue will go away

[2018-05-23 22:38] jwilliams-handy opened #1996 "ActionController::UrlGenerationError when using route namespace constraint"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.1.8p440
Rails version: 4.0.13
Rspec version: 3.7

## Observed behaviour

I am adding a new version to an existing API. I have added a constraint to a `namespace` in my routes file. The route evaluates fine when hitting the route via an http call. However it is failing on every single controller spec that is written in the test

[2018-05-24 01:39] ArielAleksandrus commented on #1655
why so many downvotes on @andreymakovenko reply?

[2018-05-24 02:00] mikegee commented on #1655
@ArielAleksandrus this issue is about controller specs not request specs.

[2018-05-24 20:14] JonRowe commented on #1996
We are dependant on Rails to resolve our routes, it looks like your route isn't matching because controllers know nothing about json format, if you pass `format: :json` it should work. Note controller specs are deprecated in Rails 5 so converting them will not be a waste of time :p

[2018-05-24 20:21] jwilliams-handy commented on #1996
@JonRowe that `format: :json` piece works fine without the constraint with the controller specs. tried passing it along to give it a shot and get the same error.

I've gravitated towards the opinion of moving to request specs but was hoping for a bridging solution beforehand

[2018-05-24 20:22] JonRowe commented on #1996
Unfortunately you need to pass all the bits Rails would pass through to match the route, I think this is one of the reasons why they got deprecated, you have to know too much about them!

[2018-05-26 07:42] cyrilchampier commented on #1908
you mean `Capybara.server = :webrick` with only one 'b' I guess ?

[2018-05-27 18:07] jfelchner commented on #1226
I think since we have a solution here this can be closed out yes?  It seems like there isn't much traction on it anyway.

[2018-05-31 05:53] jfelchner commented on #1226
@tvdeyen ?

[2018-05-31 17:14] jfelchner commented on #1226
@tvdeyen

https://github.com/rspec/rspec-rails/issues/1226#issuecomment-392351654

[2018-05-31 17:29] tvdeyen commented on #1226
I don’t think this is solved yet, but the work around has worked for me. Closing, though

[2018-05-31 17:29] #1226 closed

[2018-06-06 18:33] michaelckcheung commented on #1582
Hi @JonRowe - this post is dated 2 years back. Since then, it appears RSpec has released 3.5, 3.6 and 3.7 with support for automatically inferring the metadata based on the config setting above and the location. Do you know when RSpec will remove support for this, if at all?

In my experience, I've found that the Rails community is often split on this behavior. Some prefer it due to its conformanc

[2018-06-09 05:35] crusadergo commented on #1655
for example:
      request.headers.merge!(valid_headers)
      post :create, params: { order: order.attributes }

[2018-06-13 10:57] ebihara99999 commented on #1993
Request spec doesn't support testing cookies, but controller spec does. What's the problem with you using controller spec?

[2018-06-13 14:10] raldred commented on #1993
No problem, like I said controller specs are fine, merely raising the gap in functionality.

[2018-06-13 18:00] mikegee commented on #1993
Controller specs [are discouraged](https://github.com/rspec/rspec-rails#controller-specs) these days. I wouldn't expect to see features added.

[2018-06-14 06:01] raldred commented on #1993
agree @mikegee, in a similar fashion to passing params and headers.
I suspect this is really down to a limitation of Rails' integration tests.

I wonder if you can do...

[code]

[2018-06-14 19:40] javierjulio commented on #1930
@abevoelker I have the same issue as you did. Were you able to upgrade to capybara to v3 while remaining on Rails 5.1.x? Or you remained on capybara v2 for now?

[2018-06-16 16:30] samphippen commented on #1976
@JonRowe  I'm going to make this truncate on our end.

[2018-06-18 09:44] JonRowe commented on #1582
@michaelckcheung it will be removed in RSpec 4. All our generators create the new explicit tagging format.

[2018-06-18 10:35] JonRowe commented on #1993
Most of the behaviour for these sets of specs is direct from Rails, can you see if it works in the minitest equivalent for me?

[2018-06-19 04:32] #1976 closed

[2018-06-22 14:10] eric-hemasystems commented on #1897
Dug into this a bit to determine the root cause although I need advice regarding the resolution path. I see it mostly as a design problem in Rails.

1. When rspec sees that a `system` test is being run [it loads `action_dispatch/system_test_case`](https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/example/system_example_group.rb#L51).
2. Rails loads all the parts of `ActionDispatch::

[2018-06-22 14:28] samphippen commented on #1897
Hi Folks,

RSpec rails will now do this for you if you're on a high enough version fo rails: https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/example/system_example_group.rb#L74.

Please upgrade your RSpec Rails and Rails versions and that should fix it for you :)

[2018-06-22 14:29] samphippen commented on #1996
Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then, provide us with a description of how to clone your application and r

[2018-06-22 14:30] eric-hemasystems commented on #1897
I don't believe it does. The code you pointed to runs too late. See my previous message for the full explanation.

[2018-06-22 14:32] samphippen commented on #1897
@eric-hemasystems can you provide a rails app to clone that reproduces this following these exact steps:

Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to

[2018-06-22 14:48] samphippen commented on #1993
I actually just tried to reproduce this and failed.

@raldred
Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then, provid

[2018-06-22 14:49] samphippen commented on #1991
@ianaverno
Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then, provide us with a description of how to clone your applic

[2018-06-22 14:56] samphippen commented on #1928
Could reproduce

[code]

(master versions of all rspec repos, latest rails, both controller and request specs)

[2018-06-22 15:02] samphippen commented on #1928
This is reproducible back to at least RSpec 3.5

[2018-06-22 15:03] samphippen commented on #1975
This was fixed by #1977

[2018-06-22 15:03] #1975 closed

[2018-06-22 15:04] samphippen commented on #1931
This is likely not an RSpec bug, but rather a user spec ordering issue. @benjii if you confirm this is *not* an issue in your app, please re-open.

[2018-06-22 15:04] #1931 closed

[2018-06-22 15:05] samphippen commented on #1921
This is fixed by #1943 and will be released in the next RSpec Rails version.

[2018-06-22 15:06] #1921 closed

[2018-06-23 01:06] roberts1000 commented on #1897
It's slightly different, but maybe it's related.  When I run RSpec (with capybara), I can trigger

[code]

Here's a simple Rails app that reproduces the issue: https://github.com/roberts1000/puma_in_rspec_output

[2018-06-27 15:35] shepmaster commented on #1908
puma/puma#1582 seems related. TL;DR: Using Timecop can cause Puma to sleep for too long, causing an error.

[2018-06-28 12:18] eric-hemasystems commented on #1897
@samphippen - Here is a sample repo that demonstrates the problem, shows my work-around fixing it and provides exactly how this repo was reproduced in the README. Let me know if you need anything further to confirm this is a problem.

https://github.com/eric-hemasystems/rspec_system_puma_output

[2018-06-29 10:56] alisnic opened #2006 "Controller tests - state is propagated between multiple requests within the same example"
## What Ruby, Rails and RSpec versions are you using?

ruby 2.4.4p296 (2018-03-28 revision 63013) [x86_64-darwin17]
Rails 4.2.8
RSpec 3.5.4

## Observed behaviour

When doing controller tests, controller state is propagated between multiple requests within the same example

## Expected behaviour

Controller state should not be propagated between requests, as it happens in real world

## Can you pr

[2018-07-03 10:07] serg-kovalev commented on #1668
as a workaround for Rails 5.0.x, I'd suggest to use something like that:
[code]

[2018-07-05 21:14] JonRowe commented on #1576
Happy to help review a PR updating the documentation, its basically the same usage as `with` from `receive(...).with(...)` from rspec-mocks

[2018-07-06 14:35] alisnic commented on #2006
It seems that the problem is in Testing::Functional from Rails, nothing to do with Rspec-rails  https://github.com/rails/rails/blob/v4.2.8/actionpack/lib/action_controller/test_case.rb#L618

[2018-07-06 14:35] #2006 closed

[2018-07-06 15:38] JonRowe commented on #2006
Thanks for checking in to that further for us!

[2018-07-09 09:31] #1841 closed

[2018-07-12 08:36] faucct opened #2008 "Per example group setting `use_transactional_fixtures` is named `use_transactional_tests` in contrary to global one"
RSpec 3.7.0

[code]

[2018-07-13 03:41] SzNagyMisu commented on #1576
Thanks a lot!
I will most happily provide a PR, only I don't see where I should start so that it will update the docs on relishapp (which repo to fork, which file to update...).

[2018-07-13 18:17] composerinteralia opened #2009 "Scaffold controller spec template uses deprecated 'success?` method"
When creating a resource with `rails generate scaffold`, we use this template for the rspec controller specs:
https://github.com/rspec/rspec-rails/blob/master/lib/generators/rspec/scaffold/templates/controller_spec.rb#L67

But the `success?` method on the response was deprecated:
https://github.com/rails/rails/blob/20c91119903f70eb19aed33fe78417789dbf070f/actionpack/lib/action_dispatch/testing/tes

[2018-07-14 11:38] benoittgt commented on #2009
Hello @composerinteralia

Thanks for the comment. Feel free to open a PR to address this warning.

🎉

[2018-07-15 09:08] benoittgt opened #2012 "[CI] Deal with Puma requiring ruby 2.2+ minimum"
Hello

Recently [Puma added a limitation on Ruby 2.2+](https://github.com/puma/puma/pull/1506). So our CI is breaking now (https://travis-ci.org/rspec/rspec-rails/jobs/404060429)

![capture d ecran 2018-07-15 a 11 01 18](https://user-images.githubusercontent.com/8417720/42732298-3d6594c8-881f-11e8-928d-dccd4d2d4fcf.png)

I'm wondering how can we handle this? If the Ruby version is below 2.2 we use

[2018-07-16 15:13] JonRowe commented on #1576
This repo, the cucumber features for the matcher, and/or add rdoc comments to the method

[2018-07-17 08:46] #2008 closed

[2018-07-17 08:48] JonRowe commented on #2008
You've come across an oddity in how rspec and rails work together, we have one global setting `use_transactional_fixtures` to match our parlance and how Rails used to talk about this. The equivalent Rails setting is called `use_transactional_tests` as they have their built in mini-test preference, neither are intended to be called at a per example level, and the later is only exposed due to Rails

[2018-07-17 10:59] Epigene commented on #1908
I am also getting this on 3.11.4. We are using Timecop.

[2018-07-20 12:07] #2012 closed

[2018-07-20 16:57] #2009 closed

[2018-07-21 12:17] SzNagyMisu commented on #1576
Opened PR #2015

[2018-07-26 07:04] artur79 commented on #1897
@swrobel Unfortunately that snipped:

`config.before(:all, type: :system) do
    Capybara.server = :puma, { Silent: true }
  end`

causes that Capybara is not able to connect to Chrome in js spec. But my configuration is specific because I use remote chrome in Docker container.

[2018-07-27 16:08] NikitaKolokoltsev commented on #985
I had a similar issue, but with a bit different type of "merging". I had been sending params like this:

[code]

But after that request was made params came to the server in such form:
[code]
And, as you understand, that lead to updating the wrong field for the first user, and not updating the corresponding field for another user.

### **WHAT ACTUALLY HELPED ME!!!**
I just added `as: :json` to the

[2018-07-30 05:32] rjaralikatti commented on #1665
I am still facing this issue. @ahmadhasankhan did you do anything for it to work? I am using rails 5.2.0 and rspec-rails 3.7

[2018-07-30 08:16] JonRowe commented on #1665
Make sure you restarted spring if you recently upgraded.

[2018-07-30 08:32] rjaralikatti commented on #1665
Thanks @JonRowe that was the issue. Its fixed.

[2018-07-30 08:46] JonRowe commented on #684
@axos88 That's because ActiveRecord objects are compared by id by ActiveRecord, and not deep introspection of attributes. e.g.
[code]

RSpec expects objects to behave according to Ruby semantics

[2018-07-30 08:53] axos88 commented on #684
I know `why` it happens, but it does cause surprising and incorrect behaviour in this probably very common case ( I find myself writing tests like `expect { subject }.to change { thing.reload }.to have_attributes(something: 'newvalue')` quite often....

A warning should be printed at the very least if this is not something that could be easily fixed on the rspec side

[2018-07-30 08:56] JonRowe commented on #684
We do print a warning, we tell you it did not change 😂but in all seriousness by Ruby semantics it hasn't changed, it's not RSpecs fault the magic of Rails is broken here, if you feel strongly about this I suggest you go open an Issue/PR for Rails making ActiveRecord objects not `==` when there attributes are not `==`, for them it would be as simple as:

[code]

[2018-07-30 08:58] JonRowe commented on #684
Also It think `expect { perform_action; thing.reload }.to change { thing }.to have_attributes(something: 'newvalue')` would provide the experience you want.

[2018-07-30 22:37] knappe commented on #1836
@brunofacca I ran into this today and would love to see this merged.  How can I help push this to the finish line?

[2018-07-31 22:21] joshuapinter opened #2016 "Disable making specs a dependency of the default rake task?"
By default, this library sets the default rake task to depend on `:spec`, as can be seen in this line:

[code]

https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/tasks/rspec.rake#L6

We want to run a few things before running the specs when we call `bundle exec rake`. But with this line setting the default rake task to depend on `:spec`, we can't redefine the default rake task witho

[2018-08-01 21:51] JonRowe commented on #1836
@knappe For the attached documentation PR to work it needs to actually assert the correct layout, or render the correct layout.

[2018-08-01 21:52] knappe commented on #1836
Okay, I'll see if I can work on this later tonight then.

[2018-08-03 07:57] JonRowe commented on #2016
To be honest opting out via `task(:default).clear` is going to be more concise than creating a setting somewhere, especially as it would have to load in rake and not in RSpec.

We could change this in the next major version, but we'd have to go down the "generate" a rake task file route, and have it in there, so it could be just deleted, would require deprecation, changeover, all sorts, to be hone

[2018-08-03 16:15] joshuapinter commented on #2016
Thanks for the reply, @JonRowe. If I'm the only one then, yeah, definitely not worth the effort. Haha.

Quick question, though: Is this normal practice for a test suite to make the default rake task depend on it and automatically run it? What was the thinking around doing this in the first place? I find it a little surprising, but it seems I'm the only one that thinks so. 😄

Thanks!

[2018-08-03 17:01] JonRowe commented on #2016
We only do this because Rails does this, it would be very surprising to run
'rake' and get minitest when you're an RSpec user!

The main RSpec gems don't do this as they're a bit more diy

[2018-08-03 17:19] joshuapinter commented on #2016
![well there it is](https://user-images.githubusercontent.com/180819/43656243-ee53f2e0-970e-11e8-99cf-d6958974eef3.gif)

See, and that makes perfect sense. I didn't realize Rails does this. Mystery solved. I'll stop my whining. :)

[2018-08-03 17:19] #2016 closed

[2018-08-06 17:14] ndbroadbent commented on #1897
This was happening for me with rspec-rails `3.7.2` and rails `5.2.0`. I was able to fix it by putting `Capybara.server = :puma, { Silent: true }` in `spec/rails_helper.rb`. (Didn't need the `before` block.)

[2018-08-13 23:29] pjscopeland commented on #1987
I have run into the same error message, and found that it could be treated as a failed expectation; though I was unable to isolate under what circumstances _this_ error came up instead of a more helpful failed expectation message.

There is very little information about it online... it's as if @JasperWoo and myself are the only two people to ever have seen it.

![Wisdom of the Ancients](https://im

[2018-08-14 12:58] JonRowe commented on #1987
@pjscopeland @JasperWoo never actually supplied the code required to replicate anything, he has a bunch of typos in his specs and replaces his object with a double, none of which would cause the error but all would definitely not work, if you have a snippet that can reliably produce this error please share it and we will look into it more

[2018-08-15 10:10] bottles9 opened #2018 "having a problem with=> rails g rspec:install"
## What Ruby, Rails and RSpec versions are you using?

Ruby version:
Rails version:
Rspec version:

## Observed behaviour

## Expected behaviour

## Can you provide an example app?

[2018-08-15 10:25] bottles9 commented on #2018
[livechat.zip](https://github.com/rspec/rspec-rails/files/2289936/livechat.zip)
 this the project i am working on Please

[2018-08-16 08:09] JonRowe commented on #2018
This isn't an RSpec issue, but a problem in your `C:/Sites/livechat/config/application.rb`, comment out the line with `load_defaults` on it, (line 95). It seems that something is wrong with your Rails install.

[2018-08-16 08:09] #2018 closed

[2018-08-16 09:01] georgemillo commented on #1897
Had this issue with rspec-rails 3.6.1, rails 5.1.6, puma 3.11.4. Fixed it by changing `Capybara.server = :puma` in rails_helper to `Capybara.server = :puma, { Silent: true }`

[2018-08-17 19:10] nickrivadeneira commented on #1908
I'm running into the same issue with `selenium_chrome_headless` and replacing Timecop with [ActiveSupport time helpers](https://api.rubyonrails.org/classes/ActiveSupport/Testing/TimeHelpers.html#method-i-travel_to). Replacing `puma` with `webrick` fixed it for me, but it'd be better if that weren't necessary.

[2018-08-27 10:29] sapnaSpaceo opened #2019 "Rspec command does not work for 2.4.2 ruby version ?"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.4.2
Rails version: 5.4.1
Rspec version: 3.8.0

## Observed behaviour

 bundle exec rspec command works fine when my ruby version is 2.3.1 but it throws error when I use this command for ruby version 2.4.2 it gives below error.

rbenv: rspec: command not found

The `rspec' command exists in these Ruby versions:
  2.3.1

## Expec

[2018-08-27 22:06] #2019 closed

[2018-08-27 22:09] JonRowe commented on #2019
I'm afraid we can't debug why you don't have RSpec installed after upgrading, Ruby. I recommend try reinstalling RSpec in your new gem environment.  e.g.

* Running `bundle install` afresh
* Running `gem install rspec`
* Checking your PATH includes the location of your gem installations, which has probably changed.

[2018-08-28 12:29] sapnaSpaceo commented on #2019
yes it worked. thank you.

[2018-08-29 15:16] mikehale commented on #1596
Something like this might work:

[code]

[2018-08-31 07:32] drdent commented on #1928
Also `@request.env['RAW_POST_DATA'] = 'some raw data'` did not work.
After the POST request, the ENV 'RAW_POST_DATA' is empty

Here is some snippet:
In Spec file:
`@request.env['RAW_POST_DATA'] = 'some raw data'`
`post :some_action`

In Rails Controller:
`
request.body.read => "" # should be 'some raw data'
`

It is braking with Rails 5.2.1

[2018-08-31 22:35] mustmodify commented on #1956
I gotta say, this is another example of the one thing I dislike about the Ruby community. Instead of helping people, you say "Upgrade now!". If you are new to this community, that might be easy OR it might be really painful. Other options include:

* "Oh I see they someone else changed something, we should issue a point release" or just "here's a quick fix but you might consider upgrading for thes

[2018-09-03 05:29] benoittgt commented on #1956
Hello @mustmodify

Here you can have a fast an easy way to resolve your issue by simply upgrading the gem. That's a gift! 🎁

Also as mention, this is an old version. Maintaining open source project take time, here the issue get resolve after one day for free.
Feel free to answer to the point you provide.

Bye

[2018-09-03 08:52] JonRowe commented on #1956
@mustmodify I'm afraid we don't have the resources (as volunteers) to back port support for newer versions of rails to older versions of RSpec. The OP upgraded their Rails without RSpec, and it was a simple fix to upgrade RSpec to a version that supports their version of Rails. We fully support semver and made our last major upgrade process as simple as it could be (including a full transitional r

[2018-09-03 23:04] mustmodify commented on #1956
I use rspec by default in my projects. I have a great deal of respect for it and I appreciate the time you have spent on it.

That there is tremendous value in our community and its behaviors should not prevent us from considering how we might grow further. I feel like one area for growth is in our tendency to prioritize new versions, often explicitly deprioritizing maintenance. That seems unhealt

[2018-09-04 11:00] JonRowe commented on #1956
You are picking the wrong project to make your point, the RSpec policy is not one that prioritises new versions over maintenance. In fact we prioritise maintenance over new features heavily.

We follow semver, bug fixes are released under patch releases as we find and fix them. Often we get new features contributed which forces us to release minor versions to be semver compliant, these releases wi

[2018-09-04 13:07] corentindms opened #2020 "Strange behavior with have_enqueued_job"
Hello everyone !
I've got to report a strange behavior that I observed today with the use of `have_enqueud_job`

Ruby version: ruby 2.4.1
Rails version: 4.2.10
Rspec version: 3.7

## Observed behaviour

Consider the following code :
[code]

This spec is failing because two jobs have been enqueued with the following message :
[code]

There is nothing wrong with that and that's the behavior expected

[2018-09-04 18:29] etgrieco opened #2021 "Nil parameter unexpectedly coerced as empty string"
## What Ruby, Rails and RSpec versions are you using?

[code]

## Observed behaviour

When a query parameter is passed as `nil`, the query is passed to Rails and coerced as an empty string.

## Expected behaviour

Expected that `params: { query: nil }` be passed without a `query` parameter, and tests looking for empty strings (e.g. `/users?query=` ) must explicitly test with an empty string in tho

[2018-09-05 15:34] JonRowe commented on #2021
Hello, this is how Rails behaves, you can't ever have a nil parameter passing through, `http://myapp/path/to/controller?query=` would come through as `{ "query" => "" }` if you want nil as a value you need to omit the key e.g. `http://myapp/path/to/controller` which should make params `{ }`

[2018-09-05 15:34] #2021 closed

[2018-09-05 15:59] etgrieco commented on #2021
@JonRowe Going to the route `http://myapp/path/to/controller?query` will indeed produce `nil` params. You can have a `nil` parameter pass through:

Nil param
[code]

Empty string
[code]

I believe a controller test with `params: { "query" => nil }` should behave the same way as if the parameters were actually `{"query"=>nil}`, as shown above.

[2018-09-05 16:01] JonRowe commented on #2021
Thats because `GET "/users?query"` is invalid, `query` here isn't a param, its just junk.

[2018-09-05 16:02] JonRowe commented on #2021
You can't recreate this in Rails test mode. Everything is expected to be a string.

[2018-09-05 16:02] JonRowe commented on #2021
(This is not RSpec's doing, it's all Rails, we pass things through as you give them to us)

[2018-09-05 16:06] etgrieco commented on #2021
@JonRowe Thanks for the clarification, not sure whether was happening in Rails or RSpec -- definitely unexpected though when Rails, within the controller, clearly can differentiate between nil and string params when going to the route -- so if this change were to happen it would need to happen on the Rails testing end I guess?

[2018-09-05 16:08] JonRowe commented on #2021
You're missing the point, nil is not a param, it's just an invalid string, valid url params will always have `=` and thus will always be strings, if you raise this with the Rails team I suspect they will fix it so `/users?query` returns a params of `{}` which is the technically correct versions.

[2018-09-06 17:14] PeterMozesMerl opened #2023 "config.use_transactional_fixtures = false in before(:all) callbacks"
I’m trying to remove Database Cleaner from my suite as I have random `PG::TRDeadlockDetected` exceptions in my Capybara features/examples. They occur due to ajax calls on the page that try touching the database when the Database Cleaner is already doing the truncation.

This has been going on for years. I’ve implemented a few workarounds such as navigating away to a static page after each feature,

[2018-09-07 12:26] PeterMozesMerl commented on #2023
Until yesterday, I didn’t even know about the `before(:all)`. I found it here: https://relishapp.com/rspec/rspec-rails/docs/transactions

Anyway, I wouldn’t mind organizing the specific examples into a group to make it work.

I thought you had control over it as it’s referenced in:
[code]

There is a hint in the configuration.rb and another file as well:
[code]

Maybe I should try going on this ro

[2018-09-09 08:56] JonRowe commented on #2023
Theres a config helper defined by RSpec Rails, but you'll note it defers to Rails to do the actual work, all we're doing is exposing the configuration option in the "RSpec" way. RSpec itself contains no database code.

[2018-09-09 16:05] PeterMozesMerl commented on #2023
I see what you mean.

After trying several workarounds I ended up with switching from `:truncation` to `:deletion` with Database Cleaner. It solved the issue.

Cheers.

[2018-09-11 20:24] jherdman opened #2024 "Some Errors Are Awkward to Test with Request Specs"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.4.1p111
Rails version: 5.1.3
Rspec version: 3.8

## Observed behaviour

In a request spec, an example that results in a 404 raises an error.

## Expected behaviour

I should be able to opt into having a 404 response returned. In Controller Specs I can call `render_views` to achieve this behaviour.

## Can you provide an example

[2018-09-12 19:29] JonRowe commented on #2024
As @mikegee's patch shows, this is a Rails behaviour, and not one which is easily controlled, personally I feel this shouldn't be tested unless its invocation is controlled by code you own, (you can always check for the error if you're raising the error of course).

[2018-09-12 20:35] JonRowe commented on #2024
If your intent is to write an end-to-end test, have you considered writing feature, or system level tests, which should enable this sort of assertion without tinkering with Rails innards, or asserting on the error raised and trusting Rails will turn that into a 404?

[2018-09-12 20:48] jherdman commented on #2024
That could work. I have to admit I find the delineation between request and feature specs to be confusing. They more or less look the same. Would you be able to offer some guidance on the matter?

[2018-09-12 21:50] JonRowe commented on #2024
Request specs are Rails blessed replacement for controller specs, they are "full stack" through the controller middleware stack, but are still internal to Rails.

Feature specs are full stack through rack and use capybara (which is rack-test dressed up) to accomplish a similar goal, but from outside Rails.

[2018-09-13 02:45] jherdman commented on #2024
Stupid follow up question: if you had a Rails API project with a huge suite of controller specs, and you knew that you needed to migrate away from these, would you migrate to feature or request specs?

[2018-09-13 08:08] JonRowe commented on #2024
If you were happy with controller specs I'd move them to request specs, you just might have the odd oddity caused by Rails behaviour such as this, I think you can force Rails to not render errors in test mode which might help...

[2018-09-13 09:57] JonRowe commented on #2020
The issue is we don't have a registry of enqueued jobs used / expected unlike how we do with expectations of methods etc, so we don't have global knowledge of whats expected, so "unexpected" jobs are just allowed through, this might take some work to fix.

As a work around this should work for now:

[code]

[2018-09-13 15:39] jherdman commented on #2024
Thank you very much for the feedback.

I think I have enough here to see that this issue should be closed as WILLNOTFIX per the alternatives presented.

[2018-09-13 15:39] #2024 closed

[2018-09-14 04:06] viraptor opened #2025 "Missing `inversed_from` support"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.3
Rails version: 5.2.1
Rspec version: 3.8.0

## Observed behaviour

`mock_model(SomeModel)` raises an exception on:

[code]

The same model works fine with rails 5.1.x.

## Expected behaviour

No exception.

## Can you provide an example app?

https://github.com/viraptor/mock_model_repro/commit/c88e18cd97952a41f07795fe08b02dc79

[2018-09-14 04:19] viraptor commented on #2025
Moved to the right project https://github.com/rspec/rspec-activemodel-mocks/issues/31#issuecomment-421226351

[2018-09-14 04:19] #2025 closed

[2018-09-17 03:46] tvanderpol commented on #1848
I tried to replicate this.

I used Rails 5.2.1 and added `gem 'rspec-rails'` to the `group :development, :test` in my Gemfile

I ran `bundle install` and `rails generate rspec:install`. The `bundle exec rspec` command works without issues.

To make sure I didn't miss something I generated a model (this worked properly, generating specs and all) and after a db migration the specs also ran without t

[2018-09-17 05:09] benoittgt commented on #1848
Thanks @tvanderpol for trying to reproduce the issue. @Petercopter I will close the issue at the moment. You can re-open it if you provide us a reproduce case.

Thanks to both of you 😊

[2018-09-17 05:09] #1848 closed

[2018-09-17 08:39] JonRowe commented on #1848
For the record `spec_helper` is the require that should be in the `.rspec` file, or in every non rails spec, and then `rails_helper` should be required only in those spec files that need it.

[2018-09-19 01:43] adamw005 commented on #1555
spec/rails_helper.rb:
https://github.com/rspec/rspec-rails/blob/master/lib/generators/rspec/install/templates/spec/rails_helper.rb

[2018-09-24 05:30] tvanderpol commented on #1887
I just took the example code from [Nerian's comment](https://github.com/rspec/rspec-rails/issues/1887#issuecomment-345504027) and this problem no longer happens.

Based on [ignisf's comment](https://github.com/rspec/rspec-rails/issues/1887#issuecomment-384656457) [this issue in capybara's repo fixed it](https://github.com/teamcapybara/capybara/pull/1992).

A bundle install on the test case code in

[2018-09-24 09:27] JonRowe commented on #1887
Magnificent

[2018-09-24 09:27] #1887 closed

[2018-09-24 15:54] zachfeldman commented on #1353
Wanted to also point out that if you binding.pry a test in another window, then try to run RSpec, your test will wait for the other test to finish and therefore never run (unless you were to exit that debugging session).

Restarting your computer could solve this problem if you're just really unsure where the process is but otherwise `ps aux | grep ruby` could probably show you then you could kill

[2018-09-26 01:39] tvanderpol commented on #1845
I'm not sure this is still relevant, but the readme snippet explains how to run rspec from the code that is currently in it's git repo, on the master branch (that is, essentially, running an unstable version rather than any given published version of rspec).

It is unrelated to wether the code you are testing is in a git repo, or in a master branch, or wether there is a remote repo for it.

Given

[2018-09-27 20:12] jamieorc commented on #1931
Oh, man. `rspec --bisect ...` to the rescue!

[2018-09-27 21:42] jamieorc commented on #1931
`rspec --bisect` narrowed down the problem, but it still took me an hour and half to figure out how to fix it. Difference between RapidScreen models and settings and non-RapidScreen apps.

[2018-10-02 17:45] mhluska opened #2029 "Getting sporadic Net::ReadTimeout when using file fixtures along with Capybara and Capybara-webkit"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.4.2
Rails version: 5.2.1
Rspec version: 3.8.0

Capybara version: 3.8.2
Capybara-webkit version: 1.15.0
Chrome version: 69.0.3497.100

## Observed behaviour

Load a file fixture, e.g. `fixtures :all`, use Capybara::DSL and do `visit('/')` in a spec, notice hang with eventual Net::ReadTimeout. The issue is sporadic. Maybe 1 in 10

[2018-10-02 19:03] mhluska commented on #2029
I may have fixed this by upgrading to Ruby 2.5.1. It's possible it was caused by [aws-sdk-ruby monkey patching Net::HTTP](https://github.com/aws/aws-sdk-ruby/issues/1752)

[2018-10-03 19:51] JonRowe commented on #2029
Its unlikely this is an `rspec-rails` issue, as its capybara timing out trying to access your web app. Does it happen if you remove the `fixtures :all` line? Or use a more limited fixture subset? You should also check your application boot time in this scenario

[2018-10-04 10:08] mhluska commented on #2029
@JonRowe this seems to be more likely due to [Ember FastBoot](https://stackoverflow.com/questions/52632353/capybara-selenium-webdriver-netreadtimeout-when-using-rspec-file-fixtures-fa). Going to close.

[2018-10-04 10:08] #2029 closed

[2018-10-04 16:40] tansaku opened #2030 "Feature Request: check if an email is in delivery queue and has certain properties"
I was just thinking it would be great to have a custom matcher to check if an email is in delivery queue and has certain properties

We're just working on modifying the following code to work with any email in the delivery queue:

[code]
have been playing around with things like:

[code]
which doesn't seem to work and would have inconsistencies even if it did - anyone ever worked on this kind of t

[2018-10-04 18:12] JonRowe commented on #2030
Checkout https://github.com/email-spec/email-spec

[2018-10-07 12:18] benoittgt commented on #2030
@tansaku feel free to close the issue if the gem fits your need. 🙂

[2018-10-08 08:36] tansaku commented on #2030
thanks @benoittgt - I need to review - the gem has lots of handy features, but not sure it helps with my specific issue - at least I can't immediately see that it does ...

[2018-10-08 08:43] JonRowe commented on #2030
@tansaku I think it should do, as it asserts on various properties of delivered emails, which in test mode is the queue, you can check subject and bodies of emails easily with email_spec.

RSpec Rails is a thin wrapper over the Rails test helpers so we try to encourage the use of external gems for everything else.

[2018-10-10 08:39] JonRowe commented on #2030
A given email / one of the emails in the queue should be the same thing, I believe this, with `email_spec` would do what you want:

[code]

[2018-10-11 08:51] JonRowe commented on #1655
Dependant on what your `type: :api` triggers here, will depend on how you send headers

[2018-10-11 14:27] dheenaINDIAN opened #2031 "undefined method `delete' for #<RSpec::Examp"
When i try to add spec for destroy method, it throws errors. User has many projects.

Trying to create a project for a user. Then deleting the project of that particular user throws error.

I have tried as,

[code]
Getting error as

[code]

[2018-10-11 15:19] #2031 closed

[2018-10-11 15:19] JonRowe commented on #2031
Feature specs are provided by capybara, which emulates the browser, you won't have access to the request helpers in this fashion, you'll need to click a delete link or switch to controller/request tests etc

[2018-10-11 22:08] Sirpez commented on #1655
Sorry, my bad, I'm using controller type now, but the main issue was something else, unrelated do Rspec. Everything works now! Thanks!

[2018-10-15 12:59] mikegee commented on #1840
A good next step here would be to move your proposal into a pull request. That would make it simpler to compare it with the current content.

[2018-10-15 13:31] mikegee commented on #1851
@ksylvest Rack has a hard time with deep structures of hashes and arrays like that. See https://github.com/rack/rack/pull/1058 for instance.

[2018-10-15 13:56] JonRowe commented on #1851
Closing as this is unlikely to be an `rspec-rails` issue, we pass them through to Rails / Capybara etc and don't modify them in anyway I can think of that would cause this.

[2018-10-15 13:56] #1851 closed

[2018-10-15 14:00] JonRowe commented on #1840
Specs are just RSpecs word for test, theres no real distinction in use and we only use the word test in the readme to specifically refer to Rails tests helpers, which call them tests. We will always welcome documentation PRs but would prefer as @mikegee an actual PR to discuss changes, closing as this is in itself inactionable, will happily review any PRs

[2018-10-15 14:00] #1840 closed

[2018-10-17 04:12] BobbyMcWho commented on #2020
We could [make the default expected number relativity](https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/matchers/active_job.rb#L19) `:at_least`- This breaks 3 specs, but only the expected error message. This changes the default behavior of the HaveEnqueuedJob matcher, but that can be restored by chaining the `#exactly` method on the matcher if someone is relying on the default exac

[2018-10-18 15:30] tansaku commented on #2030
thanks @JonRowe - that looks nice, but we don't want to assume that the email with those properties is the first one in the queue, but maybe we can combine with `to include an_object_having_attributes` to achieve the effect we want?

[code]

[2018-10-18 15:32] JonRowe commented on #2030
Quite possibly, feel free to experiment wth composition of matchers, I think you could just use `include` with the above

[2018-10-18 15:33] JonRowe commented on #2030
I'm going to close this as I don't feel it's `rspec-rails` job to provide anything here, there are as demonstrated 3rd party solutions that can be combined to do this.

[2018-10-18 15:33] #2030 closed

[2018-10-18 17:02] JonRowe commented on #2030
Have you seen that you can [define custom matchers](https://relishapp.com/rspec/rspec-expectations/v/3-8/docs/custom-matchers/define-a-custom-matcher)?

[2018-10-19 08:05] tansaku commented on #2030
oh that's a good idea - thanks @JonRowe :-)

[2018-10-19 08:11] JonRowe commented on #2030
I believe you should be able to define a custom matcher such that you can compose it with include

[2018-10-19 08:14] tansaku commented on #2030
ah maybe so, in the first instance I just went for:

[code]
haven't checked it works - will have to play with it later - other stuff to do now :-)

[2018-10-19 10:15] benoittgt commented on #1275
Regardless of the last comments. I think we can close this issue. Feel free to comment if we think we should still look at it.

[2018-10-19 10:15] #1275 closed

[2018-10-19 14:07] #1877 closed

[2018-10-23 22:16] mileslane commented on #1908
This looks very similar. I don't know how to get more helpful background info on how to reproduce the problem. Please let me know how I can help.

capybara (3.9.0)
capybara-selenium (0.0.6)
chromedriver-helper (2.1.0)
rspec (3.8.0)
rspec-core (3.8.0)
rspec-expectations (3.8.2)
rspec-instafail (1.0.0)
rspec-mocks (3.8.0)
rspec-rails (3.8.0)
rspec-support (3.8.0)
puma (3.12.0)

Error in reactor loop

[2018-10-24 02:09] ypicard commented on #1819
Same probleme here...  @danhawkins how did you solve your problem ?

[2018-10-24 08:28] JonRowe commented on #1876
None of the core team have any time to work on this, and its unlikely to get anywhere without an outside volunteer.

[2018-10-24 13:06] shepmaster commented on #1908
I strongly doubt this issue has anything to do with RSpec, which is why I linked puma/puma#1582 earlier. I think this is likely a time travel ([Timecop](https://github.com/travisjeffery/timecop) and/or [ActiveSupport's TimeHelpers](https://api.rubyonrails.org/classes/ActiveSupport/Testing/TimeHelpers.html)) + Puma issue.

[2018-10-24 14:33] JonRowe commented on #1908
Either way a more detailed backtrace is the start to reproducing whats going on here :)

[2018-10-25 17:38] dzirtusss commented on #1908
### Alternative quick-fix tip - don't travel to future, travel to past only
After some investigations, in our case these errors are happening only when dates are stubbed **to future date**. When stubbed **to past date** there is no errors (guess because delta is negative 😄 ), so..... just refactored everything to past.

[2018-10-25 17:52] dzirtusss commented on #1908
### Alternative quick-fix tip - don't travel to future, travel to past only
After some investigations, in our case these errors are happening only when dates are stubbed **to future date**. When stubbed **to past date** there is no errors (guess because delta is negative 😄 ), so..... just refactored everything to past.

[2018-10-31 14:35] mikegee commented on #1688
This issue has almost no chance of being a bug in RSpec. I recommend closing until @kieraneglin can create a reproduction case as requested above.

@kieraneglin if you are still having this problem and can link to your whole application rather than creating a reproduction case, I'm interested in taking a look.

[2018-11-07 20:44] benoittgt commented on #1688
Thanks, @mikegee for the bump and the help offer. Closing it for now.

[2018-11-07 20:44] #1688 closed

[2018-11-07 20:51] benoittgt commented on #1908
Closing as stale for now, if there is any interest in this let us know and we will reopen.

Same if you could provide a reproduction case that involves rspec-rails. 😊

[2018-11-07 20:51] #1908 closed

[2018-11-09 23:31] wangthony commented on #1658
@ivko999 's solution worked for me - thanks!

Even cleaner, just put it (without `Rails.env.test?` check) in a `spec/support` file.

[2018-11-13 04:47] aadityataparia commented on #1549
Still getting `undefined method 'use_transactional_tests=' for #<RSpec::Core::Configuration` with rspec `3.8.0` 🙇

[2018-11-13 09:04] JonRowe commented on #1549
@aadityataparia yes thats correct, its still `use_transactional_fixtures=` we map it to the correct Rails method under the hood.

[2018-11-13 09:13] aadityataparia commented on #1549
@JonRowe what do you think about adding an alias to avoid confusion? 🤔 maybe here https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/configuration.rb#L65

[2018-11-13 09:16] JonRowe commented on #1549
@aadityataparia Our method name hasn't changed and is documented, you are the first person to be confused by it so I'd prefer not to add it.

[2018-11-15 09:41] awcodify commented on #2020
Similiar maybe? https://github.com/rspec/rspec-rails/pull/1973

[2018-11-15 14:01] henrik commented on #636
Another data point, without having delved deep into the issue:

If I add an index action (do `def index; render text: "hi"; end`) and then do `get :index`, everything works fine. If I try something else like `get :show` or `get :foobar` (having added a corresponding action), I get the route error.

`index` is also the only action I see in the doc examples (https://relishapp.com/rspec/rspec-rails/d

[2018-11-16 12:20] OrestF commented on #1655
Rails 5.2 this works for me
`post path, params: params.to_s.to_json, headers: headers`

[2018-11-20 10:12] lukad commented on #1655
Before you post your solution please make sure that you understand the difference between request specs and controller specs. This issue is about controller specs.
Reading all the replies here is really frustrating.

[2018-11-27 17:41] exocode opened #2043 "Headers instead of sessions on scaffolding for API apps"
I have a question regarding to scaffolding on API only apps.

Each time I scaffold an spec (controllers for example) it writes

`session: valid_session`

instead of

`headers: valid_headers`

[code]

Wouldn't it be better to scaffold with `headers` instead of `sessions`?
The most APIs are using JWT or other tokens to authenticate.
Aren't Sessions mostly obsolete in APIs?

[code]

[2018-11-28 09:47] JonRowe commented on #2043
The scaffolding was based on the old controller specs, it simply wasn't something considered. Only hesitation is that switching would have to consider the difference in how headers are handled across rails versions, this would need to be tested as working on all versions of Rails and not just as "output" is correct.

[2018-11-28 20:50] bvrooman opened #2044 "Expect to have_received(method).with({}) fails when method modifies the Hash"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: ruby 2.3.7p456 (2018-03-28 revision 63024) [x86_64-darwin17]
Rails version: Rails 5.2.1
Rspec version: RSpec 3.8

## Observed behaviour

I am using Rspec to test the presence of a method call with the correct parameters.
I invoke the method `call` with
[code]
and I test the call using
[code]
When `call` modifies the provided hash

[2018-11-29 10:40] benoittgt commented on #2043
@exocode Do you want to work on a PR to validate the behavior on Rails versions supported by rspec-rails?

[2018-11-29 11:08] #2044 closed

[2018-11-30 06:31] exocode commented on #2043
@benoittgt I would give it a try :-)

[2018-11-30 10:04] ybiquitous commented on #1849
Is this issue duplicate of #1901?

[2018-12-03 17:27] sebscholl opened #2045 "Anonymous controller breaks ActionController::UrlGenerator on delete route"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.5.1
Rails version: 5.2
Rspec version: 3.9.0

## Observed behaviour

When adding an anonymous controller to a controller test suite, it breaks the delete route. Removing the anonymous controller leaves everything else working fine.

## Expected behaviour

I expect:

`delete :destroy`

To not throw:

[code]

When an anonymous con

[2018-12-04 10:51] JonRowe commented on #2045
What does your routing look like for `SessionsController`? If you [read the documentation](https://relishapp.com/rspec/rspec-rails/v/3-8/docs/controller-specs/anonymous-controller#anonymous-controllers-only-create-resource-routes) for the currently released version (which is 3.8 not 3.9) you'll see that routes are only created for standard resource routes, so what _I think_ what is happening here

[2018-12-04 19:46] excid3 commented on #1928
For reference, I'm using `body` in the `post` like so to set the `RAW_POST_DATA`.

[code]

This is coming from ActionPack in the `process` which powers `post` etc: https://github.com/rails/rails/blob/v5.2.2/actionpack/lib/action_controller/test_case.rb#L477-L479

[2018-12-07 16:32] benoittgt commented on #1908
@mileslane Did you try @2rba's patch?

[2018-12-07 16:42] benoittgt commented on #1849
Yes @ybiquitous! :)

Thanks @cgat for the matcher.

Closing for #1901

[2018-12-07 16:42] #1849 closed

[2018-12-07 16:43] benoittgt commented on #1901
This can be done with a matcher. Please look at https://github.com/rspec/rspec-rails/issues/1849#issuecomment-363942904

@JonRowe can we close it?

[2018-12-07 17:46] JonRowe commented on #1901
No, I feel as we have enqueued job matchers, and ActiveMailer uses active job, this is something we should consider, @jdlubrano would you care to submit a PR with your changes rolled into ours?

[2018-12-07 20:45] jdlubrano commented on #1901
@JonRowe

Thank you for reaching out; I would be delighted to submit a PR.  Have you had a chance to look at the [deliver_later_matchers gem's API](https://github.com/jdlubrano/deliver_later_matchers).  Do you want to use the same API in rspec-rails or did you have something else in mind?

[2018-12-07 20:58] JonRowe commented on #1901
Yes I have, it looks very similar to our job matchers on the outside and inside, it would be great to leverage our existing job innards if possible (legitimate case for inheritance woo!)

Personally I would make `have_enqueued_mail` the primary interface, and have the other two as aliases as you wish :)

[2018-12-09 04:52] mileslane commented on #1908
@benoittgt, I tested it tonight.
I am no longer seeing this error: "Invalid argument (Errno::EINVAL)" and I don't see errors with puma in the stack trace.  I am seeing some timeout errors.

For example:

So, it looks like perhaps the patch is working?  :-)

[2018-12-10 16:38] lucienLopez commented on #1554
Look for `Dir.chdir` in your code:
Fixture uses relative paths, changing your current directory kills it.

[2018-12-13 16:05] taki commented on #1993
@salimane I reproduce this issue. Please check if you have the time.

## Steps to reproduce

This is  reproduced Rails application.

1. git clone `git@github.com:taki/rpsec-rails-does-not-set-cookie.git`
1. cd rpsec-rails-does-not-set-cookie
1. bundle install
1. bin/rails db:setup
1. bundle exec rspec spec/requests/sign_outs_controller_spec.rb

## Environment

- ruby 2.5.3p105
- rails 5.2.2
- rspe

[2018-12-18 15:00] zerokol commented on #1655
@fnmendez works well, I recommend to check in controller if simple "puts" is the values are right placed; I spend 5 hours thinking that the solution not works, but, I was not the right values in models (fixtures)

[2018-12-18 18:36] passalini opened #2049 ""stack level too deep" when "expect().to receive().once" fails"
## Ruby, Rails and RSpec versions
ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]
Rails 5.2.1
RSpec 3.8
  - rspec-core 3.8.0
  - rspec-expectations 3.8.2
  - rspec-mocks 3.8.0
  - rspec-rails 3.8.1
  - rspec-support 3.8.0

## Rails app with the following problem
repo: https://github.com/passalini/rspec-issue-2049
circle: https://circleci.com/gh/passalini/rspec-issue-2049/14

## Observe

[2018-12-18 20:49] samphippen commented on #2049
Hi @passalini

Thanks for the issue. We need a little more detail to be able to reproduce this.

Could you please provide us with a rails app that we can clone that demonstrates the issue. Specifically it'd be great if

1)  you could `rails new` an application and commit
2) make all the changes necessary to reproduce the issue and commit

then, provide us with a description of how to clone your ap

[2018-12-18 23:45] Gusarov2k opened #2050 "errors after adding the gem rubocop-rspec"
Hello! Help Wanted ? After adding the **gem rubocop-rspec** and running rspec, an error appears. I was looking for the answer in google but the proposed solutions did not help me.
Thanks for your help!

$ bundle exec rspec spec/models

[code]
**Gemfile:**
[code]
**rails_helper.rb**
[code]
**spec/models/card_spec.rb**
[code]

Ruby version: 2.2.10
Rails version: 4.2.10
Rspec version: 3.8.0

[2018-12-19 10:31] #2050 closed

[2018-12-19 10:33] samphippen commented on #1991
@ianaverno I'm going to go ahead and close this issue because it seems this is specific to your use case. If you can provide us with a reproduction case I'm very happy to re-open. Thanks!

[2018-12-19 10:33] #1991 closed

[2018-12-19 10:41] samphippen commented on #1783
@JonRowe I'm tempted to de-prioritise this one. I'm planning on implementing the rspec-rails 4.0 RFC over my christmas vacation (that is, get drop a version which removes old railses, etc).

[2018-12-19 10:43] JonRowe commented on #1783
This can be closed when RSpec-Rails goes off pisté :) :+1:

[2018-12-19 10:46] samphippen commented on #2045
@JonRowe is this because we don't reset the routes after the routes.draw call?

[2018-12-19 10:48] samphippen commented on #1919
This was fixed by #1920

[2018-12-19 10:48] #1919 closed

[2018-12-19 10:49] JonRowe commented on #2045
@samphippen No I think it's because we use the default "multiple resources" REST routes e.g. `DELETE /resource/:id` and theres no ID.

[2018-12-19 10:50] samphippen commented on #2045
ahh gotcha. I think this is probably a valid bug then. I'll see if I can work up a fix.

[2018-12-19 10:52] samphippen commented on #1889
This should have been fixed by #1893

[2018-12-19 10:52] #1889 closed

[2018-12-19 14:23] Gusarov2k commented on #2050
Thank you!

[2018-12-19 19:18] passalini commented on #2049
Hi @samphippen

I just added the [project](https://github.com/passalini/rspec-issue-2049) in the issue description.
I added the project to the [circleci](https://circleci.com/gh/passalini/rspec-issue-2049/14) too.

I hope that it helps!

[2018-12-20 13:35] samphippen commented on #2049
@passalini are you able to reproduce this without Devise?

[2018-12-20 16:11] passalini commented on #2049
@samphippen without devise the mock works. You can see it on this [build](https://circleci.com/gh/passalini/rspec-issue-2049/15).

[2018-12-26 01:37] bekicot opened #2056 "Generate request spec by default when generating controller"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.4.1
Rails version: 5.2.2
Rspec version: 3.8
[code]

## Observed behavior
When generating Rails controller, it will automatically generate corresponding controller spec.

## Expected behavior
Generate corresponding request spec.

Is it possible for the user to configure RSpec-rails so that it generates request spec by default wh

[2018-12-27 14:16] benoittgt commented on #2056
Hello @bekicot and thanks for your request.

It seems to me to be a big shift that needs to be addressed in a major release if we do it even if I think it's a good idea.

I will follow @JonRowe or @samphippen choice to change this behavior.

[2018-12-28 19:06] SampsonCrowley commented on #2020
just to add my two cents. I found it very unexpected that this is using an exactly 1 match.  it should be checking at least 1 not failing if there are more

[2018-12-30 13:33] JonRowe commented on #2056
I'd support a PR that made the behaviour configurable, and changed the default the behaviour of the generator for Rails 5.1, (maybe 5) but older Rails expect controller specs

[2018-12-30 13:55] samphippen commented on #2056
I think the right thing to do here is to add a configuration option, have
it enabled in new rails helpers on rails greater or equal to 4.2 (which had
request specs), and then turn it on by default for everyone in RSpec rails
4.

On Sun, 30 Dec 2018 at 13:33, Jon Rowe <notifications@github.com> wrote:

--
Sam Phippen

[2018-12-31 09:25] mariyajolly opened #2060 "Selenium::WebDriver::Error::UnknownError: permission denied"
Hi,

I am trying to run ruby scripts through Jenkins. Ruby version used is 2.0.0 , watir-webdriver version is 0.9.9 ,selenium-webdriver version 3.13.0 and geckodriver-v0.23.0-win64. When i run  the scripts I am getting the following error.

[code]

.

[2018-12-31 10:12] samphippen commented on #2060
Hi @mariyajolly, I see that this is an error from selenium, and that you are using windows.

Are you using `system` or `feature` tests?

Would you mind pasting a copy of `Gemfile` and `Gemfile.lock` in a [gist](gist.github.com) so that we can take a look at all your dependencies?

I will note that we don't really develop against windows, and that this is likely a rails issue, but we can triage it

[2018-12-31 10:23] #2060 closed, assigned to nobody

[2019-01-01 18:15] SampsonCrowley commented on #2020
@JonRowe I'm aware, thank you. I'm just adding my opinion for the next major release.

I'm saying the name of the rule doesn't match expected behavior, by English logic. If two of a job are enqueued, then the job has been enqueued. The default should be an at_least matcher, and should be able to chain an exactly matcher if desired. Or even better would be a config option to default these types of

[2019-01-01 18:19] JonRowe commented on #2020
@SampsonCrowley The logic comes from the fact that duplicate calls are more likely to be an error than a deliberate decision, thus when its deliberate you can tell us, removing silent errors. Its not going to be changed.

[2019-01-02 20:05] jrochkind commented on #1897
I am having this with rspec-rails 3.8.1 and Rails 5.2.2. I don't believe it's true that upgraded rspec-rails or rails dependencies fix it.

[2019-01-05 01:49] utkarsh2102 opened #2062 "Support for Rails 5"
Tests for Rails 5 is failing.
Please include the same.

Getting the following error:

[code]

[2019-01-05 09:32] samphippen commented on #2062
Hello @utkarsh2102!

If you're running rails 5.1, you'll need to add capybara to your Gemfile to get system tests to work.

e.g.

`gem "capybara",  "~> 3.12"`

If you're running rails lower than 5.1, you will need to upgrade to be able to use system tests.

I hope that helps!

[2019-01-05 09:32] #2062 closed

[2019-01-09 17:10] lanzhiheng opened #2065 "Document format issue in Directory Structure"
![image](https://user-images.githubusercontent.com/8858472/50915738-684ab880-1474-11e9-9775-0f165a70403e.png)

It seems that we have the formatted issue in the document, but I can not find any issue in the [source file](https://github.com/rspec/rspec-rails/blob/master/features/directory_structure.feature#L6). I am not sure why It could not render correctly

[2019-01-10 11:16] JonRowe commented on #2065
Hmm @mattwynne if I may intrude, any ideas why Relish is formatting this so?

[2019-01-10 19:39] cickes commented on #818
Is there a solution for this in Rails 5?

Trying to override model_spec.  Cannot get it to work.  Tried these locations.
`lib/templates/rspec/model/model_spec.rb`
`lib/generators/rspec/model/templates/model_spec.rb`
`lib/templates/rspec/model/model_spec.rb`

[2019-01-11 12:31] samphippen opened #2066 "Release rspec-rails 3.8.2"
Given that there aren't any new features merged in to master, let's make sure we've forward-ported all the bugfixes and enhancements from `master` to  `3-8-maintenance` and release `3.8.2` so that we can then begin the process of developing RSpec Rails 4.

@benoittgt do you want to tackle this issue?

[2019-01-11 13:08] JonRowe commented on #2066
#2037 and #2057 spring to mind, and the build fixes too

[2019-01-11 15:48] mattwynne commented on #2065
Dunno, that's annoying eh. Is it possible the source file uses some kooky newline characters?

We've got a [long-standing issue](https://github.com/rspec/rspec-dev/issues/199#issuecomment-368155174) that's with me to trial out migrating your docs to https://app.cucumber.pro which might solve this - I'm sure we're using a much more modern markdown renderer in there.

[2019-01-11 17:41] benoittgt commented on #2066
For the moment we have https://github.com/rspec/rspec-rails/compare/master...3-8-maintenance

So it means:
1. Start from master then add a commit locally that move Changelog head and another commit that change version like https://github.com/rspec/rspec-rails/commit/952cbcf4bd354f593c6c3c2154826c794c6d9bdd ?
2. Push to 3-8-maintenance
3. Release the gem
3. Update maintenance branch file? https://g

[2019-01-11 18:34] JonRowe commented on #2066
My own personal check list is:

- [ ] Check out `3-8-maintenance`
- [ ] Cherry pick bug fixes that aren't on `3-8-maintenance`, editing changefile as necessary
- [ ] Finalise change log
- [ ] Run `rake release` with an account that has credentials logged in
- [ ] Ensure fully pushed to `3-8-maintenance`
- [ ] Check out master and ensure change log is updated. (This could be a PR from maintenance).

[2019-01-11 22:20] #1901 closed

[2019-01-12 01:09] lanzhiheng commented on #2065
@mattwynne Sounds good,  https://app.cucumber.pro  looks comfortable than Relish.

[2019-01-12 21:14] benoittgt commented on #2066
Thanks a lot for the list.

I will probably try do it tomorrow. What do you think about including https://github.com/rspec/rspec-rails/pull/2047?

I don't have `rake release` rights. Maybe the best for the first time is a PR from my fork to 3-8-mainteance so we can agree about which commits will be included into 3.8.2.

[2019-01-12 21:16] JonRowe commented on #2066
The `rake release` rights are what Sam is organising for you, so hopefully by the time you’re ready you’ll have what you need :)

Jon Rowe
---------------------------
mail@jonrowe.co.uk
jonrowe.co.uk

On 12 January 2019 at 22:14, Benoit Tigeot wrote:

[2019-01-14 20:38] doofz opened #2068 "Using expect but got equal error"
Ruby version: ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]
Rails version: Rails 5.0.7
Rspec version: RSpec 3.8
  - rspec-core 3.8.0
  - rspec-expectations 3.8.1
  - rspec-mocks 3.8.0
  - rspec-rails 3.8.0
  - rspec-support 3.8.0

## Observed behaviour
Getting _equal_ error when using _expect_

## Expected behaviour
Should be passing the test, according to the error description, or get

[2019-01-15 10:16] #1870 closed

[2019-01-15 12:41] doofz commented on #2068
@JonRowe Thanks that was it.

As you said, besides reading the log message a couple hundred times, I didn't realize the little `eq`. Sorry for that.

However, the error did not complain about/highlighted the `be` matcher, it was talking about `equal?`. I don't know if they're meant the be the same thing, but that was one of the reasons why I was not aware of the actual problem.

I apologize for po

[2019-01-15 12:49] JonRowe commented on #2068
That is because `be` is an alias for `equal`, see http://rspec.info/documentation/3.8/rspec-expectations/#Identity

[2019-01-15 17:49] stevepentler commented on #999
**Rails 5 Update:**
#[assigns](https://apidock.com/rails/ActionController/TestProcess/assigns) is deprecated

Though it can be a [code smell](https://github.com/rails/rails/issues/18950), to upgrade older apps you can transition to [#instance_variable_get](https://apidock.com/ruby/Object/instance_variable_get).

Rspec example:
`expect(@controller.instance_variable_get(:@people).first).to eq(person

[2019-01-18 13:41] benoittgt commented on #2066
Checklist done in https://github.com/rspec/rspec-rails/pull/2067#issue-244267234 🎉

Thanks a lot Sam and Jon

[2019-01-18 13:41] #2066 closed

[2019-01-18 15:00] samphippen commented on #2066
Yesssss

On Fri, 18 Jan 2019 at 13:41, Benoit Tigeot <notifications@github.com>
wrote:

--
Sam Phippen

[2019-01-19 18:47] samphippen commented on #2065
@JonRowe WDYT about doing this move?

On the one hand, better rendering, on the other the RSpec documentation has canonically been in relish for so long it seems like it might hurt our google juice to move it for quite a while

[2019-01-20 14:33] JonRowe commented on #2065
If the old documentation could be redirected to cucumber pro the google juice should transfer, @mattwynne would that be possible?

[2019-01-21 18:01] mattwynne commented on #2065
Yes, we can set up redirects for sure, and we won't force you to move over until you're happy with the new platform. You're guests of honour!

[2019-01-21 23:15] palkan commented on #1606
@samphippen  @benoittgt

Hey, folks! It's been a while...

Since [`action-cable-testing`](https://github.com/palkan/action-cable-testing) has been merged into Rails 6.0, we think it's time to take care of RSpec part)

The gem already has [RSpec support](https://relishapp.com/palkan/action-cable-testing/docs) (built using the same structure as `rspec-rails`), so it's gonna be pretty easy to merge i

[2019-01-22 10:30] samphippen commented on #2065
@JonRowe ok, I'm pretty happy to go ahead and try this as part of the 4.xx release for RSpec rails. Is that good for you?

[2019-01-22 10:34] samphippen commented on #1606
@JonRowe should we drop bundler 1.x support here as well?

[2019-01-22 15:17] palkan commented on #1606
Yep, it's Rails 6+.

Ok, thanks guys; we'll provide a PR for 4.x.x.

[2019-01-23 15:31] benoittgt commented on #2065
@samphippen I think it's a good idea. Thanks @mattwynne

[2019-01-27 16:53] OpakAlex commented on #1928
[code]
what it's?

[2019-01-27 17:06] OpakAlex commented on #1928
use `params: str` without headers.

[2019-01-28 05:26] hegwin opened #2074 "Different file naming for scoped request test generator"
### Subject of the issue

When I execute a `rails g` command to generate a request test, it generates a file whose name contains nested scope as its prefix. It is different from other spec generator, eg. controller test or model test.

### Your environment
* Ruby version: 2.5.3
* rspec-core version: 3.8.0

### Steps to reproduce

When I run `$ rails g rspec:request api/v1/locations`

I got
[code]

[2019-01-28 10:45] JonRowe commented on #2074
Transferred from rspec-core as this is an rspec-rails issue. Theres probably some logic missing from the request spec generator that's in the other ones for anyone who wishes to take a shot at this.

[2019-01-29 05:12] hegwin commented on #2074
Ah…I just see this PR: https://github.com/rspec/rspec-rails/pull/2057/files

So is it fixed and released?

[2019-01-29 09:30] JonRowe commented on #2074
Ah yes, I must have the memory of a goldfish, yes this was released as `rspec-rails` 3.8.2, closing as a duplicate, feel free to comment again if you can still replicated this on 3.8.2

[2019-01-29 09:30] #2074 closed

[2019-01-30 10:37] jaswinder97 commented on #1250
f the above solutions doesn't work, try loading helper urls as rspec configs as below:

RSpec.configure do |config|
  config.include Accounts::Engine.routes.url_helpers
end

[2019-02-03 18:21] samphippen commented on #1250
This is a legit bug, but work on engines is generally de-prioritised by the rest of the core team. If someone wants to open a PR on this, I will gladly review and accept it. I'd say that this won't receive action until at least the RSpec Rails 4 branch is done, but given the age is unlikely to receive a lot of attention.

[2019-02-04 13:49] ooffeerr commented on #1902
Hi! Is this issue still up for grabs?

[2019-02-04 13:51] JonRowe commented on #1902
As far as I know!

[2019-02-04 16:56] maguri commented on #950
**Last update**, now you can use:
[code]

[2019-02-10 01:03] samphippen commented on #1902
https://github.com/rspec/rspec-rails/pull/2052 If you're going to add further documentation, this PR is a good place to start!

[2019-02-13 13:50] lethunder opened #2079 "Rails.env returns development"
Hello,
when i run tests on my app i don't want for instance to send welcome text message to user after creating them (because it is for testing purposes and because it costs :) )

So in my model i have something like
[code]
but it keeps sending sms because Rails.env returns development.
i tried to change in rails_helper ENV['RAILS_ENV'] ||= 'test' => ENV['RAILS_ENV'] = 'test'
it does not change be

[2019-02-13 14:25] JonRowe commented on #2079
`Rails.env` is entirely controlled by Rails, so this is not an RSpec issue (and we prefer to keep Github issues for bugs and not for help on your specs, thats what the mailing is and/or stackoverflow is for) but looking at your code you evidently have something seeing `ENV['RAILS_ENV']` or `ENV['RACK_ENV']` to `development` (possibly rake).

In your `rails_helper.rb` or `spec_helper.rb` you should

[2019-02-13 14:25] #2079 closed

[2019-02-14 02:57] ganbootyard commented on #1574
Encountered this today and @gma comment helped me with this.
The `cookies.update(response.cookies)` did the work.

Thanks a lot.

[2019-02-17 22:48] sunilb0575 opened #2080 "How to include params inside the body."
Rspec spec fails on the following test case. Can anyone please help me with sending params inside the body?

**Test case:**

[code]

**Controller:**

[code]

and these are the params which I want to include inside the body, which is being called in the controller:

[code]

[2019-02-17 22:48] #2080 closed

[2019-02-17 22:51] JonRowe commented on #2080
Closing as duplicate issue, picking how to send params depends on your version of Rails. Check the documentation for your version of Rails as to how `post` works (its not RSpec functionality), and then make sure you're using the right kind of spec (which is documented but not mentioned here).

[2019-02-24 04:36] philiplambok opened #2082 "System spec generator still not supported"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-linux]
Rails version: Rails 5.2.2
Rspec version: RSpec 3.8

## Observed behavior
I want to generate system spec from rails generator command when running
[code]

## Expected behaviour
Rails will create `spec/system/product/create_spec.rb` file and system spec template inside file

[2019-02-24 21:14] JonRowe commented on #2082
This would be a great small PR for someone, our other generators should serve as an example to follow, and tweaked to generate the relevant template for a system spec

[2019-02-25 10:55] vivektiwary opened #2083 "Rspec giving "path name contains null byte" error"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]
Rails version: Rails 5.2.1
Rspec version: RSpec 3.8

## Observed behaviour
I am getting
[code]

## Expected behaviour
Should not give any error

## Can you provide an example app?

# Error Trace
[code]

[2019-02-26 00:49] ConSou commented on #2082
Hello,
I can get this started if its still up for grabs!

[2019-02-26 02:13] jrochkind commented on #1897
Followup note:

Putting `Capybara.server = :puma, { Silent: true }` in my rails_helper.rb seems to have resulted in sometimes when running my system tests, a hard crash of MRI. You know, the kind that ends in "Don't forget to include the Crash Report log file under DiagnosticReports directory in bug reports."

If I scroll up through the 8000 lines of "Loaded features" to notice there IS a ruby bac

[2019-02-26 02:20] swrobel commented on #1897
@jrochkind wow, that's crazy! What ruby version(s)?

[2019-02-26 02:33] jrochkind commented on #1897
It's possible it has nothing to do with this, heisenbugs are hard, and I don't really know how to read a C-level MRI crash report.

In case this means anything to anyone:

ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-darwin16]
capybara 3.13.2, puma 3.12.0
[console output](https://gist.github.com/jrochkind/9dd2d08ee2a07890ecd5152b996a6fa5)
[.crash report from ~/Library/Logs/DiagnosticReports]

[2019-02-26 08:22] tragiclifestories opened #2084 "Cannot generate a generator spec when generating a generator"
(Sorry for the crazy Dr Seuss issue name - and sorry if this has been reported before, it's very difficult to search for ... )

## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.5.3p105
Rails version: 5.2.2
Rspec version: 3.8
  - rspec-core 3.8.0
  - rspec-expectations 3.8.2
  - rspec-mocks 3.8.0
  - rspec-rails 3.8.2
  - rspec-support 3.8.0

## Observed behaviour

With RSpec

[2019-02-26 08:37] JonRowe commented on #2082
Go for it

[2019-02-26 11:11] tragiclifestories commented on #2084
Digging around I discovered that this project is using [ammeter](https://github.com/alexrothenberg/ammeter) which has solved my immediate problem. However, it would still be nice if RSpec would generate a spec file on `rails g generator foo` ... I leave it to you folks to decide whether it's worth the time to implement.

[2019-02-26 11:31] JonRowe commented on #2084
This would be a great easy PR for someone, you can either use one of our existing templates to produce this or you can make it skip.

[2019-02-26 15:31] ConSou commented on #2082
Hey, I believe this issue may have already been resolved after taking a deeper look at the project.  Upon forking and cloning the master branch I was looking in the lib/generators/rspec directory and found a system directory containing system_generator.rb and templates.  In addition I found a system generator spec that seemed to verify the generator for system.  I then verified the issue with a re

[2019-02-26 15:34] JonRowe commented on #1897
Not everyone has this, its an ordering issue dependant on when puma is booted, the config option needs to happen before puma boots to take affect. I would paste that puma log to puma, it looks like a legit crash from a threading issue.

[2019-02-26 15:50] JonRowe commented on #2082
Ah my mistake, thanks for checking, #2084 is very similar if you'd like to tackle that instead?

[2019-02-26 15:50] #2082 closed

[2019-02-26 15:52] ConSou commented on #2084
I can work on this issue.

[2019-02-26 16:27] jrochkind commented on #1897
OK, will report to puma, thanks.

Is there anything I can do in my app to make sure the ordering is correct? Is it as simple as making sure rspec-rails is in the Gemfile before puma?

[2019-02-26 22:54] erich-team opened #2086 "Changes In Rails 6 ActionView::Template Breaks EmptyTemplateHandler"
Changes to the Template handler calls in Rails 6.0 beta breaks EmptyTemplateResolver

Specifically [this change](https://github.com/rails/rails/commit/28f88e0074f473f58c2d3fd54cb3daff81027c12#diff-562906215bf781788ec5aaf37e958cb8) which changes actionview/lib/action_view/template.rb, line 307, from this...

` code = @handler.call(LegacyTemplate.new(self, source))`

... to this ...

`code = @handle

[2019-02-27 10:55] JonRowe commented on #1897
It is not, it is down to how you boot your application, if you need a file run before anything else you must use the `--require` option on the RSpec cli, either via a config file (such as `.rspec`) or directly.

This is why the generated install drops a `--require spec_helper` in your `.rspec`, as it means the top of your `spec_helper.rb` is evaluated first. With the split of `spec_helper.rb` and

[2019-02-27 13:22] JonRowe commented on #2086
Any PR for this should target `4-0-dev`

[2019-02-27 13:44] jamesjefferies commented on #2086
Hi @JonRowe - targeting ```4-0-dev``` (which currently has some test failures around ```Notifications```) sounds like a good plan - but this patch will need to sniff which version of ActionView it's running against right? Is there a simple example of where that is already being done?

[2019-02-27 13:48] benoittgt commented on #2086
@jamesjefferies Why not be Rails version specific? For example https://github.com/rspec/rspec-rails/blob/8c6c9590b94916199950dc8a91a9741d3be30c7c/lib/rspec-rails.rb#L10

[2019-02-27 13:49] JonRowe commented on #2086
TBH I'm not sure we need to gate this, our method defines one argument, it needs two on this version of Rails, seems like simply adding a second optional argument would fix it, and gate the spec instead

[2019-02-27 13:53] jamesjefferies commented on #2086
@JonRowe ah yes, that sounds like the best way to sort this .. and yes! 👋

[2019-02-27 14:17] erich-team commented on #2086
@JonRowe I toyed with that in a monkey-patch

`def self.call(_template, source)`

, but given the method doesn't use `_tempalte` as it is,  it seemed a reasonable future-proof solution,  Just a thought.

[2019-02-27 14:21] JonRowe commented on #2086
It'd need to be `_source = nil` in order to remain backwards compatible.

[2019-02-28 09:57] kaluznyo opened #2094 "Warning formats is deprecated and will be removed from Rails 6.1"
When I run spec with rails 6.0.0.beta2 and rspec master I got
[code]

Ruby version: 2.6.1
Rails version: 6.0.0.beta2
Rspec version: RSpec 3.9.0.pre (master)

[2019-02-28 10:02] JonRowe commented on #2094
Please note `4-0-dev` is where Rails 6 fixes will end up.

[2019-03-01 11:18] JonRowe commented on #2086
Fixed in #2089

[2019-03-01 11:18] #2086 closed

[2019-03-02 10:11] #2084 closed

[2019-03-02 10:11] JonRowe commented on #2084
Generator spec generators are now available on master.

[2019-03-08 16:10] adrienpoly opened #2098 "NoMethodError: undefined method `merge' for nil:NilClass"
## Observed behaviour

All of my tests that are using a `path` will fail with one of the two following message

[code]

or

[code]

## what I have done so far:
- It used to work great and can't find what changed???  looked at the diff but can find anything relevant. must be missing something obvious!

- I looked for `empty?` and `merge` in my code base but none are being used when running a failli

[2019-03-08 17:25] JonRowe commented on #2098
:wave: You mention this "used to work great", what did you change? Rails? RSpec-Rails? Config?

[2019-03-11 13:38] dennym commented on #1655
`get '/foobar.json', {}, { 'HTTP_SESSION_ID' => 'XXXX', .... }`

Using this works for controller/feature specs. The only thing you have to make sure is that the headers are on the second position of the args. That's why the empty hash.
Since they get utilized here https://github.com/rails/rails/blob/e2fcb2b4aec69e10a01cebfe51bbd280ce6d5a93/actionpack/lib/action_controller/test_case.rb#L602

As @pa

[2019-03-12 09:42] benoittgt commented on #2098
Do you think you can provide a reproduction script?

[2019-03-12 10:07] adrienpoly commented on #2098
I am back working on it today. This happened while I was away from the project for a few weeks. I need to look into what has changed. My first look at it, I couldn't see any change in the rspec configuration. I ll look into the versions of the different gems (Capybara, webpacker etc)

Will post back today if I find something or if I can extract a failing example

[2019-03-12 10:24] JonRowe commented on #2098
Closing until theres something actionable here

[2019-03-12 10:24] #2098 closed

[2019-03-14 14:16] olimart opened #2099 "Is there a way to stub Rails credential key?"
Similar to stubbing environment variable, can we stub Rails credential key?

## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.6.1
Rails version: 5.2.2
Rspec version: 3.8

## Observed behaviour

`allow(Rails.application.credentials).to receive(:my_token).and_return('')`

## Expected behaviour

[code]

[2019-03-14 14:24] #2099 closed

[2019-03-14 14:26] JonRowe commented on #2099
As `credentials` is an object you have to stub what you wish to retrieve. So:
[code]

It'd be better to use it as designed and setup a test environment set of credentials.

[2019-03-14 14:34] olimart commented on #2099
Thanks @JonRowe I edited the post to actually focus on the issue (described in your first example).

`my_token` is already defined in `credentials.yml.enc` but I need to override the value in my specs.

I tried indeed the following but it keeps the value defined in `credentials.yml.enc`.

[code]

[2019-03-14 17:03] benoittgt commented on #2099
I just did a test on a [fresh_app](https://github.com/benoittgt/rspec_credentials_test/blob/master/spec/credentials_spec.rb)

And I add no issue.

My credentials file look like this:
[code]

[code]

no issues.

[2019-03-14 17:25] olimart commented on #2099
@benoittgt What's your master key?

Amazing. The exact same code fails on my end. I appreciate your help.

[2019-03-14 19:53] JonRowe commented on #2099
@benoittgt I'll leave it up to you to decide if this should be reopened :)

[2019-03-15 02:58] olimart commented on #2099
don't think so. Just need to find out why but in the meantime we came up with a workaround.

[2019-03-19 07:15] GuanglinDu commented on #1883
Upgrading rspec-rails from 3.4.2 to 3.8.0 fixed the same problem I ran across in Rails 4.2.7.1. Thank you guys.

[2019-03-25 19:24] mileslane commented on #1908
Please reopen this and apply the patch.  I am getting this problem with a project:

.rvm/gems/ruby-2.5.3/gems/puma-3.12.1/lib/puma/reactor.rb:128:in `select'
.rvm/gems/ruby-2.5.3/gems/puma-3.12.1/lib/puma/reactor.rb:128:in `run_internal'
.rvm/gems/ruby-2.5.3/gems/puma-3.12.1/lib/puma/reactor.rb:253:in `block in run_in_thread'
Error in reactor loop escaped: Invalid argument (Errno::EINVAL)

Gemfile

[2019-03-25 19:25] mileslane commented on #1908
@benoittgt - Please reactivate this issue.

[2019-03-25 19:51] mileslane commented on #1908
I cannot determine whether this is the _correct_ fix, but it does prevent this showing up thousands of times in our test output:

Error in reactor loop escaped: Invalid argument (Errno::EINVAL)
.rvm/gems/ruby-2.5.3/gems/puma-3.12.1/lib/puma/reactor.rb:128:in `select'
.rvm/gems/ruby-2.5.3/gems/puma-3.12.1/lib/puma/reactor.rb:128:in `run_internal'
.rvm/gems/ruby-2.5.3/gems/puma-3.12.1/lib/puma/react

[2019-03-25 20:14] JonRowe commented on #1908
Hi @mileslane that patch is for Puma, I suggest asking them if they would welcome it for inclusion. There is nothing for RSpec to do at this time.

[2019-03-25 22:36] mrgordon commented on #1876
Sad to see that its impossible to run a Rails app by removing ActiveRecord without Jack's unmerged patch or removing a bunch of unrelated ActiveStorage stuff...

Wasted an hour fixing this today and I know I'm not the only one. Makes me hesitant to use ActiveStorage in new projects. Seems like fixing this should be a higher priority than new features...

[2019-03-26 11:03] JonRowe commented on #1876
Its not impossible, you just need to ensure ActiveRecord is configured if it is present.

[2019-03-28 04:23] sanjsharma opened #2102 "rails generate rspec:install hangs in rails 5.2.2.1/ ruby-2.6.1"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.6.1
Rails version: 5.2.2.1
Rspec version: 3.8

## Observed behaviour

## Expected behaviour

## Gemfile.lock
[code]

[2019-03-28 14:24] JonRowe commented on #2102
We have tests that run to ensure this command works so this likely an issue in your setup, have you tried running with `DISABLE_SPRING=true` and/or checked for debugging steps? Without some form of isolated reproduction we won't be able to help much.

[2019-03-29 03:56] sanjsharma commented on #2102
In the same project,  it's working now. I can generate it without  Not sure what went wrong. https://github.com/rspec/rspec-rails/issues/1885 issue looks similar to mine. I feel something is wrong but not sure how to replicate it. Will open the issue if I can re-replicate the issue. Thanks @JonRowe  for your response. Cheers !

[2019-03-29 03:56] #2102 closed

[2019-03-30 18:19] pip139 opened #2103 "Failing to render action with rails 6.0.0.beta3"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.6.2p47 (2019-03-13 revision 67232) [x86_64-linux]
Rails version: 6.0.0.beta3
RSpec version: RSpec 3.8
                        - rspec-core 3.8.0
                        - rspec-expectations 3.8.2
                        - rspec-mocks 3.8.0
                        - rspec-rails 3.8.2
                        - rspec-support 3.8.0

[2019-03-30 18:30] jasnow commented on #2103
Here is the workaround for the above error message. **FYI: Still have 1 error dealing with webpacker.**
[code]

[2019-03-30 19:16] pip139 commented on #2103
@jasnow Thanks for the very prompt reply.
 I tried your suggestion but now rspec can't even start.
Here is what I get:
[code]

[2019-03-30 20:13] jasnow commented on #2103
Did you add all 5 lines to issue_demo's Gemfile file?

[2019-03-31 09:52] pip139 commented on #2103
I had added them locally.
Now I pushed them also to GitHub repo.

[2019-03-31 12:18] jasnow commented on #2103
Does "rake" run cleanly now?

[2019-03-31 13:23] pip139 commented on #2103
Oh thanks, `rake` works.

It is only a little verbose:
[code]

[2019-03-31 13:34] jasnow commented on #2103
Great - Signing off.

[2019-03-31 18:19] pip139 commented on #2103
Thanks a lot for your help.

[2019-03-31 18:38] jasnow commented on #2103
Glad I could help.

[2019-04-01 10:48] zoras opened #2104 "Add support for Rails 6 built-in Parallel Testing"
Use Rails 6 built-in parallelizer API for running parallel RSpec executors

https://github.com/rails/rails/pull/31900#issuecomment-374299402

[2019-04-01 15:11] JonRowe commented on #2103
Closing as this is a duplicate of #2095

[2019-04-01 15:11] #2103 closed

[2019-04-01 15:46] JonRowe commented on #2104
We'd love to support parallel tests with RSpec itself, its a rather large task however. If we get parallelisation support into rspec-core you can be sure we'll integrate with the rails helpers.

[2019-04-04 13:10] Uelb commented on #2099
Actually, I have the exact same issue, and I cannot figure out why, @olimart, what is the workaround you implemented ?

[2019-04-05 03:12] olimart commented on #2099
@Uelb

[code]

[2019-04-18 19:34] ZASMan commented on #468
I'm having this issue when testing a post request now, is the above syntax still correct?

[2019-04-18 21:53] JonRowe commented on #468
No, this issue was caused by `Company.should_receive(:new).assigns(:company)` the mock does not support `.assigns(:company)`, simply changing it to `Company.should_receive(:new)` would have removed the error.

[2019-04-22 23:38] camertron commented on #1321
Any update on this guy?

[2019-04-29 16:00] tomaszganski commented on #1993
Just pass cookies in the header as was mentioned before

[code]

[2019-04-29 16:50] jrochkind commented on #2104
Note that linked #1254 says:

I believe the parallel testing now built into Rails can be process-based or thread-based, and by default is process-based.

Is supporting Rails process-based parallel testing less of a challenge? It looks like one of the main things Rails does for you when supporting this is setting up a separate database for each test worker, as well as orchestrate getting each worke

[2019-04-30 00:18] jaredmoody opened #2114 "Template variants on 4.0.0.beta2 with Rails 6.0.0.rc1"
The following spec passes on rspec-rails 3.8.2, rails 5.2.3, but errors on rspec-rails 4.0.0.beta2, rails 6.0.0.rc1:

[code]

[code]

I was also able to duplicate this with an `html+app.erb` template so I don't think it's haml or haml-rails either.

[2019-04-30 09:19] benoittgt commented on #2114
Hello

Do you think you can provide a reproduction case? I have started an app here https://github.com/benoittgt/testing_6_0_0_rc1 and invited you as a collaborator.

Thanks

[2019-04-30 09:34] JonRowe commented on #2114
Can I ask if this works with Rails 5.2.3 and RSpec 6.0.0.rc1? Might this be a change at the Rails ends?

[2019-04-30 09:35] JonRowe commented on #2104
In the short term all we could offer is to help integrate 3rd party parallel testing with Rails tools.

Our own parallel journey requires changes to rspec-core which are mostly identical for process or thread based.

Please note there are parallel testing extensions for RSpec already!

[2019-04-30 15:37] benoittgt commented on #1993
Hello

**TL;DR**
* Use `response.cookies` when you don't change cookies inside your test
[code]

* Use `cookies` to set and expect when you set cookies inside your test

[code]

[code]

[code]

When [using `response.cookies`](https://github.com/rails/rails/blob/43866b2ca338375b964b0b905ee20f74f9b21b22/actionpack/test/dispatch/cookies_test.rb#L367) it is only on cookies not modified inside the test

[2019-04-30 17:55] jaredmoody commented on #2114
Yes, I will add code there to reproduce.

I think you have wrong gem versions here? Do you mean Rails 6.0.0.rc1 and some different version of rspec-rails?

[2019-04-30 18:41] samphippen commented on #2114
@jhawthorn

[2019-04-30 20:11] jhawthorn commented on #2114
This is due to a change in Rails, specifically https://github.com/rails/rails/pull/35661, but IMO the new behaviour is good. The issue is [this filename parsing in rspec-rails](https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/example/view_example_group.rb#L130-L145) doesn't actually support variants (and so it passes a format like `html+app`). I think it might also have weird behav

[2019-04-30 20:17] benoittgt commented on #2114
Thanks a lot @jhawthorn

[2019-05-01 19:33] samphippen commented on #2114
This is fixed in 4-0-dev

[2019-05-01 19:33] #2114 closed

[2019-05-03 02:14] jamesdabbs-procore commented on #2049
I believe this is actually an `rspec-mocks` issue. See https://github.com/rspec/rspec-mocks/pull/1275 for a PR.

[2019-05-10 20:57] Kutomore opened #2124 "transactional_fixtures not working"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.5.1
Rails version: 5.2.2
RSpec version: 3.8

## Observed behaviour

Test database data is persisting even with `config.use_transactional_fixtures = true` set in the rails_helper

## Expected behaviour

The data of each test should not persist, the database should clean itself up

I don't think it's an gem issue, most likely an

[2019-05-10 22:03] mikegee commented on #2124
I'll think other folks would need to be able reproduce the problem to have any hope solving it. Do you think you could create a public repo exhibiting this behavior?

[2019-05-10 23:36] Kutomore commented on #2124
Weirdly enough, on a different pc it worked just by enabling transactional fixtures. I guess it was an enviroment issue. Thanks for the attention tho.

[2019-05-10 23:36] #2124 closed

[2019-05-12 14:39] samphippen commented on #1993
@benoittgt do you want to send a PR to update the cucumber features with whatever you think will work best?

[2019-05-12 15:53] benoittgt commented on #1993
Good idea @samphippen. I will try now.

[2019-05-12 19:49] benoittgt commented on #1993
There is also an old documentation on this https://relishapp.com/rspec/rspec-rails/docs/controller-specs/cookies
I will send a PR to update this one too.

[2019-05-14 08:03] Harrymsys opened #2128 "RSpec issue in join query"
Hi Team,

We are facing the issue in executing the join query via Rspec where the same code works fine when used directly.

Sample Query :
[code]
As per this query, We are fetching the 'datavalue' from the 'testtable' where the 'table_id' should match the two tables - 'testtable' and 'anothertable' in the foreign key relation.

1) It works fine in the rails console too.
2) It works fine in the Rub

[2019-05-14 12:37] JonRowe commented on #2128
Hi, RSpec and RSpec Rails (which I'm assuming your using) has no effect on database access. Rails does have seperate databases for the dev and test environments so its possible your out of sync between the two, check your migrations and try again.

Closing as this is unlikely a bug in either rspec or rspec-rails.

[2019-05-14 12:37] #2128 closed

[2019-05-14 14:11] benoittgt commented on #1993
Documentation will be simplified on next rspec-rails 4 documentation. See #2127

I am closing this issue because I don't think we can do more.

[2019-05-14 14:11] #1993 closed

[2019-05-15 15:26] MSP-Greg opened #2129 "[ANN] RSpec 'master' docs available"
Using code that enhances YARD, I have a site with Ruby and several gems doc'd.  The site is updated at least daily...

The docs for Rspec are here:
https://msp-greg.github.io/rspec/

I combined docs for the following repos together, which may simplify reviewing them:
rspec/rspec
rspec/rspec-core
rspec/rspec-expectations
rspec/rspec-mocks
rspec/rspec-rails
rspec/rspec-support

Home page with all th

[2019-05-15 15:35] JonRowe commented on #2129
An interesting project! Thanks for highlighting, how are you combining our docs?

[2019-05-15 15:35] #2129 closed

[2019-05-15 15:54] MSP-Greg commented on #2129
It needs all the repos in a defined structure, and I've got all of them locally.  The equivalent section of the `.yardopts' file is:

[code]

The project started as a 'I just want to review code/docs on my tablet' issue, and then continued.  Adding reasonable Ruby parsing was a large addition, followed by Rails DSL stuff...

A long time ago I had Rspec docs in separate folders locally, and it drov

[2019-05-15 15:57] JonRowe commented on #2129
Interesting, I wonder if its worth combining them on our official docs over on `rspec.info`

[2019-05-16 07:57] kiecoorp commented on #1655
For HTTP_REFERER use symbol and not string !

`post "/api/v1/kpulse", params: params, headers: { HTTP_REFERER: 'kpulse.fr'  }`

[2019-05-21 23:35] phsacramento opened #2132 "Error while require rspec/rails"
Ruby version: 2.6.3
Rails version: 5.2.3
RSpec version: 3.8.2

[code]
spec_helper.rb

[code]

Gemfile

[code]

model_spec.rb

[code]

[2019-05-23 10:34] JonRowe commented on #2132
I tried to replicate this using your provided code, which I had to modify to add `aasm` to the Gemfile, and a fresh rails app and got nothing, from the look of the cause by explanation it appears you have a rails app configured to run test unit as well? So it's looking for there test helper.

Can you make sure your rails app either hasn't got test unit enabled, or has the appropriate test unit con

[2019-05-23 18:46] phsacramento commented on #2132
@JonRowe I this a new project, exists only default suite.

[2019-05-24 11:46] JonRowe commented on #2132
@phsacramento you still somehow have a difference between a `rails new` with this code. (Although like I said your code is slightly inaccurate). Regardless this is most likely a problem with your repo unless you can replicate it!

[2019-05-25 10:18] AmitPatel-BoTreeConsulting commented on #1574
I faced this issue today with Rails 5.2(with Spree 3.7).

Before checking cookies content in spec after request, I did `` and it worked. Thanks @gma and @ganbootyard

[2019-05-25 23:48] 1v commented on #1291
Workaround will be to stub `find` method:
[code]

[2019-05-29 21:08] JonRowe commented on #2132
Hi @phsacramento if you can make a new rails app (so only gems etc) with this config reproducing the issue and push it to a public repo, one of us will be able to take a look at where this is coming from, otherwise we'll have to close this.

[2019-06-08 14:51] JonRowe opened #2136 "Switch to new issue templates."
Rather than using the old issue template markdown template, we should setup a couple using the new format Github have setup, maybe one for bugs and one for feature requests?

https://help.github.com/en/articles/about-issue-and-pull-request-templates#issue-templates

[2019-06-10 07:20] coding-bunny opened #2137 "invalid option: --format"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.3.0
Rails version: 5.0.7.2
RSpec version: 3.8.0

## Observed behaviour

We are using CircleCI, and running the tests in parallel using their workers.
As soon as we add the `--format` option to our `bundle exec` command, the tests pass, but RSpec keeps exiting with error code 1 and complains about the invalid option.

Running `b

[2019-06-10 11:17] #2137 closed

[2019-06-10 11:19] JonRowe commented on #2137
:wave: Hi, you have mini test activated somewhere in your stack, as evidenced by:

[code]

As minitest doesn't have a format option it is exiting with 1 for you. This is out of RSpecs hands, so you need to find where it's being activated from and remove the require. I suggest searching for "minitest" in your codebase, and failing that, removing requires one by one from your test setup until you fi

[2019-06-10 11:20] coding-bunny commented on #2137
Will try and see if I can find anything.
My guess it's going to be in one of our custom gems most probably.
Thanks for pointing me in the right direction!

[2019-06-10 11:22] JonRowe commented on #2137
Please note it's ok (and somewhat expected) that minitest is installed, what matters is that somewhere you, or a dependency, are requiring it as a runnable item. I think this will take the form of `minitest/autorun` but I'm sure there are other invocation paths.

[2019-06-10 11:36] coding-bunny commented on #2137
yeah I found it, there was a `require rails/test_help` in the spec,
removing that resolved it

[2019-06-14 11:03] penelopezone opened #2139 "Consider removing rubocop in favour of standardrb (and eventually rubyformat)"
Hi Y'all,

Of late I've found that rubocop's rules are very unstable for us in particular, it looks like Rubocop routinely breaks our build because we don't have it pinned to an exact version, and they make "breaking changes" between, minors.

I'd like to propose we move to [standardrb](https://github.com/testdouble/standard) which promises to be more stable (also I am collaborating on it with sea

[2019-06-14 17:48] JonRowe commented on #2139
Standardrb isn't configurable and our rubocop config differs from it, we defined our rubocop format to meet our conventions so I'm a no vote on changing for change sake.

[2019-06-15 22:15] Lukom commented on #1650
In Rails 5 you have to do `post :update, params: { id: user_id }, body: { id: 777 }.to_json, as: :json`. Note – not `format: json` but `as: :json`, otherwise correct request mime-type won't be set.

[2019-06-16 12:42] Lukom commented on #1519
If boolean params come to the controller as true/false and not as strings good chances are that you are passing them as a JSON in the body. In this case, you have to do this:
[code]
or this:
[code]
to pass them as booleans in tests also.

[2019-06-18 18:32] programatologist opened #2142 "Rails 3.2.22.1 controller tests call application controller method multiple times"
Ruby version: ruby-2.3.7
Rails version: 3.2.22.1
RSpec version: 308

running a controller spec calls the application controller method multiple times.
I have a methods

[code]
[code]
[code]

[code]

When I run

`rspec spec/controllers/staff_controller_spec.rb`

I get the result

[code]

The application controller method is called two times, each for one controller(expected to call once)

I have ad

[2019-06-19 16:37] cjbottaro commented on #2045
Having an anonymous controller breaks my routes also.

[code]

Results in
[code]

Simply removing the `controller` block fixes it.

[2019-06-20 16:25] benoittgt commented on #2139
What about pining Rubocop version?

[2019-06-20 16:34] benoittgt commented on #2136
I think this is a good idea!

[2019-06-21 07:34] grishkovelli commented on #1650
You saved my life

[2019-06-21 13:32] Lukom commented on #1650
It should work also this way: `post :update, params: { id: user_id, id: 777 }, as: :json`

[2019-06-21 16:38] JonRowe commented on #2142
:wave: RSpec isn't doing anything here, its the code loading, if you run `rails console` with your example the same output will be produced. Class level methods used like that are invoked on loading a file.

[2019-06-21 16:38] #2142 closed

[2019-06-22 14:15] JonRowe commented on #2045
@cjbottaro in your case this is expected, `controller` creates a new controller which has the standard resource routes, thus as you haven't defined a route called `ask_email` for it you get the error, you need to draw the routes yourself.

[2019-06-25 18:40] archonic commented on #425
Sorry to raise the dead here but this method is still described in the docs:
https://relishapp.com/rspec/rspec-rails/docs/controller-specs/bypass-rescue

But using rspec-rails 3.8.2, I'm seeing that there's no method `bypass_rescue`.

[2019-06-26 04:45] benoittgt commented on #425
Hello @archonic

Can you provide a test where you have this issue?

[2019-06-26 08:05] JonRowe commented on #425
@archonic this is for controller specs, not request specs.

[2019-06-27 23:14] obromios commented on #1659
In my test suite, using ```rails 5.2.3``` the following works:
`expect(response).to redirect_to 'http://test.hostwhere_I_came_from'`

[2019-07-01 22:15] MiguelSavignano commented on #1852
Hi @coding-bunny this works for me to send JSON array in body

Example:
[code]

When i send array in de body rails parse the body like this

[code]

This works for me in Controller test

[code]

[2019-07-02 10:42] Rio517 commented on #1852
Take a closer look at the posted request in your test case.  Here is an example request spec, but I believe the gist of it is:

https://github.com/Rio517/rspec-example-issue-1852

[code]

which results in:
[code]
[code]

[2019-07-02 12:46] Rio517 commented on #1852
Related: If you extend this case to try to pass a json string to params in a controller spec, you get an error. Seems params expects a hash. This effectively leaves one with no way to json in the body - at least that I'm aware of. See: https://github.com/Rio517/rspec-example-issue-1852/commit/9ac54a1a9afbe5019ab1329464a2dd3daf427bc4

[2019-07-03 21:32] JonRowe commented on #1852
The format of the options used depends on your Rails version, its all Rails code. You usually need to tell Rails its json you are sending with `format: :json` or `as: :json`

[2019-07-03 21:32] #1852 closed

[2019-07-04 07:51] syafiqfaiz opened #2144 "rails g rspec:install failed to run with bundler 2"
Ruby version: ruby 2.5.0p0
Rails version: Rails 5.1.4
RSpec version: RSpec 3.8
                            - rspec-core 3.8.2
                            - rspec-expectations 3.8.4
                            - rspec-mocks 3.8.1
                            - rspec-rails 3.8.2
                            - rspec-support 3.8.2
Bundler version: 2.0.2

## Observed behaviour

I wanted to start testing

[2019-07-05 07:57] #2144 closed

[2019-07-05 07:57] JonRowe commented on #2144
:wave: `rails` is a command belonging to rails, the warning message you describe is from bundler. Neither of these are RSpecs responsibility. I suggest you open an issue with one of those projects.

[2019-07-08 16:25] pimlottc-gov commented on #1650
This is working for me:

But when I try using `body:` directly:

I get:

[code]

I'm using rails 5.2.2 and rspec 3.8.0

[2019-07-09 18:47] olleolleolle opened #2147 "JRuby tests fail because some --add-opens are missing"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: JRuby (head, for example)
Rails version: 6-0-stable
RSpec version: master

## Observed behaviour

Travis JRuby tests fail because some `--add-opens` are missing.

<details>

[code]

<summary>Output in test, which disturbs some output tests</summary>

</details>

## Expected behaviour

Tests should pass, JRuby ought to be configur

[2019-07-09 19:17] JonRowe commented on #2147
JRuby is flakey as all hell atm due to Travis issues...

[2019-07-09 19:22] olleolleolle commented on #2147
@JonRowe Ah, right, that might prove difficult to try out, successfully, then.

[2019-07-09 20:08] olleolleolle commented on #2147
Heey, it ran, without a single warning on --add-opens. I will add this chunk to the other JRuby, too.

[2019-07-11 11:13] salmagomaa commented on #1655
This solution worked for me too
https://robert-reiz.com/2013/08/09/http_referer-for-rspec-is-missing/

[2019-07-12 07:50] seanhandley commented on #1357
This bit me today too. We're on `rspec-rails 3.8.0`.

[2019-07-13 16:14] benoittgt commented on #1357
Does it mean we should rewrote the patch we avoid doing manually `Model.define_attribute_methods`? I can look at it. Feel free to assign it to me @JonRowe

[2019-07-16 20:36] JonRowe commented on #1357
Happy for you to tackle this @benoittgt, the relevant call to the callback lives in lib/rspec/rails/active_record.rb, I wonder if its not detecting the classes as models, does the inheritance check still work with the new include in later rails?

[2019-07-19 05:32] angarc opened #2149 "No access to url helpers."
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.6.3
Rails version: 6.0.0.rc1
rspec-core: 3.8.2
rspec-expectations: 3.8.4
rspec-mocks: 3.8.1
rspec-rails: 3.8.2
rspec-support: 3.8.2

## Observed behaviour

I'm getting this error:
[code]

## Expected behaviour

For my first test to work. It works when I do a manual browser test.

My routes look like this:
[code]

My Controller:

[2019-07-19 05:36] angarc commented on #2149
Nevermind. I put my spec in a folder called `feature` instead of `features`. Once I changed the name of the directory, everything started working!

[2019-07-19 05:36] #2149 closed

[2019-07-19 11:01] unikitty37 opened #2150 "get 'path' fails when path contains invalid UTF-8 characters"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: ruby 2.3.3p222 (2016-11-21 revision 56859) [x86_64-darwin18]
Rails version: 5.0.6
RSpec version: 3.7

## Observed behaviour

This test fails

[code]

with the following output

[code]

## Expected behaviour

The URI is not validated (as attackers will not be passing *their* URIs through validators!) but is accessed, and blocked b

[2019-07-19 12:53] unikitty37 commented on #2150
Ah, apologies — this looks to be a rack-test issue, not rspec rails.

[2019-07-19 12:53] #2150 closed

[2019-07-23 15:10] tansaku commented on #1417
@gregblass @cupakromer do you happen to know how to pass the `--only-failures` option in when using the rails task? i.e `bundle exec rails spec`?

[2019-07-24 12:58] JonRowe commented on #1417
Are the new rails tasks similar to rake tasks? Theres an `rspec_opts` for the Rake task which would allow you to do this.

[2019-07-24 14:54] tansaku commented on #1417
ah, excellent thanks @JonRowe

[2019-07-30 15:23] alexsanderson opened #2153 "Teardown hooks are called in the wrong order, resulting in a blank screenshot in Rails 6."
## What Ruby, Rails and RSpec versions are you using?

Ruby version: ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin18]
Rails version: 6.0.0.rc1
RSpec version: 3.8
  - rspec-core 3.8.2
  - rspec-expectations 3.8.4
  - rspec-mocks 3.8.1
  - rspec-rails 3.8.2
  - rspec-support 3.8.2

## Observed behaviour

`after_teardown` is run before `before_teardown`

Which results in `Capybara.reset_se

[2019-08-01 08:54] JonRowe commented on #2153
Have you tried this on the `4-0-dev` branch? That contains Rails 6 support. /cc @samphippen

[2019-08-02 10:02] alexsanderson commented on #2153
I've updated to `4-0-dev@9c6d8f3` with no change -- the failure screenshot is blank with byebug showing the same call order (`after_teardown` before `before_teardown`).

[2019-08-06 23:32] mhoad opened #2154 "How to test ActionText components?"
I know this isn't the correct place for this but I am honestly not sure where else to ask at the moment. I can't figure out how to possibly test ActionText components using RSpec. I tried posting about this on StackOverflow here https://stackoverflow.com/questions/57319708/how-to-test-actiontext-using-rspec but haven't had any luck at all so far. Is this currently supported by RSpec 3?

[2019-08-07 22:07] yurighensev commented on #1650
@pimlottc-gov
You need do do it like this:

The gotcha is to use `params:` and `as: :json`.

[2019-08-08 03:21] TorvaldsDB commented on #1291
So far, I did as you mentioned. Work fine. However, I wish a better way to solve it.

[2019-08-08 11:17] JonRowe commented on #1291
There isn't really an elegant way to do it, as its not really a recommended testing approach. Either deal with objects directly, or deal with the database if you are integration testing :)

[2019-08-08 11:21] JonRowe commented on #1650
@pimlottc-gov this is entirely dependant on your Rails version, as mentioned above you must use the params route.

[2019-08-08 11:44] JonRowe commented on #2154
All of our Rails 6 support is in the `4-0-dev` branch, and won't be backported to 3 due to the fact we're changing our release cycle to match rails, and releasing new major versions supporting the versions of rails that are, er, supported :joy:

I'm not sure if anyone has added actiontext support yet but thats where it'd be, @samphippen any ideas?

[2019-08-13 16:09] kwerle commented on #1549
Nope.  It's confusing.

[2019-08-13 19:33] p8 commented on #2104
Discourse now has a solution based on parallel_tests https://github.com/discourse/discourse/pull/7778

[2019-08-16 20:11] jcoyne opened #2155 "Rails 6 - ActionView::Template::Error: wrong number of arguments (given 2, expected 1)"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin18]
Rails version: 6.0.0
RSpec version: RSpec 3.8
  - rspec-core 3.8.2
  - rspec-expectations 3.8.4
  - rspec-mocks 3.8.1
  - rspec-rails 3.8.2
  - rspec-support 3.8.2

## Observed behaviour

When upgrading from rails 5.2 to 6.0 this spec started failing
[code]
## Expected b

[2019-08-16 21:11] jasnow commented on #2155
Try rspec-rails 4.0.0.beta2.

[2019-08-16 23:44] jcoyne commented on #2155
@jasnow yep, that solves the problem. Thanks.

[2019-08-16 23:44] #2155 closed

[2019-08-21 06:37] benoittgt commented on #2154
@mhoad Sorry for the delay. Are you still stuck? I don't think there is support at the moment

https://github.com/rspec/rspec-rails/pull/2119#pullrequestreview-233742463

[2019-08-21 06:40] benoittgt commented on #2153
Thanks for the detailed report @alexsanderson. Do you think you can provide a fresh repo with a rails app with a reproduction case?

Cheers

[2019-08-21 08:49] iainbeeston commented on #2104
Is there any update on supporting the activesupport `parallelize` helper in rspec-rails, now that rails 6 has been released?

[2019-08-21 08:49] iainbeeston commented on #2104
Sorry, I meant to include a link with more details:

https://github.com/rails/rails/pull/31900

[2019-08-21 08:50] JonRowe commented on #2104
No, RSpec itself needs to support parallelisation in order for it to supported

[2019-08-21 08:57] iainbeeston commented on #2104
Sorry @JonRowe - can I please clarify something?

![](https://media.giphy.com/media/XX1HlkNzoRSCY/giphy.gif)

rspec-core needs updating even for multi-process parallelisation, right? (not just multi-threaded parallelisation as described in https://github.com/rspec/rspec-core/issues/1254, which I would assume is more challenging)

[2019-08-21 09:15] JonRowe commented on #2104
The main rspec-core runner doesn't support parallelisation, so it has no means of collating results from workers, be they threads or processes. Process based parallelisation is simpler than thread based due to well, the GIL on MRI rubies and lack of 100% thread safety within the other gems. (I'm fairly certain for example that there are threaded bugs lurking within the mocks code).

My ideal plan

[2019-08-22 08:21] alexsanderson commented on #2153
Sure thing, here we are @benoittgt -> https://github.com/alexsanderson/rspec-teardown

I've added how to reproduce in the README, but it's essentially: clone, bundle and run rspec.

[2019-08-22 10:39] feixionglee opened #2161 "`EmptyTemplateHandler::call` wrong number of arguments (2 for 1)"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]
Rails version: 6.0.0
RSpec version: 3.8
  - rspec-core 3.8.2
  - rspec-expectations 3.8.4
  - rspec-mocks 3.8.1
  - rspec-rails 3.8.2
  - rspec-support 3.8.2

## Observed behaviour

[code]

## Expected behaviour

The specs should all pass, (all pass with rails 5.2.3)

##

[2019-08-22 15:27] JonRowe commented on #2161
:wave: I this is fixed on the `4-0-dev` branch and released in the beta. See #2089

[2019-08-22 15:27] #2161 closed

[2019-08-23 18:51] JonRowe commented on #2153
@alexsanderson can you see if #2164 fixes your issue?

[2019-08-25 10:39] krtschmr commented on #2104
to summarize: regardless if thread or processes: rspec-core isn't supporting it yet, so if we run a rails 6.0 application and use rspec, we won't benefit from it. correct?

[2019-08-25 18:15] JonRowe commented on #2104
The helpers are there to support parallelisation, rspec on its own doesn't support parallelisation so you'll need an extension gem to benefit from it.

[2019-08-25 20:37] Rheisen opened #2167 "Resetting request cookie during a test does not persist"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.6.3
Rails version: 6 rc2
RSpec version: 3.8.2

## Observed behaviour

https://stackoverflow.com/questions/57648988/ror-rspec-request-cookie-change-not-persisting-when-changed-in-test-case

## Expected behaviour

Setting a request cookie uses that cookie value in the next request.

## Can you provide an example app?

Not easily

[2019-08-26 00:45] #2167 closed

[2019-08-26 17:33] JonRowe commented on #2167
There are some oddities with how cookies are set, its all controlled by rails / rack-test and not us though, I'm guessing from the closed issue you got an answer on SO?

[2019-08-27 12:28] alexsanderson commented on #2153
Yes, it works now @JonRowe. Perfect!

[2019-08-27 17:12] JonRowe commented on #2153
Closed in `4-0-dev`

[2019-08-27 17:12] #2153 closed

[2019-08-27 19:18] alexsanderson commented on #2153
Thank you! @JonRowe

[2019-09-03 17:04] jathayde opened #2168 "Rails 6 Rspec throws “ActiveModel::MissingAttributeError” on Carrierwave uploader when in Concern"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.6.3
Rails version: 6.0.0
RSpec version: 3.8.0
RspecRails 4.0.0.beta2

## Observed behaviour

Upon running `rspec` the factory fails:
[code]

## Expected behaviour

The factory should be valid (it is in Rails 5.2.x).

The failure is caused by a carrierwave mounter being called in the `included` block in a concern. If the mounter

[2019-09-03 19:14] lazylester opened #2169 "suggested config causes suite to run twice"
Ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin16]
Rails 5.2.3
RSpec 3.8
  - rspec-core 3.8.2
  - rspec-expectations 3.8.4
  - rspec-mocks 3.8.1
  - rspec-rails 3.8.2
  - rspec-support 3.8.2

## Observed behaviour

Suggested config for Gemfile is to include rspec-rails in development and test groups (ref. README)
[code]

Define `spec` as the default rake task in Rakefile, with a pattern

[2019-09-04 05:44] benoittgt commented on #2132
Closing becausereproduction case not provided.

[2019-09-04 05:44] #2132 closed

[2019-09-04 05:50] benoittgt commented on #2168
Hello @jathayde

Thanks for the issue. Could you provide a fresh rails app with a reproducing issue. This will help us to identify the problem.

Thanks

[2019-09-04 05:59] benoittgt commented on #2169
Hello

This is a duplicate of https://github.com/rspec/rspec-rails/issues/904#issuecomment-31512632

Feel free to comment on the other issue if you didn't find your answer.

[2019-09-04 05:59] #2169 closed

[2019-09-04 06:07] benoittgt commented on #2169
In your case.

The issue is here:

https://github.com/lazylester/rspec_test/blob/master/Rakefile#L10-L18

You can remove this block.

[2019-09-04 11:57] JonRowe commented on #2168
@jathayde this seems like a factory bot issue...

[2019-09-04 12:00] JonRowe commented on #2169
Incidentally there is a pattern option for the rake task, you don't (and shouldn't) monkey patch our task.

[2019-09-04 13:39] jathayde commented on #2168
Thanks, Jon. Do you want me to file it on the FactoryBot issues instead? If not I can work this week/end on replicating in a new minimal app.

[2019-09-04 13:49] JonRowe commented on #2168
I suggest you do!

[2019-09-05 00:22] lazylester commented on #904
I was referred here from issue #2169, I'm trying to understand how to invoke my test suite with `rake` (no args, so default task) with my own custom pattern match spec. What do I need to put in Rakefile to achieve this? Very confused and grateful for any suggestions, thanks.

[2019-09-05 08:18] p8 commented on #2104
@JonRowe Would you copy all `bisect` code and renaming the namespace to `parallel` and make the required changes?

[2019-09-05 12:53] benoittgt commented on #904
Hello @lazylester

You should look at:
- https://relishapp.com/rspec/rspec-core/v/3-8/docs/configuration/pattern
- https://relishapp.com/rspec/rspec-core/v/3-8/docs/configuration/exclude-pattern

Probably what your are looking for is close to:

[code]

[2019-09-05 13:12] lazylester commented on #904
thanks, @benoittgt the stack overflow question gave me the solution.
I'm not using the `rspec` command directly b/c the file pattern is a bit complex (I have many engines in the vendor/gems directory in addition to the top-level spec directory)
grateful for your assistance

[2019-09-05 13:21] JonRowe commented on #904
You can define the pattern when defining the rake task.  See: http://rspec.info/documentation/3.8/rspec-core/RSpec/Core/RakeTask.html

[code]

[2019-09-05 13:37] JonRowe commented on #904
In the case of your reproduction in#2169, you are getting two specs runs for the same reason as this issue, there are two spec tasks defined.

The TL;DR is define any overrides like this:
[code]

The longer explanation is that RSpec Rails automatically defines a task called "spec" within a namespace "spec" and then sets the default task for the namespace to be task, so `rake spec` is a shorthand f

[2019-09-05 13:37] JonRowe commented on #2169
As per #904 you are getting two specs because there are two spec tasks defined.

The TL;DR is define any overrides like this:
[code]

The longer explanation is that RSpec Rails automatically defines a task called "spec" within a namespace "spec" and then sets the default task for the namespace to be task, so `rake spec` is a shorthand for `rake spec:spec`. Just as `rake` is a shorthand for `rake s

[2019-09-05 13:38] JonRowe commented on #2104
No I'm writing it from first principles using the bisect runner as a guide and some other external gems.

[2019-09-05 13:55] lazylester commented on #904
wow @JonRowe, this certainly is confusing! Thank you for taking the time to dig in and explain this.

[2019-09-09 12:29] Xanthus commented on #1655
Using Rails 5.2 and RSpec 3.8 and I'm struggling with this too. No matter what I try, the request submitted to the controller doesn't have the headers I set. I'm testing my base API controller's inherited token verification. It has a before_action that reads the token from the header and verifies it before continuing. The before_action triggers but the headers available are blank (save for the def

[2019-09-10 18:55] lao9 commented on #2102
FYI - ran into this issue after deleting and recreating a new rails project.

Ran: `ps aux | grep -i spring`

Noticed there was still a spring process running for the project.

`bin/spring stop` helped kill the process.

This stack overflow article helped me: https://stackoverflow.com/questions/25027284/ruby-on-rails-console-is-hanging-when-loading

Hoping this helps anyone else in the future that

[2019-09-11 10:07] abhinav098 commented on #671
[x]

[2019-09-11 13:00] gferrarocamus commented on #789
For future googlers:

I ended up here trying to solve an ` ActionController::RoutingError` in my request tests.

I'm using an `:api` namespace in my `routes.rb` like so:
[code]

The above suggestions didn't work for me. However the solution came from [this StackOverflow answer](https://stackoverflow.com/a/30413528). I just added the line `before { host! "api.example.com" }` in my tests:

[code]

A

[2019-09-13 08:40] #1836 closed

[2019-09-13 08:40] JonRowe commented on #1836
Closed as this was done in #2063

[2019-09-16 20:21] JohnMerlino2 opened #2172 "Rspec-Rails assumes I am using ActiveRecord, but I am not"
So I used byebug to isolate the issue to these lines of code:

/home/myuser/.rvm/gems/ruby-2.4.7@core/gems/rspec-rails-3.8.2/lib/rspec/rails/adapters.rb:126

At adapters.rb:126, it performs the around example, which invokes before_setup:

        group.around do |example|
          before_setup

This is where the problems begin. before_setup in turns invokes setup_fixtures:
[code]
`setup_fixtures`

[2019-09-16 21:43] JonRowe commented on #2172
:wave:

`rspec-rails` only has one way of knowing (at the moment) wether ActiveRecord is in use or not, and that is to check for its presence and then assume its in use and act accordingly. Without er... repeating what you said I'd say :joy: ActiveRecord has been loaded by your project code or its dependencies!

This has come up before, and you're correct we should be respecting your configuration

[2019-09-16 21:43] #2172 closed

[2019-09-18 05:17] vishalzambre commented on #1928
If you pass json then it consider as raw body and if you pass hash then it consider as params.

`post :event, params.to_json`

[2019-09-18 13:47] andrewshawcare commented on #1902
With `ApplicationSystemTestCase` I can turn off screenshots by doing this: https://stackoverflow.com/a/44337280

If RSpec does not use `ApplicationSystemTestCase`, how do I turn off screenshots?

[2019-09-18 14:00] JonRowe commented on #1902
You can define the same method within a spec to achieve that, e.g.
[code]

[2019-09-24 03:34] agorneo commented on #1393
Hello,
I am a little bit confused...
As of today, 2019, what is the recommended approach on this?
Should we use the "rails-controller-testing" gem?
Should we use "render_template" and "redirect_to"?
If we do not use the above two then what about request specs? Those two are the fundamedal matchers of request specs....
Thank you very much in advance...

[2019-09-24 14:46] JonRowe commented on #1393
:wave:

rspec-rails exists to enable the usage of Rails testing patterns with RSpec. Rails recommends that you write system specs for "end to end" testing and request specs when you do not. Controller specs are thus not recommended.

The `rails-controller-testing` gem is intended as a stop gap for those that still have controller tests / specs and want them to keep working, it is not recommended f

[2019-09-25 11:48] agorneo commented on #1393
Dear @JonRowe,

Thank you very much for your kind time and help :)

I am a little bit confused because in https://relishapp.com/rspec/rspec-rails/docs/request-specs/request-spec (the official site for rspec) it states:

This page is about `Request spec`, so if the two main matchers of request specs are not supposed to be used, why the general direction is to use request specs?

Probably I am missi

[2019-09-25 12:34] JonRowe commented on #1393
They are the two matchers mentioned, one still works `redirect_to`, without the gem, the other requires the gem due to the decisions made by the Rails team. You should not be asserting a template was rendered, you should be asserting on the behaviour and contents of the output.

The Rails team have driven the decision to push request specs over controller specs. The underlying functionality comes

[2019-09-25 17:04] mbirman commented on #2136
Perhaps the issue can be closed? The PR pretty much nailed it.

[2019-09-25 17:36] #2136 closed

[2019-09-26 09:27] razvan-sv commented on #1644
This will probably help somebody. I spent so much time to track it down.

In a very old test I had this:
[code]
which caused helper tests to fail intermittently.

Fixed by adding:
[code]

[2019-09-26 13:08] fabioaraujo121 commented on #1655
For **Rails 5.2.3** and **Rspec 3.8**
Just used the `request.headers.merge!(valid_headers)`
[code]

[2019-09-27 03:35] TorvaldsDB commented on #1291
Yes, I see. But it may be the best solution so far.

[2019-09-30 12:13] juliet-tech commented on #1928
I think this issue solves it, or at least it did for me -> https://github.com/rspec/rspec-rails/issues/1650

[2019-09-30 17:33] JonRowe commented on #1928
This depends on your rails versions and is no longer in the docs, closing for now

[2019-09-30 20:28] equivalent opened #2177 "Rails 6 ActionView::Template::Error wrong number of arguments (given 2, expected 1)"
### Steps to reproduce:

Given I install fresh new Rails 6 project with RSpec and I write controller test as following:

[code]

## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.6.3
Rails version: 6.0.0
RSpec version:

[code]

### related links

* http://jessehouse.com/blog/2019/06/19/actionview-template-error-wrong-number-of-arguments-given-2/
* https://github.com/rails/rail

[2019-09-30 20:32] equivalent commented on #2177
so according to http://jessehouse.com/blog/2019/06/19/actionview-template-error-wrong-number-of-arguments-given-2/ if I replace

[code]
with

[code]

it will work

but the point is that Rails 6 is out some time => would be nice if I can just use `gem 'rspec-rails'`

[2019-10-01 09:13] JonRowe commented on #2177
:wave: Hi, yes `4-0-dev` contains the version of `rspec-rails` with Rails 6 compatibility. It will be released soon but we are all volunteers.

[2019-10-01 09:13] #2177 closed

[2019-10-01 09:50] equivalent commented on #2177
@JonRowe  oh I see, sorry didn't want to push just thought there are some fixes prepared in `3.8.x` version not released yet,  didn't know  they are in `4.0` only. No pressure ;)

[2019-10-04 08:35] olleolleolle opened #2179 "Request: Close finished GitHub Issues Milestones"
**Problem description**:

Noting a few Open milestones here, with 0 outstanding issues, I request they be closed:

https://github.com/rspec/rspec-rails/milestones

When I browse the repository to know what's being worked on for the next release, Milestones can help with knowing how much is remaining.

[2019-10-04 09:38] pirj commented on #2179
Thanks for bringing this up. Closed finished milestones.

[2019-10-04 09:38] #2179 closed

[2019-10-09 09:11] aried3r opened #2182 "Version 3.8.3?"
What then became #2181 was initially meant to correct the changelog. There is no version 3.8.3 released, although a [changelog entry](https://github.com/rspec/rspec-rails/blob/master/Changelog.md#383--2019-10-03) exists. This also means that the links to the full changelog lead nowhere:

http://github.com/rspec/rspec-rails/compare/v3.8.2...v3.8.3
http://github.com/rspec/rspec-rails/compare/v3.8.3.

[2019-10-09 11:34] JonRowe commented on #2182
:wave: There is a 3.8.3, it exists as a tag and on `3-8-maintenance` but somehow it didn't get pushed to rubygems, fixed.

[2019-10-09 11:34] #2182 closed

[2019-10-09 15:05] simmerz opened #2184 "expect { }.to have_enqueued_mail().with() doesn't work with ActionMailer::MailDeliveryJob"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.5.1
Rails version: 6.0.0
RSpec version: branch 4-0-dev

## Observed behaviour

Given an email enqueued with:
[code]

I would expect the following to pass:

[code]
It doesn't pass when setting the default delivery job to `ActionMailer::MailDeliveryJob` but does when using the legacy `ActionMailer::Parameterized::DeliveryJob` (ie

[2019-10-17 06:56] benoittgt commented on #2184
Hello @simmerz

Thanks for your issue. Could you provide a reproduction script or new Rails project?

Thanks

[2019-10-17 08:35] simmerz commented on #2184
Hi @benoittgt - here's a blank rails project recreating the issue: https://github.com/simmerz/rspec_mailer_bug

[2019-10-17 09:46] JonRowe commented on #2184
@benoittgt I'm pretty certain this has to do with the class used, its just not detecting the mail jobs used in Rails 6.

[2019-10-17 09:50] simmerz commented on #2184
@JonRowe without the `with()` it passes. Just not without, and it's specific to the new `MailDeliveryJob` class. The old ones work fine, but everything is being deprecated to be removed in Rails 6.1

[2019-10-17 09:58] JonRowe commented on #2184
@simmerz Interesting, then its probably the format of the arguments used, as thats how it changes when you use `with` https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/matchers/have_enqueued_mail.rb#L68

[2019-10-17 10:00] simmerz commented on #2184
Failure output:
[code]

[2019-10-17 10:03] simmerz commented on #2184
So that's something I should be fixing in my code, or should be handled in the `with()` expectation?

[2019-10-17 10:06] JonRowe commented on #2184
Something that needs to be added to the params building code in the matcher when Rails 6 is being used with this new mailer class

[2019-10-17 10:07] JonRowe commented on #2184
You could work around it for now with `a_hash_including("params" => a_hash_including("option" => "bar"))`

[2019-10-17 10:08] JonRowe commented on #2184
I don't have time to work on this myself right now, do you feel like tackling a PR or @benoittgt ?

[2019-10-17 11:08] simmerz commented on #2184
Like you've described, if I use the following, the test passes:

`.with(params: { option: { foo: 'bar' } }, args: [])`

We need to handle someone creating a job `with` params eg `SomeJob.with(params).do_thing` as well as with args eg `SomeJob.do_thing(args)`

I'm not sure what the best way to tackle those would be. Any pointers appreciated and I'd be happy to submit a PR

[2019-10-18 14:59] JonRowe commented on #2184
The tactic we've used before is to use the rails param parsing code itself to create the params we check against the queued ones.

[2019-10-21 22:04] aaronwbrown commented on #1650
@pimlottc-gov solution worked for me in rails 6.0.0 and rspec 3.9.0. 🍾

[2019-10-25 18:24] jonmchan opened #2197 "Testing Mounted Engine request.path_info Improperly Set"
Ruby version: ruby 2.6.3p62
Rails version: rails 5.2.3
RSpec version: RSpec 3.9

## Observed behaviour

When testing mounted engines in an application:

application's config/routes.rb:
[code]

engine's config/routes.rb:
[code]

I am creating controller and request specs:

[code]

In the app, when I check for `request.path_info`, I get: `/pseudo_kiosk/authentication/unlock`.

## Expected behaviour

[2019-10-26 14:45] JonRowe commented on #2197
I think you'll find your issue is this:

`routes { PseudoKiosk::Engine.routes }`

If your engine is installed in your app, your apps routes will contain the engines routes, and thus you don't need to override them.

[2019-10-26 15:05] jonmchan commented on #2197
@JonRowe Thanks for your reply. I had to add that line in because it couldn't find the routes when I ran the test without it:

[code]

However, my `bin/rails app:routes` show:

[code]

[2019-10-26 15:10] JonRowe commented on #2197
Basically when you override the routes, you need to use the sub route to get it to match, if you don't, you need to provide the context in which it is mounted to get it to match. I'm not sure how rails expects you to provide the later, but I suggest you use the former and not worry about what the path shows in the tests (which are now independant of where they are mounted).

If you truely need int

[2019-10-26 15:17] jonmchan commented on #2197
@JonRowe the issue I am having is the engine I am creating is a security gem which checks endpoints against a whitelist. Somehow, the code in working within the engine to generate the whitelist using the proper named routes ( `PseudoKiosk::Engine.routes.url_helpers.pseudo_kiosk_authentication_unlock_path` generates  `/pseudo_kiosk/authentication/unlock` ), however the `request.path_info` populated

[2019-10-26 15:20] jonmchan commented on #2197
Trying to manually specify the route still won't work:

[code]

[2019-10-26 15:23] JonRowe commented on #2197
Ah that might only be available in a proper integration / request spec rather than a controller spec. Controller tests are soft-deprecated by the Rails team and this is one of the reasons why.

[2019-10-26 15:32] jonmchan commented on #2197
@JonRowe that's important to note... if I was to convert all these tests to request specs, the issue I was running is I don't have direct access to the session. Is there a recommended workaround for that or am I to be making getter and setter endpoints to read and write to the session variables I need? Seems sorta clunky, especially since I would have to make sure everything can be serialized/dese

[2019-10-26 15:37] JonRowe commented on #2197
If you're happy with controller tests I suggest going back to your original configuration and accepting that the path will be the subpath and not the full path. Engines shouldn't depend on their mount points anyway?

[2019-10-26 15:37] JonRowe commented on #2197
Closing because this is a "configuring Rails" issue we're not able to do much about, happy to get providing help here.

[2019-10-26 15:37] #2197 closed

[2019-10-26 16:03] jonmchan commented on #2197
That's hard for me to do because it fails in checking if the endpoint is on the whitelist.

See:
https://github.com/jonmchan/pseudo_kiosk/blob/3b01585027cb7a01c6ed06fd84e61fede7dc42ee/lib/pseudo_kiosk/controller.rb#L24-L35

The engine generated urls does not match the path_info from the request.

The workaround I have achieved is setting the engine mount point to be / so subpath and full path are

[2019-10-26 16:15] JonRowe commented on #2197
I think you have overlooked something here, its possible to mount an engine multiple times at different endpoints, so you need to account for that which would also fix this for you. I'm not sure you should be trying to introspect the path in this fashion, if you are trying to secure various controller/action combos you are better off using those parts rather than the string url. Just my 2¢.

[2019-10-26 16:20] jonmchan commented on #2197
Good point, I'll secure these engine endpoints by controller and action. Thanks!

[2019-10-31 16:56] ruvaleev commented on #2177
When I try to add this to my Gemfile
gem 'rspec-rails', git: 'https://github.com/rspec/rspec-rails', branch: '4-0-dev'
I got error:
Revision 4-0-dev does not exist in the repository https://github.com/rspec/rspec-rails. Maybe you misspelled it?

[2019-10-31 17:10] JonRowe commented on #2177
The PR was merged, you can use `master` or `4.0.0.beta3` until the final version is released.

[2019-11-04 09:31] percysnoodle commented on #1574
Seen again today with Rails 6.0 and RSpec 3.8.

[2019-11-04 10:23] pirj commented on #1574
@percysnoodle Can you please try with `rspec-rails` gem 4.0.0.beta3?

[2019-11-04 10:38] percysnoodle commented on #1574
@pirj Done - same problem. (I was using beta2 before; I've updated my previous comment).

This is the failing spec, in case I'm doing something wrong:
[code]

[2019-11-04 11:35] JonRowe commented on #1574
This is a Rails issue, the code for updating cookies resides in https://github.com/rails/rails/blob/v6.0.0/actionpack/lib/action_controller/test_case.rb I suggest you construct a similar proof of concept in minitest and open it with them

[2019-11-04 12:34] pkotnis opened #2200 "Can't get have_enqueued_email to work in 3.9.0"
It's probably something trivial, but I can't get the new `have_enqueued_email` matcher to work in 3.9. It looks as if the matcher wasn't available for RSpec.

## What Ruby, Rails and RSpec versions are you using?

Ruby version: ruby 2.6.3p62
Rails version: Rails 6.0.0 (also tried on 5.2.3)
RSpec version: RSpec 3.9 (rspec-core 3.9.0, rspec-expectations 3.9.0, rspec-mocks 3.9.0, rspec-rails 3.9.0, r

[2019-11-04 14:26] pirj commented on #2200
For some reason, `lib/rspec/rails/matchers/have_enqueued_mail.rb` is not loaded, and that results in a [predicate matcher (`have_*`)](https://relishapp.com/rspec/rspec-expectations/docs/built-in-matchers/predicate-matchers) being used instead of `rspec-rails`' provided `have_enqueued_mail`.

I'd suggest to re-generate your config files for the project. Random observations - you require 'rails_help

[2019-11-04 14:26] #2200 closed

[2019-11-04 14:30] JonRowe commented on #2200
@pirj The repo is as we setup as we suggest, which is to load `spec_helper` with `.rspec` and require `rails_helper` as needed.

[2019-11-04 14:51] JonRowe commented on #2200
@pkotnis This is fixed in `4.0.0.beta3` theres a require missing for the matcher

[2019-11-04 15:15] pkotnis commented on #2200
Thank you @JonRowe <3

[2019-11-05 12:30] Schwad commented on #1655
Hello from 2019!

Just want to confirm I came here trying to set headers on a controller test and that @sebastian-julius ' approach (though I slightly modified it) worked great for me! Thank you! :)

[2019-11-07 07:16] mai-pt commented on #2177
I got same problem.

[2019-11-07 07:18] ruvaleev commented on #2177
This working for me

  gem 'rspec-core', git: 'https://github.com/rspec/rspec-core'
  gem 'rspec-expectations', git: 'https://github.com/rspec/rspec-expectations'
  gem 'rspec-mocks', git: 'https://github.com/rspec/rspec-mocks'
  gem 'rspec-rails', git: 'https://github.com/rspec/rspec-rails'
  gem 'rspec-support', git: 'https://github.com/rspec/rspec-support'

[2019-11-08 00:57] jonmchan opened #2204 "Order for helpers"
I believe it is suboptimal/confusing for `.rspec` to by default be defined as `--require spec_helper`. This is especially confusing because all the spec files by default are set to `require 'rails_helper'` and not `require 'spec_helper'`. I understand this is because it inherits from rspec-core, but I feel that behavior is confusing.

To the average developer, they would believe that `rspec_helper

[2019-11-08 08:34] pirj commented on #2204
Just to make things clear, you refer to `rspec_helper`, do you mean `rails_helper`?

Can you please elaborate on where this confusion may come from?
In [`rails_helper` template](https://github.com/rspec/rspec-rails/blob/master/lib/generators/rspec/install/templates/spec/rails_helper.rb#L2) `spec_helper` is explicitly required. So, when the spec file is loaded, it doesn't really matter if it explic

[2019-11-08 10:03] JonRowe commented on #2204
👋 so this is done for another good reason, `spec_helper.rb` does not load rails. Thus any specs not running rails, e.g. plain ruby specs can run  quickly without the large boot time penalty of rails. Of course any specs touching rails code need rails, so they load `rails_helper.rb`. This shortens the feedback cycle drastically when working on PORO specs, whilst still allowing integration testing w

[2019-11-08 10:03] #2204 closed

[2019-11-08 14:37] jonmchan commented on #2204
How embarrassing, don't know how I started typing that! Yes, I mean `rails_helper`.

@JonRowe

That makes perfect sense. Is this documented anywhere? I see the error in my code is that I'm including stuff that loads rails in `spec_helper` when they only should be in `rails_helper`, such as:

[code]
https://github.com/jonmchan/pseudo_kiosk/blob/master/spec/spec_helper.rb#L50

That should goes in `r

[2019-11-08 14:48] pirj commented on #2204
You are welcome!

I highly encourage you to send a doc update to clarify this in the README.
It's briefly mentioned [here](https://relishapp.com/rspec/rspec-rails/v/3-9/docs/directory-structure), but oddly enough `require 'spec_helper'` line is present; also [here](https://relishapp.com/rspec/rspec-rails/v/3-9/docs/upgrade).
This distinction should be on the forefront.

[2019-11-08 15:01] JonRowe commented on #2204
As @pirj mentions it is in the relish docs for upgrading, but not for installing / getting started, nor in the helpers themselves if you fancy a quick PR to rectify that?

Yep

I would happily welcome a PR to add a warning to the generated spec_helper to that effect (when generated by rspec-rails).

[2019-11-08 17:01] mkamensky opened #2205 "approximate at for activejob"
I queue an email to be sent 24 hours after a certain controller action. When I try to test it, I currently have

[code]
The problem is that `Time.now + 24.hours` is not precisely equal to what it was during `commit`, when the job was created, so the test fails.

What I would hope to have is something like
[code]
which passes if the given time is within `err` from the job time (perhaps with some de

[2019-11-08 17:06] mkamensky commented on #2205
PS., not really related, but the page that seems to be the [official docs](https://relishapp.com/rspec/rspec-rails/v/3-9/docs/matchers) does not mention `have_enqueued_mail` at all, and the links to the activejob matchers on the [jobs spec](https://relishapp.com/rspec/rspec-rails/v/3-9/docs/job-specs/job-spec) page seem to be broken

[2019-11-08 17:28] wwahammy commented on #2104
@JonRowe thanks for taking this on! Is there anything we can do to help this along? Not sure I'm qualified to write any of the runner but if there's something, please let us know!

[2019-11-08 19:38] mkamensky commented on #2184
I just ran into the same issue (I think) and fixed it by changing https://github.com/rspec/rspec-rails/blob/e50def6ad42a5d5a648d1ee7854966407bb6f4c4/lib/rspec/rails/matchers/have_enqueued_mail.rb#L76 into:

[code]

I'm not sure this is the right fix, and that it works in the other configuration, but it worked for me.

[2019-11-08 19:54] mkamensky commented on #2184
Also, this requires changing `mail_job_message` as follows:
[code]

[2019-11-08 20:45] mkamensky commented on #2205
I now have the following in `rails_helper.rb`:

[code]

[2019-11-08 20:54] simmerz commented on #2184
@mkamensky have you put it into a PR? If you fancy doing that, I'll test my codebase against your branch, to at least get some more validation on the method.

[2019-11-09 07:20] mkamensky commented on #2184
Actually, I just tried running the specs, which failed, and also reread the comments here, and realised I probably don't understand how one is supposed to use this function. The example in the docs shows the following should pass:

[code]
As far as I can tell, this does pass with my modification, and does not with the current code. On the other hand, the tests expect the following to pass:

[code]

[2019-11-09 08:22] pirj commented on #2205
Wondering if the following works:
[code]

Another option would be to use https://api.rubyonrails.org/classes/ActiveSupport/Testing/TimeHelpers.html#method-i-freeze_time

[2019-11-09 08:57] mkamensky commented on #2205
Doesn't work directly, since the serialization calls `to_f` on the argument of `at`, but this is a much better solution, thanks! I will try to change the `active_job` matcher to skip the `to_f` if it can't be applied.

(also, `from` should be replaced with `of` above)

[2019-11-09 09:59] mkamensky commented on #2205
Ok, I changed https://github.com/rspec/rspec-rails/blob/e50def6ad42a5d5a648d1ee7854966407bb6f4c4/lib/rspec/rails/matchers/active_job.rb#L163 to
[code]
(possibly this should be replaced by something more sophisticated, since one might wish to keep `@at` even when it does respond to `to_f`) but also had to change https://github.com/rspec/rspec-rails/blob/e50def6ad42a5d5a648d1ee7854966407bb6f4c4/lib/

[2019-11-09 10:24] JonRowe commented on #2184
I'd imagine its because you tried replacing the method / args for the new Rails 6 style, but thats not the only style of args thats in use.

[2019-11-09 10:35] JonRowe commented on #2205
@pirj's solution is one I would expect to work and would recommend, if it doesn't lets fix it!

[2019-11-09 18:39] mkamensky commented on #2184
Yes, that's what I thought, but I'm not familiar enough with the code to give a real solution here

[2019-11-10 15:40] pirj commented on #2205
@mkamensky Broken matcher link in the docs can be fixed in `features/job_specs/job_spec.feature` like this:
[code]

Not exactly sure, but I suggest it is both applied to `3.9-maintenance` and `master`.

[2019-11-10 17:47] mkamensky commented on #2205
Thanks! Will try to do both in a few days

[2019-11-10 23:20] soundasleep commented on #2177
Is there any ETA for when the "final version" is released? Having the same problem on a Rails 6 app.

My solution:

[code]

[2019-11-10 23:41] JonRowe commented on #2177
gem 'rspec-rails', `4.0.0.beta3` will work, waiting on a fix for a PR to release final

[2019-11-12 08:25] yogo-chen commented on #1655
This works for me on **rspec 3.8.0**
[code]

[2019-11-19 03:44] joshwcorbett commented on #1690
I seem to not have a rails_spec file, and when I try to generate one rails gives me the same error!

[2019-11-19 12:50] jasonfb commented on #1690
@joshwcorbett -- did you add the the require for the environment in the spec_helper file?

if it can't load the Rails environment it won't be able to load the generators

see https://stackoverflow.com/questions/4429068/getting-an-uninitialized-constant-error-with-rspec-have-no-idea-whats-causing

[2019-11-19 19:39] wacko opened #2209 "Wrong rspec libraries for beta versions"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.6.5
Rails version: 6.0.1
RSpec version: 3.9.0 & 4.0.0.beta3

## Observed behaviour

Looking at Rubygems, rspec-rails 3.9.0 depends on rspec-core ~> 3.9.0
But rspec-rails 4.0.0.beta3 depends on rspec-core ~> 3.8
(Idem for rspec-expectations, rspec-mocks, rspec-support)

https://rubygems.org/gems/rspec-rails/versions/3.9.0
https:

[2019-11-20 11:06] JonRowe commented on #2209
:wave: Hello, thanks for taking the time to start this discussion, prior to `rspec-rails` 4,`rspec-rails` was pinned to the same version of the core RSpec gems, so 3.8 depended on 3.8, 3.9 depends on 39.9 etc etc. However `rspec-rails` 4 is now not locked to the core gems, so actually it makes sense for it to depend on the minimum supported version, which is 3.8 given thats what it was developed a

[2019-11-20 11:06] #2209 closed

[2019-11-21 14:10] Arepo opened #2210 "Pre version of RSpec-rails bugging out when listening for change to ActiveSupport::TimeWithZone values"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.6.5
Rails version: 6.0.0
RSpec versions:
    rspec-rails 4.0.0.pre
    rspec-core 3.10.0.pre
    rspec-expectations 3.10.0.pre
    rspec-mocks 3.10.0.pre
    rspec-support 3.10.0.pre

(I wouldn't normally use non-stable releases, but I had the same issues as the user on [this thread](https://github.com/rspec/rspec-rails/issues/

[2019-11-21 14:57] JonRowe commented on #2210
Have you seen this behaviour with `4.0.0.beta3` or only the git based pre-releases? Theres a chance there is an unreleased feature is causing this behaviour (and it might stay unreleased if so), otherwise if you can only replicate it in your app with devise it would suggest that one of your dependencies is to blame not rspec-rails and theres potentially nothing to do...

[2019-11-21 19:02] #2205 closed

[2019-11-21 19:21] pirj commented on #1850
As I see from your question on SO, the scenario is a bit different:
[code]

The difference is that `carol.commitments.first` with `change` block syntax is evaluated both before and after `patch`, while with argument syntax it's evaluated once, and not reloaded.
E.g. if it happens that `patch` is loading its own instance of the record and operates on it, this won't be reflected on the record instan

[2019-11-21 19:21] #1850 closed

[2019-11-22 10:11] rlue commented on #1850
Thanks. I posted this question when I was first getting started with RSpec, and have since learned better.

Sorry for the trouble!

[2019-11-22 11:01] pirj commented on #1850
You are welcome!

[2019-11-26 01:31] mrothenbuhler commented on #1655
Same! It was `request.headers['myHeader']` was missing. Man that took me hours.

[2019-11-26 20:36] pirj commented on #1655
Are there any volunteers to update [the doc](https://github.com/rspec/rspec-rails/blob/master/features/controller_specs/README.md#examples) and add feature test similar to [the cookie one](https://github.com/rspec/rspec-rails/blob/master/features/controller_specs/cookies.feature)?

[2019-11-28 10:58] pirj commented on #2132
I've just recently had the same problem `cannot load such file -- action_view/test_case/test_helper`, but it seems normal, as it's just ignored.

[2019-11-30 07:13] aniketstiwari opened #2214 "ActionController::UrlGenerationError"
While testing my controller action I am getting this routing error. I am not able to figure it out where I am doing it wrong

**route**
` get ':user_type', to: 'user_posts#index', param: :user_type, constraints: lambda { |req| ['abc', 'def'].include?(req.params["user_type"]) }, as: :custom_posts
`

**spec**
[code]

**Error**
[code]
Also I tried https://github.com/rspec/rspec-rails/issues/1699

`ge

[2019-11-30 08:42] JonRowe commented on #2214
:wave: This is a Rails route matching issue, if you can't send the right combination of params to Rails it gives you this error.

Looking at your snippets I'm ponding if `param: :user_type` is the issue in your routes, as thats for overriding `:id` on `resource` which you are not using, you can check what Rails is looking for with `rake routes` and see what the route expects. Are you using a contr

[2019-11-30 08:42] #2214 closed

[2019-11-30 08:55] aniketstiwari commented on #2214
@JonRowe This is not an routing issue because I am able to run my program at rails level. Also, the reason why I am trying controller spec because I need to test request flow for this request.

[2019-11-30 09:01] JonRowe commented on #2214
It is a routing issue because you are getting a `ActionController::UrlGenerationError`, which only happens from route generation issues. What is happening is you are not providing the correct parameters to Rails to generate the route, essentially you have to emulate the router. You need to be in the right context for the route to work.

[2019-11-30 10:16] aniketstiwari commented on #2214
@JonRowe  This is not a routing issue in rails. I have created an dummy rails application
https://github.com/aniketstiwari/practice_rails

Hit this url: http://localhost:3001/abc

Started GET "/abc" for ::1 at 2019-11-30 15:42:55 +0530
Processing by UserPostsController#index as HTML
  Parameters: {"param"=>:user_type, "user_type"=>"abc"}

[code]
In rails side everything is working fine but rspec i

[2019-11-30 10:23] JonRowe commented on #2214
@aniketstiwari sorry I am explaining this badly, this:

[code]

Is a Rails call, from within RSpec, RSpec does not provide the error that occurs, you must change this line to match your route.

[2019-11-30 10:29] aniketstiwari commented on #2214
@JonRowe  You mean to say that we can't write controller spec for this one.

[2019-11-30 10:31] JonRowe commented on #2214
No I'm saying if you choose to write controller specs you must provide all the parts of the route that Rails expects, to work this out you must look at your router and `rake routes` output and work out all the params and formats required to trigger the route.

[2019-11-30 10:52] JonRowe commented on #2214
See aniketstiwari/practice_rails#1, you need to provide the extra param, as you've added it in your router, its not a magic keyword for the type of route your using. In future can you please try to solve these issues yourself, ask on stack overflow, or use the mailing list. We prefer that Github issues are actually used for real bug reports as our time as volunteers is limited.

[2019-11-30 10:59] aniketstiwari commented on #2214
@JonRowe
Actually now I notice why it is failing

If i provide like this it is failing
` get :index,  params: { param: 'user_type', user_type: 'abc' }`

But as mentioned in your comment I interchange the arguments
`get :index, params: {user_type: 'abc', param: :user_type}
`
And it works like a charm. Thanks for your help.

Initially, I have asked this question [https://stackoverflow.com/questions/

[2019-11-30 11:53] JonRowe commented on #2214
Because it has to be exactly what rails wants, and a string is not a symbol.

[2019-12-04 09:54] JoeNyland opened #2218 "Unable to install rspec-rails using README.md instructions"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: `ruby 2.6.5p114 (2019-10-01 revision 67812) [x86_64-darwin19]`
Rails version: `Rails 5.2.3`
RSpec version: `RSpec 3.9`

## Observed behaviour

* As per the [README.md](https://github.com/rspec/rspec-rails/blame/d0f81dfccf92df655caeacfd1ce0ba1808779f99/README.md#L31) I made this change:

[code]

* Then install:

[code]

## Expecte

[2019-12-04 15:07] damienlethiec opened #2219 "DEPRECATION WARNING: Initialization autoloaded the constant"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.6.5
Rails version: 6.0.0
RSpec version: 3.9.0

## Observed behaviour

When I run my test, I got a deprecation warning:
[code]

Line 8 in my environment.rb is `Rails.application.initialize!`

## Expected behaviour

No deprecation warning !

Thanks so much in advance,
Damien

[2019-12-04 15:42] JonRowe commented on #2218
:wave: `README.MD` is for the 4.0.0 series / master branch, it is installable as `4.0.0.beta3` although we are hoping to have the final release out soon. The 3.9 branch refers to 3.9 etc in the readme, and if you look on Rubygems you'd get the right readme.

[2019-12-04 15:42] #2218 closed

[2019-12-04 15:44] #2219 closed

[2019-12-04 15:46] JonRowe commented on #2219
This is a problem within your codebase:

This means that somewhere in your boot process you are referencing `Shop` without a require for it first. This process uses code in `config` and `config/initializers`, which is where you will likely find the suspect code.

[2019-12-04 15:58] damienlethiec commented on #2219
Thanks ! I tried to look for it but cannot fin any reference... I will try more

[2019-12-04 16:03] damienlethiec commented on #2219
Found it ! Sorry for the issue ! It can be closed ! Thanks so much

[2019-12-04 20:05] pirj commented on #2139
We get 2325 offences with `standardrb` and 602 with `rubocop` with our configuration.

RuboCop [is going to become stable once it hits 1.0](https://github.com/rubocop-hq/rubocop/pull/7184#issuecomment-506492606), chances are this will happen soon.

[2019-12-04 20:21] JonRowe commented on #2139
Yeah I'm going to close for now.

[2019-12-04 20:21] #2139 closed

[2019-12-05 09:40] klyonrad commented on #2056
And/Or a command line option - which also provides the possibility to generate a feature spec

A project might have decided to write request specs only for API controllers and feature specs for the controllers with views and user facing functionality.

But generally it is not nice that the generated stuff contradicts official recommendations - just leads to discussions everywhere 😉

[2019-12-05 09:43] JonRowe commented on #2056
Well given that the next version is a major version, if someone wanted to tackle the default switch over now would be the time.

[2019-12-05 09:44] JonRowe commented on #2056
I don't myself have time to do it, but if either of you @klyonrad or @bekicot, wanted to tackle it please do.

[2019-12-05 15:50] rlue opened #2220 "`rails g rspec:install` doesn't add `config.generators.test_framework` setting"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.7.0preview1
Rails version: 6.0.1
RSpec version: 3.9

## Observed behaviour

First...

[code]

then...

[code]

## Expected behaviour

[code]

Obviously this is achieved by adding the following line to the Rails application config:

[code]

but I am curious—is does the RSpec team consider this too much hand-holding? In my opinio

[2019-12-05 16:03] pirj commented on #2220
I believe it's [here](https://github.com/rspec/rspec-rails/blob/be3ae66f25863e05336d7fb54b363a833179aa4c/lib/rspec-rails.rb#L21).

Can you reproduce this with `rspec-rails` version `4.0.0.beta3`?

[2019-12-05 16:14] rlue commented on #2220
Wow, that was fast!

It appears that in order to take advantage of this, I need to `require 'rspec-rails'` in `/config/application.rb`. Is this the correct approach? Is there another way to do it?

[2019-12-05 16:14] #2220 closed

[2019-12-05 17:55] pirj commented on #2220
As far as I remember, putting this in `Gemfile` is sufficient:
[code]

[2019-12-05 22:17] chase439 commented on #769
None of the solutions above work. The problem is I'm trying to use the routes from "dummy" application inside the gem's engine's spec. Even though it can be loaded via rspec's `routes { Rails.application.routes }`, rspec doesn't know how to route to the main dummy app, but instead only to the engine's controllers.

[2019-12-06 02:08] nitsujri commented on #1250
The difficulty with adding it at the `rails_helper.rb` level is it replaces all url_helpers for the entire suite including if scoped to a specific `type:` (just replaces for all that type).

If you want it for a specific spec, run it in a before on that particular group:

[code]

This will replace all core routes with the engine routes. I didn't need to "add" it to the core routes, so that is not

[2019-12-06 05:53] rlue commented on #2220
My goodness, you're right. I think when I tried it yesterday, maybe I hadn't run `spring stop`, so the generators were running based on the outdated application config? Thanks again for your insight.

[2019-12-06 13:38] JonRowe commented on #1250
We acknowledge this is an area that needs improvement, we just don't have time to help, if you do please contribute a PR and we'll happily help review it and get it in.

[2019-12-06 13:39] JonRowe commented on #1250
We acknowledge this is an area that needs improvement, we just don't have time to help, if you do please contribute a PR and we'll happily help review it and get it in.

[2019-12-07 00:54] klyonrad commented on #2056
I actually didn't want to nag, just chiming about the idea of file configuration. So sorry for the wording.

Anyway, I got motivated a bit, but have to stop for now (configurability doesn't seem to work, at least according to my tests). For the case If I don't get back to it here is my branch: https://github.com/klyonrad/rspec-rails/commits/controller-default-generated-specs

I also started thinki

[2019-12-08 04:13] rlue commented on #2220
Okay, one thing I just noticed is that the default generators still create controller specs, even though they are discouraged as of RSpec 3.5.

I ended up adding the following line to my `config/application.rb`:

[code]

Is this something that is worthy of fixing? Is a fix already planned for it? I can think of two ways:

1. disable controller specs from the generator by default; or
2. modify the

[2019-12-08 09:28] pirj commented on #2220
Good point. This is something that https://github.com/rspec/rspec-rails/pull/2222 is about to address.

[2019-12-08 22:10] #1783 closed

[2019-12-09 14:59] benoittgt commented on #769
@chase439 could you provide a reproduction example? Is this https://github.com/rspec/rspec-rails/issues/1250 can help you?

[2019-12-09 15:26] chase439 commented on #769
@benoittgt Thanks but that doesn't help. #1250 basically includes the engine's routes into rspec context. What I need is the main_app (aka dummy app or Rails.application) routes in rspec. I can't provide project code right now as it's inside enterprise network.

[2019-12-09 21:13] Yorkshireman commented on #1650
@aaronwbrown I'm using `post '/routename', params: params, as: :json` but when I try to add `headers`, eg `post '/wordlistentries', params: params, as: :json, headers: headers` the params nor the headers get through to the controller. Anyone know how to get the headers in there too? I tried putting the headers arg in different places to no avail

[2019-12-12 14:45] benoittgt commented on #769
@chase439 I will be super happy to help you on my free time. But I need at minimum an app to reproduce the behavior. 🙂

[2019-12-15 22:29] klyonrad opened #2230 "Generate request spec by default when generating scaffolds"
Similar problem like in #2056. Upon using `rails generate scaffold` it would be good if controller tests would not get generated and instead request specs are generated.

[2019-12-16 15:47] jrochkind opened #2232 "Can not change ActiveJob::Base.queue_adapter in Rails 6 system spec"
Rails 6.0.2 (or 6.0.1), rspec-rails 4.0.0.beta3, rspec-core 3.9.0.

I am used to being able to set `ActiveJob::Base.queue_adapter` to `:inline` in some tests and `:test` in others -- depending on nature of test, one or the other may be more convenient.

In particular in `system` tests (which I understand are now recommended by rspec-rails over the older rspec-specific `feature` tests), it is often

[2019-12-16 15:58] jrochkind commented on #2232
My attempt to make a reproduction in straight Rails **does not reproduce**, it _does_ appear to be a problem specific to `rspec-rails`.

This following Rails system test **passes** in Rails 6.0.2, demonstrating it is possible to change`    ActiveJob::Base.queue_adapter` in a Rails `system` test using standard rails testing.

[code]

[2019-12-16 17:52] jrochkind commented on #2232
It's definitely got something to do with [ActiveJob::TestHelper](https://github.com/rails/rails/blob/master/activejob/lib/active_job/test_helper.rb).

I can't figure out what would have changed related to that in Rails 6. I can see how some of what's in there seems problematic, but it seemed problematic in Rails 5.2 also.  There is some discussion of related in rails/rails#37270 , but I don't full

[2019-12-16 18:31] JonRowe commented on #2232
We don't tamper with this setting so its extremely odd if its something we're doing, it's more likely an interaction with ordering either of helpers or module inclusion et al, if you can find how they fixed it for minitest for 6.0.2 its likely that change can be applied here to help rspec-rails users.

[2019-12-16 18:54] jrochkind commented on #2232
Thanks for reply. I can't really figure out what's going on at all.

I understand it's not something you're doing, but it's still something that breaks with rspec-rails under Rails 6.0, and makes something useful/necessary to do no longer possible.  I suspect many people other than me are going to run into this.

Part of the confusion is that the way you do a number of things related to jobs and t

[2019-12-16 18:58] jrochkind commented on #2232
OK wait. That rails change makes Rails `SystemTestCase` "Inherit from ActiveSupport::TestCase instead of ActionDispatch::IntegrationTest"

Would that be a corresponding change needed in rspec-rails [SystemExampleGroup](https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/example/system_example_group.rb)?

It looks like it's still got:

https://github.com/rspec/rspec-rails/blob/7d68eb23

[2019-12-16 19:10] jrochkind commented on #2232
Okay, actually, just _removing_ the line `other.include ActionDispatch::IntegrationTest::Behavior`  from https://github.com/rspec/rspec-rails/blob/7d68eb2306f3495d62618318e8839cf20f2a463d/lib/rspec/rails/example/system_example_group.rb#L74 makes _my_ specs pass again.

That might corerspond to rails/rails#37270 SystemTestCase "Inherit from ActiveSupport::TestCase instead of ActionDispatch::Integra

[2019-12-16 19:30] dorner commented on #1357
This is still an issue as far as I can tell. The callback isn't even being called in this case because it's not a verified double but a partial double.
Would be nice if rspec-mocks could add a callback to when the expectation is being created (or move the callback here) so it would apply in all cases.

[2019-12-16 19:37] dorner commented on #1357
I've used this patch and it seems to work:
[code]

[2019-12-16 19:51] jrochkind commented on #2232
OK, the specific rails commit that was a backport in rails to 6-0-stable branch, that probably needs to be done equivalently in rspec-rails is https://github.com/rails/rails/commit/ea77dbffdc81d6e40bbde155961ab57f1450d1e4

I am trying to prepare an rspec-rails PR, but not familiar with what's going on, having trouble figuring out what's going on in rspec-rails tests, like can't figure out how/if [

[2019-12-17 09:48] JonRowe commented on #1357
@dorner sadly that patch is not something we can merge, as the gems are independent of each other, it is what we try to setup [here on lib/rspec/rails/active_record.rb#L14](https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/active_record.rb#L14) but something in that autodetection is not working correctly.

[2019-12-17 10:10] klyonrad opened #2235 "Add frozen_string_literal pragma to generated files"
Up for discussion obviously

**Is your feature request related to a problem? Please describe.**

I'm always frustrated when the files from a generator are generated do result in linting tools (mostly `rubocop`) screaming at me.

I know obviously that completely adhering to one style is obviously a bit pointless. But the first one rubocop offense top of the file. String literals are not frozen. And

[2019-12-17 11:08] pirj commented on #2235
Is there any evidence that freezing literals in spec files gains any benefit in terms of memory consumption or execution time? Is there a case that a string object might be accidentally mutated and have side effects on other examples?

Related: https://github.com/rspec/rspec-core/issues/2264 https://github.com/rspec/rspec-core/pull/2662

[2019-12-17 11:12] pirj commented on #2235
Some prefer it with this pragma, some - without.

I'm not aware of generator integration with style configuration, it would be barely possible to yield results that would appease style checkers. With RuboCop though, it should be possible to extend generators to run `rubocop --safe-auto-correct` on generated files. Would it work for you?

[2019-12-17 12:36] klyonrad commented on #2235
In my opinion this does not matter, which is why I would not bother with making a benchmark.

Freezing string *literals* is objectively better, it reduces less memory; it enforces to use some more explicit code, etc. It is *what the ruby community should strive for as a whole*.

Why would anyone prefer that unless for some annoying compatibility reason? Besides, we are talking about generated, emt

[2019-12-17 13:36] pirj commented on #2235
I did some benchmarks back in the day when optimizing a huge test suite, and couldn't find any improvements in memory consumption with that pragma turned on.

One of the real-life reasons to turn it off is two meaningless lines, and I'd really love to see a good justification for that. It's not that two lines are a big deal, but what's on the other side of the scales?

[2019-12-17 14:58] JonRowe commented on #2235
:wave: I don't think you sound rude, but there is back story you are missing as to why we don't do this currently. RSpec is semantically versioned and we are also catering to the lowest common denominator, we want everyone to be able to use RSpec to test things. We haven't historically recommended it because it has to work out of the box, sure its frustrating when things aren't setup the way you w

[2019-12-17 15:04] dorner commented on #1357
@JonRowe The issue is the `when_declaring_verifying_double` callback. That's only called when using methods like `object_double` or `instance_double`. The callback isn't called at all when using `any_instance`.

I suppose a better fix would be to add one more callback to `rspec_mocks` that is triggered when an `any_instance` is set up, which would basically mirror my ghetto patch above.

[2019-12-17 15:09] JonRowe commented on #1357
Or just make it use the existing one, the issue is we have to provide api's for rspec-rails to call.

[2019-12-17 15:11] dorner commented on #1357
Yeah exactly. I have a long to-do list right now but I can tack on adding the callback to rspec-mocks. Not sure when I'll have a chance to do it though. :( If anyone else wants to, it's probably a really small change.

[2019-12-17 15:12] JonRowe commented on #1357
We just need to trigger the existing one, I think

[2019-12-17 15:29] jrochkind opened #2237 "cucumber failures on master from local clone?"
As I try to get up to speed to potentially make a PR to ~rspec-core~rspec-rails... I unfortunately don't seem to have green tests even off of un-edited master. But I see master is green on travis. So I may be missing a setup step or something? The [relevant docs](https://github.com/rspec/rspec-core/blob/master/BUILD_DETAIL.md) don't seem to mention anything special.

I can get further by first run

[2019-12-17 17:17] jrochkind opened #2238 "cucumber failures on master from local clone?"
As I try to get up to speed to potentially make a PR to rspec-rails... I unfortunately don't seem to have green tests even off of un-edited master. But I see master is green on travis. So I may be missing a setup step or something? The relevant docs at https://github.com/rspec/rspec-rails/blob/master/BUILD_DETAIL.md don't seem to mention anything special.

I can get further by first running `bundl

[2019-12-17 17:18] #2237 closed

[2019-12-17 17:18] jrochkind commented on #2237
Oops I went too fast and re-filed on rspec-rails at https://github.com/rspec/rspec-rails/issues/2238

Sorry! I'll stop doing things, and let you clean it up however you want.

[2019-12-17 17:19] jrochkind commented on #2237
oh my gosh, I DID file it on rspec-rails, that's where we are, I just said "rspec-core" when I meant "rspec-rails". Oh my, sorry for making a confusing mess of the filing!

[2019-12-17 17:20] JonRowe commented on #2237
@jrochkind no no, you did file on core, you were just too fast compared to me transferring it so I've reclosed this

[2019-12-17 19:59] pirj commented on #2238
I had this running cucumber locally last time as well but thought that something is horribly wrong with my dev env.

[2019-12-17 22:03] JonRowe commented on #2238
So the simple `rake` command works for me, have you set a rails version?

[2019-12-17 22:04] JonRowe commented on #2238
Especially as you've said you want to run post 6 features you'll need to have set Rails 6...

[2019-12-17 22:14] jrochkind commented on #2238
I'm sorry, I don't know what "set a rails version" means. When you say "the simple rake command works for me", had you "set a rails version"? Is this something that should be required to make things work?

 If you tell me how to do that, I'll try it out, and then issue a PR to https://github.com/rspec/rspec-rails/blob/master/BUILD_DETAIL.md explaining that you have to do that, and how to?

By "the

[2019-12-17 22:30] JonRowe commented on #2238
I can't bundle install without setting a rails version, e.g. `export RAILS_VERSION='6.0.0'`

[2019-12-17 22:47] jrochkind commented on #2238
Huh, I could `bundle install` just fine without setting a rails version. Weird. I'll play around with it more tomorrow, thanks!

[2019-12-18 11:42] aledelsur commented on #1897
This configuration on the 'rails_helper.rb' worked for me on Puma "3.11.4":

`Capybara.configure do |config|
  config.server = :puma, { Silent: true }
end`

[2019-12-18 15:41] jrochkind commented on #2238
Ok, investigating further:

I *can* run `bundle install` without setting `RAILS_VERSION`.  Both on initial checkout, AND after I've run `bundle exec rake` once. (I think `bundle exec rake` sets up some things that may effect environment, which is why I mention it, but not sure).

It looks like running `bundle install` without specifying `RAILS_VERSION`, I end up with dependencies in my bundle for

[2019-12-18 16:24] jrochkind commented on #2238
So, it takes about 20 minutes to run `bundle exec rake` on my MacBook (with `RAILS_VERSION` set). This is definitely inconvenient.

For comparison, `bundle exec rspec` takes 13 seconds (and passes).

`bundle exec cucumber` just doesn't work at all, 155 steps fail with the weird error `Command "bin/rspec" not found in PATH-variable`, but fails in only 20 seconds.

I don't have my head around what `

[2019-12-18 18:22] JonRowe commented on #2238
All of the RSpec repos use rspec itself to test their features at a unit level, some add integration tests into this mix, and they all use cucumber to run scenarios to verify correct behaviour as documented. RSpec-Rails also runs an additional stream of smoke tests to ensure that it functions correctly when mixed into rails. It is impossible for us to do this without actually creating rails apps w

[2019-12-18 18:33] jrochkind commented on #2238
A `bin/rspec` at the root of my checked out git repo? I don't have a `./bin/` at all, and I'm not sure why I would since there isn't one in the repo?  Where would you expect this ./bin directory to come from?

I'm not totally sure it's complaining about a root ./bin/rspec instead of inside one of those dummy created rails apps though? And I'm not sure where to find them, or what to expect would cr

[2019-12-18 19:03] JonRowe commented on #2168
Closing for now, feel free to reopen if theres something we can help with

[2019-12-18 19:03] #2168 closed

[2019-12-18 22:25] JonRowe commented on #2238
Bundler, they're bundler binstubs, they're expected. Run `bundle install --binstubs` to correct.

Both `rake` and `bundle exec cucumber` did work for me when you first opened this, however I've had to do some work on my bundle and now it fails for me with the same issue on CI, which is the bundler version issue.

[2019-12-18 23:06] jrochkind commented on #2238
After running `bundle install --binstubs` (with `RAILS_VERSION` set), I do have a `./bin/rspec`... but `bundle exec cucumber` is oddly still failing with the same `Aruba::LaunchError` about PATH. Weird. I am lost.

There do seem to be a number of undocumented steps not mentioned in the `BUILD_DETAIL.md` document, that you need to do after a `git clone`, in order to get all tests to run. If `--bins

[2019-12-19 17:28] benoittgt commented on #2238
@jrochkind that's good idea.

This can help you?

[code]

To execute one cucumber test for example

[code]

[2019-12-19 18:12] pirj commented on #2238
@benoittgt I'm getting this following your snippet:
[code]

[2019-12-19 19:18] jrochkind commented on #2238
@pirj that makes it seem like you didn't do `bundle install` with the same `RAILS_VERSION` set as was set when you were running the `bundle exec rake`, which would make me think, is it possible you didn't actually follow @benoittgt's instructions exactly?

@benoittgt : I believe there's a typo in your instrutions, it should be `rm -f Gemfile.lock && bundle install --standalone --binstubs` (you wer

[2019-12-19 19:22] benoittgt commented on #2232
Thanks for the detailed report @jrochkind. I will be happy to help you if I can in your PR.

[2019-12-19 19:23] pirj commented on #2238
I followed it to the letter. It seems we're having different issues, I'll try to figure out what's wrong with my setup.

[2019-12-19 19:42] benoittgt commented on #2238
@jrochkind `--binstubs` is deprecated in the last bundler version I use (2.1.1)
`[DEPRECATED] The --binstubs option will be removed in favor of 'bundle binstubs'`

For my `$PATH`. Related to Ruby I have `/Users/bti/.rvm/gems/ruby-2.6.3/bin:/Users/bti/.rvm/gems/ruby-2.6.3@global/bin:/Users/bti/.rvm/rubies/ruby-2.6.3/bin:/Users/bti/.rvm/bin`

`$ bundle exec rake FEATURE=features/controller_specs/con

[2019-12-19 20:13] jrochkind commented on #2238
@benoittgt realized I was still using a bundler 1.7.x, let's try with bundler 2 to make sure it makes no difference... and just to avoid any other new unsolved weirdness, let's use bundler  2.0.2 instead of 2.1.x.... starting from a brand new fresh checkout again.... (Still curious why you're doing `standalone`, it definitely makes the install slower)... I personally do not use `rvm` but it seems

[2019-12-19 21:16] Yorkshireman opened #2243 "Request spec - cannot use params and headers args at the same time"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: `2.6.5p114 (2019-10-01 revision 67812) [x86_64-darwin18]`
Rails version: `6.0.2.rc1`
RSpec version:
[code]

## Observed behaviour
Request spec:
[code]

## Expected behaviour
The headers and the params should appear in the controller as headers and request body respectively.

## Can you provide an example app?
https://github.com/Y

[2019-12-19 22:11] JonRowe commented on #2243
Apologies for the confusion here, by post is not part of `rspec-rails`, its actually one of rails test methods, I suggest you raise this with them.

[2019-12-19 22:11] #2243 closed

[2019-12-20 14:39] #2056 closed

[2019-12-20 14:41] JonRowe commented on #2230
Now that #2222 is merged do you fancy a go at this as well @klyonrad ?

[2019-12-20 15:18] klyonrad commented on #2230
Yes, that's why I created this issue 😉

[2019-12-20 22:13] novikserg commented on #1596
nice stuff @mikehale ! The only thing missing is `Rails.application.routes.append` instead of `Rails.application.routes.draw` (so that it doesn't wipe out existing routes in case your code depends on it explicitly elsewhere)

[2019-12-20 22:41] novikserg commented on #1596
thanks @mikehale , and if you guys also want your existing routes to persist (in case your app somehow depends on them even when testing this controller), you'll need to do this

[code]
so that your routes are appended rather than fully replaced.

[2019-12-22 13:53] JonRowe commented on #2245
Transfered but I think #2211  dealth with this, @pirj?

[2019-12-22 17:25] pirj commented on #2245
It should be.
@Startouf can you please try [this](https://github.com/rspec/rspec-rails/pull/2206/files#diff-0dd216b9dba713f1f2f0f21890a5fc07R219):

[code]

It's not released yet, it's on `master` branch.

[2019-12-26 15:38] benoittgt commented on #2245
I just did a test on a fresh app with

[code]

[code]

And it works when using rspec-rails on master.
[code]

[2019-12-26 15:38] #2245 closed

[2019-12-26 16:14] benoittgt commented on #2238
With master from today you should not have issue. I just tried to run with a fresh clone with success.

<details><summary>Full logs with commands executed</summary>
<p>

[code]

</p>
</details>

Same success with `bundle exec rake`

[2019-12-30 01:33] antarr opened #2249 "Error when migrating for MiniTest to RSpec"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.6.5p114
Rails version: 4.2.11.1
RSpec version: 3.9.0

## Observed behavior

I'm trying to migrate my rails application to RSpec. But I'm getting the error uninitialized constant ActiveRecord::Relation when running the specs. It says it's on line 10 of application.rb which is Bundler.require(:default, Rails.env) if defined?(Bund

[2019-12-30 08:17] pirj commented on #2249
It's strange that it reports `./spec/rails_helper.rb:5:in `require'`, but there's no `require` on line 5 there. Can you please confirm this is correct?

[2019-12-30 11:00] JonRowe commented on #2249
:wave: There is something strange going on with your load ordering (Its highly unlikely this is an rspec-rails issue), from your stacktrace:

[code]

Can you confirm that whats in `swagger_helper`? And that your `rails_helper` is exactly as pasted above? As the line numbers don't match up.

You might also want to make sure that spring / bootsnap has been stopped / restarted after installing rspec.

[2019-12-30 13:46] antarr commented on #2249
@JonRowe @pirj  I've updated the error and files above. Those were from a different branch where I tried to implement RSpec. Sorry for the confusion.

[2019-12-30 19:16] pirj commented on #2249
I might be mistaken, but this might be the culprit:
[code]

Rails 4.2's [default template](https://github.com/rails/rails/blob/4-2-stable/railties/lib/rails/generators/rails/app/templates/config/application.rb#L3) suggests:
[code]

Can you please try it this way (without `Bundler.setup`)?

[2019-12-30 19:45] antarr commented on #2249
@pirj That didn't help

[2019-12-31 10:19] JonRowe commented on #2249
Whats the contents of `config/environment.rb` and `config/boot.rb`?

I'm closing this for now because its not an `rspec-rails` issue, but an issue with your configuration. I'm happy to keep helping here but bare in mind its the holidays so there may be delays in replies.

[2019-12-31 10:19] #2249 closed

[2019-12-31 14:09] antarr commented on #2249
@JonRowe I've added those files above.

[2019-12-31 15:04] JonRowe commented on #1357
Closed by rspec/rspec-mocks#1309

[2019-12-31 15:04] #1357 closed

[2020-01-01 20:32] pirj commented on #2249
Can you try to narrow it down to a specific group by changing:
[code]

[2020-01-01 23:48] antarr commented on #2249
@pirj The only group that gets printed is default.

[2020-01-02 09:05] JonRowe commented on #2249
@antarr can you run rspec with `--backtrace` to see if there is some missing entries?

What likely happening is something isn't requiring `active_record` but needs it. Need to find what it is so you can require it.

Does this app start up in dev?

[2020-01-02 12:50] klyonrad commented on #1023
Hey, this issue can be closed, right? I don't think you can become significantly faster with travis anyway and 10-15 minutes for one integration test suite run seems fine (and running `rake spec` is blazingly fast)

[2020-01-02 12:53] klyonrad commented on #1160
Seems like this issue can be closed with https://github.com/rspec/rspec-rails/pull/2134, right?

[2020-01-02 13:00] #1160 closed

[2020-01-02 13:35] antarr commented on #2249
@JonRowe

**This is the error log when trying to start in development**
[code]

**After changing `ApplicationRecord` to `ActiveRecord::Base` in `lib\` files I get this error when running rspec with --backtrace**
[code]

[2020-01-02 13:48] antarr commented on #2249
The problem seems to be with ActsAsPublishable. If I remove it from ApplicationRecord.rb I can start the server in development. But I still can't run the specs.

**bundle exec rspec --backtrace /spec**
[code]

**app/models/application_record.rb**
[code]

[2020-01-02 14:36] pirj commented on #2249
It seems that the problem goes beyond RSpec.
I can suggest to require `activerecord` from `app/models/application_record.rb` and get rid of bootsnap to pinpoint the issue.

[2020-01-02 15:22] antarr commented on #2249
@pirj That didn't change anything at all

[2020-01-02 17:09] pirj commented on #2249
It seems that `acts_as_publishable` is quite old and might not be compatible with your version of Rails. Its [gemspec for that version](https://github.com/rbgrouleff/acts_as_publishable/blob/3cb4c03a79703d7cb200a3111d57963ac07243ab/acts_as_publishable.gemspec) has no dependency on `rails` and still references `ActiveRecord::Base`, what is most probably the reason for failures.
If you can dump it,

[2020-01-04 16:24] JonRowe commented on #1023
I'm going to close this as stale for now, we could speed up the suite by splitting the build up into simpler parallel bits, maybe as part of a move to github actions or something...

[2020-01-04 16:24] #1023 closed

[2020-01-04 21:10] JonRowe commented on #2249
Try adding `require: false` to the options for your gem listing for `acts_as_publishable`, then requiring it immediately after your bundler setup...

[2020-01-05 16:47] benoittgt commented on #1023
I will try next week to run rspec-core or rspec-rails on github actions on a fork, to see if it could help us. :)

[2020-01-06 13:53] antarr commented on #2249
@JonRowe That seems to help. I had to do it for a few gems. So now I'm getting an error when trying to load authlogic.

**error**
Failure/Error: require File.expand_path('../config/environment', __dir__)
[code]
**application.rb**
[code]

**tried adding this to application.rb**
[code]
I also tried requiring `rubygems` in the application.rb

[2020-01-06 14:15] jrochkind commented on #2238
@benoittgt thanks for the reprodution script.

Oddly, I am still having the problem.

I can't think of what the difference could be between my environment and yours. But if you can't reproduce, I understand there isn't much you can do about it. It might be good to get another data point --- @pirj , can you currently run cucumber successfully using @benoittgt's script?

<details>
<summary>Here's my

[2020-01-06 14:23] benoittgt commented on #2238
Hello @jrochkind

In your log you do `bundle install` but never install the binstubs. Could you try `bundle install --standalone --binstubs`?

[2020-01-06 14:57] antarr commented on #2249
I also get the error below when trying to require declarative_authorization

**error**
[code]

I added this code before . It doesn't error but doesn't help either
[code]

[2020-01-06 15:04] jrochkind commented on #2238
@benoittgt oh right, I had forgotten we had discussed that -- it wasn't in your terminal log though (which is why I didn't do it this time trying to copy your terminal log), so didn't seem necessary for you?

But okay, trying with that (although the `--standalone` part is kind of annoying for me as it makes install go so much slower, and I don't see how it would be relevant, I'll do it just to be

[2020-01-06 15:34] pirj commented on #2249
What is dependent on `polyamorous`? Can you please share your `Gemfile.lock` as well?
A wild guess to `require: false` this dependency as well, and `require 'arel'` before requiring it in `application.rb`.

[2020-01-06 21:55] antarr commented on #2249
polyamorous is required by squeel

[2020-01-07 14:29] ZeroPointEnergy opened #2252 "v4.0.0.beta3 regression when using mocha"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: 2.6.5p114
Rails version: 6.0.2.1
RSpec version: 4.0.0.beta2

The application in question uses the mocha gem together with rspec-rails

## Observed behaviour

WIth 4.0.0.beta3 if I use something like this:
`Node.any_instance.stubs(:compiled_parameters).raises ParameterConflictError`
I get the following error:
`The use of doubles o

[2020-01-07 14:44] antarr commented on #2249
@pirj

**Gemfile.lock**

[code]

[2020-01-07 15:52] benoittgt commented on #2252
Hello

Thank for your issue. Isn't weird to use both library? 🤔

Also `any_instance` is from the legacy `should`. A quick fix may be to disable it if you are not using. http://rspec.info/documentation/3.9/rspec-mocks/RSpec/Mocks/Configuration.html#syntax=-instance_method

We require rspec-mock here because we use `any_args` (from `RSpec::Mocks::ArgumentMatchers`) to build `args`. https://github.co

[2020-01-07 17:16] ZeroPointEnergy commented on #2252
I don't use `rspec::mocks`, I use `config.mock_with :mocha`. The issue if I understand it correctly is that `rspec::mocks` is now loaded anyways.

[2020-01-07 17:38] pirj commented on #2249
Nice. Have you tried to apply the trick with `require: false` `squeel` and `declarative_authorization` in `Gemfile`?

[2020-01-07 17:47] pirj commented on #2252
Wondering what is calling [`enable_should`](https://github.com/rspec/rspec-mocks/blob/master/lib/rspec/mocks/syntax.rb#L26), and if you can avoid this from being called @ZeroPointEnergy .

[2020-01-07 18:44] JonRowe commented on #2252
Er, hm, `rspec-rails` does use `rspec-mocks` (so it you use `rspec-rails` you do use `rspec-mocks`) but regardless `rspec-mocks` and `mocha` shouldn't be interfering with each other...

I'm not sure why you're getting out own scope error, it must be the require causing an overload, if you turn off monkey patching does it go away @ZeroPointEnergy ?

[2020-01-08 04:00] borenho opened #2254 "Expect action to change object attribute to something"
**Is your feature request related to a problem? Please describe.**
It appears that the most common way to check if an attribute has changed is to check whether that attribute value equals what you expected.
This is quite unclear to me because sometimes you are not sure what the initial value of that attribute was, and you do not want to start checking factories just to confirm that.

**Describe th

[2020-01-08 06:32] ZeroPointEnergy commented on #2252
If I disable monkey patching in the rspec configuration it doesn't even get to the test because something breaks long before that. The `should` syntax is enabled on purpose because a lot of tests are written this way in the application. It is a pretty old open source project I try to keep updated in my free time https://github.com/sodabrew/puppet-dashboard

[2020-01-08 08:38] pirj commented on #2252
Thanks for reporting this, I'm able to reproduce the issue.
It seems that removing `require 'rspec/mocks' from `lib/rspec/rails/matchers/have_enqueued_mail.rb` doesn't help much, as it's autoloaded on `include RSpec::Mocks::ExampleMethods` anyway.

The problem as I see it is that `rspec-mocks`' patch to `Class` is added before Mocha's.
I could quickly work around this like that:
[code]

Can you pl

[2020-01-08 09:22] pirj commented on #2254
The problem with this code is that `reload` is sent before the change.
So basically this:
[code]
expands to:
[code]

There are two problems here. One is that `reload` is executed before the change. You probably expected it to reload after the change.
And another is that you have to do a reload, something in your code instead of using the model is finding it by id and re-instantiating it from scrat

[2020-01-08 09:22] #2254 closed

[2020-01-08 11:23] borenho commented on #2254
Thank you @pirj ! That does help indeed.

[2020-01-08 13:52] pirj commented on #2254
You're always welcome!

[2020-01-08 13:58] JonRowe commented on #2254
To avoid the double reload you can also do:

[code]

[2020-01-08 15:41] ianneub opened #2255 "Controller tests do not get session.id set correctly"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: ruby 2.6.5p114 (2019-10-01 revision 67812) [x86_64-darwin18]
Rails version: Rails 5.2.4.1
RSpec version: RSpec 3.9

## Observed behaviour

Rspec does not seem to be setting up controller specs with the new `Rack::Session::SessionId` class. See https://github.com/rails/rails/issues/38039 and https://github.com/rack/rack/issues/143

[2020-01-08 16:04] JonRowe commented on #2255
If you change your test to a request spec it should work, Rails deprecated controller tests (and thus specs) for this reason, they don't run the full request cycle. We don't actually "set the controller up" in `rspec-rails` we just integrate the rails testing helpers into RSpec.

[2020-01-08 16:04] #2255 closed

[2020-01-08 18:21] borenho commented on #2254
@JonRowe nifty!

[2020-01-09 16:52] #2252 closed

[2020-01-09 21:47] pirj commented on #2205
@mkamensky A friendly reminder about doc update pull request.

[2020-01-10 06:54] ybiquitous commented on #2184
Hi, I try the following workaround and it works on my project:

Ruby version: 2.6.5
Rails version: 5.2.4.1

[code]

It seems that PR #2125 has resolved it but not released yet.

[2020-01-10 09:49] JonRowe commented on #2184
@ybiquitous it should have been released as `4.0.0.beta3`

[2020-01-10 09:59] ybiquitous commented on #2184
@JonRowe Oh, thank you! I'll try it.

[2020-01-10 11:40] ybiquitous commented on #2184
`4.0.0.beta3` works fine on our project. Thank you so much! @JonRowe

[2020-01-10 14:12] antarr commented on #2249
I've applied it to all these gems

[code]

[2020-01-10 14:12] JonRowe commented on #2184
@simmerz is this still an issue for you?

[2020-01-10 15:47] mkamensky commented on #2205
Just did, not sure if there is any tests or anything beyond just fixing the links. Thanks.

[2020-01-10 19:49] pirj commented on #2249
Please add it to `declarative_authorization` as well.

[2020-01-11 13:27] #1655 closed

[2020-01-11 14:18] klyonrad commented on #2230
Hey @JonRowe do you happen to have an idea why the Scaffold Generator creates the empty request spec?

I think my previous PR had this effect

See

[code]

I suspect that it caused because the scaffolds generator executes the controller Generator and the Controller Generator has the default option for the request spec from my previous PR